<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}
      body {  margin: 0;}
      * {  box-sizing: border-box;  border-width: 0;  border-style: solid;}
      p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}
      button {  background-color: transparent;}
      button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}
      button,select {  text-transform: none;}
      /* button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;} */
      button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />

    
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div>
 
      <div class="found-pet-listing-container">
        <div class="found-pet-listing-found-pet-listing">
          <div class="found-pet-listing-header-default">
            <div>


              <div class="found-pet-listing-frame20">
                <img
                  src="./assets/public/playground_assets/explorei504-y6gd.svg"
                  alt="ExploreI504"
                  class="found-pet-listing-explore"
                />
                <span class="found-pet-listing-text MontserratSemibold14px">
                  <span><a href="/listing/Lost-Pet">I’ve Lost Pets</a></span>
                </span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="./assets/public/playground_assets/materialsymbolssearchroundedi504-0oh.svg"
                  alt="materialsymbolssearchroundedI504" class="found-pet-listing-materialsymbolssearchrounded" />
                <span class="found-pet-listing-text002 MontserratSemibold14px">
                  <span><a href="/listing/found-Pet">I’ve Found Pets</a></span>
                
                </span>


              </div>

 


            </div>
              <a href="">
            <div class="found-pet-listing-logo">
              <div class="found-pet-listing-group">
                <img
                  src="./assets/public/playground_assets/temporarylogoi504-ewrm-200h.png"
                  alt="TemporaryLogoI504"
                  class="found-pet-listing-temporary-logo"
                />
              </div>
              <img
                src="./assets/public/playground_assets/li504-4yjw.svg"
                alt="LI504"
                class="found-pet-listing-l"
              />
              <img
                src="./assets/public/playground_assets/gi504-iz6.svg"
                alt="GI504"
                class="found-pet-listing-g"
              />
              <img
                src="./assets/public/playground_assets/oi504-pzde.svg"
                alt="OI504"
                class="found-pet-listing-o"
              />
            </div>
          </a>


            <div class="found-pet-listing-frame24">
              <a href="listing/Search">  <span class="found-pet-listing-text004 MontserratSemibold14px">
                <span>Breeds</span>
              </span>
              </a>
              <a href="listing/Search"> <span class="found-pet-listing-text006 MontserratSemibold14px">
                <span>Search Pets</span>
              </span>
              </a>


                <a href="/auth/login" style="text-decoration: none;">
                  <span  *ngIf="!isLoggedIn" class="found-pet-listing-text008 MontserratSemibold14px">
                  <span>Login</span>
                </span>
              </a>

                <a style="text-decoration: none;" (click)="logout()" href> <span *ngIf="isLoggedIn"
                    class="hero-text32 MontserratSemibold14px">
                    <span>Logout</span>
                  </span>
                </a>
            

  <a href="/auth/registre"> 

              <button class="found-pet-listing-patientbutton" *ngIf="!isLoggedIn">
              <div class="found-pet-listing-statelayer">
                <span class="found-pet-listing-text010 MontserratSemibold14px">
                  <span>Sign up</span>
                </span>
              </div>
            </button>
          
          </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a style="text-decoration: none;" href="Account">
  <button style="color: rgb(78, 67, 67);" class="btn btn-outline-success" type="button" *ngIf="isLoggedIn">


    <span>{{this.eeee}}</span>


  </button>
</a>



            </div>
            <img
              src="./assets/public/playground_assets/rectangle5i504-3v5w-200h.png"
              alt="Rectangle5I504"
              class="found-pet-listing-rectangle5"
            />
          </div>
          <div class="found-pet-listing-footer">
            <div class="found-pet-listing-frame2608782">
              <div class="found-pet-listing-frame2608747">
                <div class="found-pet-listing-frame2608743">
                  <span class="found-pet-listing-text012 TradeGothicBoldH1">
                    <span>Subscribe Newsletter</span>
                  </span>
                  <div class="found-pet-listing-frame2608755">
                    <div class="found-pet-listing-frame26087431">
                      <span
                        class="found-pet-listing-text014 MontserratRegularH5"
                      >
                        <span>Join Our Community</span>
                      </span>
                      <span
                        class="found-pet-listing-text016 MontserratRegularBody"
                      >
                        <span>
                          Be the First to Know About New Adoptable Pets and
                          Receive Our Monthly Newsletter. Subscribe Now!
                        </span>
                      </span>
                    </div>
                    <div class="found-pet-listing-frame2608741">
                      <div class="found-pet-listing-textfield">
                        <div class="found-pet-listing-textfield01">
                          <div class="found-pet-listing-statelayer1">
                            <div class="found-pet-listing-content">
                              <div class="found-pet-listing-labeltext">
                                <span
                                  class="found-pet-listing-text018 MontserratRegularBody"
                                >
                                  <span>Your email address</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button class="found-pet-listing-button">
                        <div class="found-pet-listing-stylelayer">
                          <span
                            class="found-pet-listing-text020 MontserratMedium14px"
                          >
                            <span>Subscribe</span>
                          </span>
                        </div>
                      </button>
                      <button class="found-pet-listing-button01"></button>
                    </div>
                  </div>
                </div>
                <img
                  src="./assets/public/playground_assets/emojionev1openmailboxwithloweredflagi504-9ckk.svg"
                  alt="emojionev1openmailboxwithloweredflagI504"
                  class="found-pet-listing-emojionev1openmailboxwithloweredflag"
                />
              </div>
              <div class="found-pet-listing-frame2608748">
                <div class="found-pet-listing-frame2608750">
                  <div class="found-pet-listing-logo1">
                    <div>
                      <img
                        src="./assets/public/playground_assets/temporarylogoi504-00ph-200h.png"
                        alt="TemporaryLogoI504"
                        class="found-pet-listing-temporary-logo1"
                      />
                    </div>
                    <img
                      src="./assets/public/playground_assets/li504-3ts6.svg"
                      alt="LI504"
                      class="found-pet-listing-l1"
                    />
                    <img
                      src="./assets/public/playground_assets/gi504-ujw.svg"
                      alt="GI504"
                      class="found-pet-listing-g1"
                    />
                    <img
                      src="./assets/public/playground_assets/oi504-1i9.svg"
                      alt="OI504"
                      class="found-pet-listing-o1"
                    />
                  </div>
                  <div class="found-pet-listing-frame2608749">
                    <div class="found-pet-listing-akariconsfacebookfill">
                      <div><div class="found-pet-listing-group3"></div></div>
                    </div>
                    <div class="found-pet-listing-akariconsyoutubefill">
                      <div class="found-pet-listing-group4">
                        <div class="found-pet-listing-group5"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="found-pet-listing-frame26087481">
                  <div class="found-pet-listing-frame2608742">
                    <span class="found-pet-listing-text022 TradeGothicBoldH6">
                      <span>Our Destinations</span>
                    </span>
                    <div class="found-pet-listing-frame2608776">
                      <span
                        class="found-pet-listing-text024 MontserratRegularSmallText"
                      >
                        <span>Canada</span>
                      </span>
                      <span
                        class="found-pet-listing-text026 MontserratRegularSmallText"
                      >
                        <span>Alaksa</span>
                      </span>
                      <span
                        class="found-pet-listing-text028 MontserratRegularSmallText"
                      >
                        <span>France</span>
                      </span>
                      <span
                        class="found-pet-listing-text030 MontserratMedium14px"
                      >
                        <span>Iceland</span>
                      </span>
                    </div>
                  </div>
                  <div class="found-pet-listing-frame2608744">
                    <span class="found-pet-listing-text032 TradeGothicBoldH6">
                      <span>Our Activities</span>
                    </span>
                    <div class="found-pet-listing-frame2608777">
                      <span
                        class="found-pet-listing-text034 MontserratRegularSmallText"
                      >
                        <span>Northern Lights</span>
                      </span>
                      <span
                        class="found-pet-listing-text036 MontserratRegularSmallText"
                      >
                        <span>Cruising &amp; sailing</span>
                      </span>
                      <span
                        class="found-pet-listing-text038 MontserratRegularSmallText"
                      >
                        <span>Multi-activities</span>
                      </span>
                      <span
                        class="found-pet-listing-text040 MontserratRegularSmallText"
                      >
                        <span>Kayaing</span>
                      </span>
                    </div>
                  </div>
                  <div class="found-pet-listing-frame26087471">
                    <span class="found-pet-listing-text042 TradeGothicBoldH6">
                      <span>Travel Blogs</span>
                    </span>
                    <div class="found-pet-listing-frame2608778">
                      <span
                        class="found-pet-listing-text044 MontserratRegularSmallText"
                      >
                        <span>Bali Travel Guide</span>
                      </span>
                      <span
                        class="found-pet-listing-text046 MontserratRegularSmallText"
                      >
                        <span>Sri Lanks Travel Guide</span>
                      </span>
                      <span
                        class="found-pet-listing-text048 MontserratRegularSmallText"
                      >
                        <span>Peru Travel Guide</span>
                      </span>
                      <span
                        class="found-pet-listing-text050 MontserratRegularSmallText"
                      >
                        <span>Bali Travel Guide</span>
                      </span>
                    </div>
                  </div>
                  <div class="found-pet-listing-frame2608745">
                    <span class="found-pet-listing-text052 TradeGothicBoldH6">
                      <span>About Us</span>
                    </span>
                    <div class="found-pet-listing-frame2608779">
                      <span
                        class="found-pet-listing-text054 MontserratRegularSmallText"
                      >
                        <span>Our Story</span>
                      </span>
                      <span
                        class="found-pet-listing-text056 MontserratRegularSmallText"
                      >
                        <span>Work with us</span>
                      </span>
                    </div>
                  </div>
                  <div class="found-pet-listing-frame2608746">
                    <span class="found-pet-listing-text058 TradeGothicBoldH6">
                      <span>Contact Us</span>
                    </span>
                    <div class="found-pet-listing-frame2608780">
                      <span
                        class="found-pet-listing-text060 MontserratRegularSmallText"
                      >
                        <span>Our Story</span>
                      </span>
                      <span
                        class="found-pet-listing-text062 MontserratRegularSmallText"
                      >
                        <span>Work with us</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="found-pet-listing-copyrightfootnote">
              <span
                class="found-pet-listing-text064 MontserratRegularSmallerText"
              >
                <span>
                  Copyright © 2023 All Rights Reserved. In association with
                  IamThehackerman.com
                </span>
              </span>
            </div>
          </div>
          <div class="found-pet-listing-group9">
            <img
              src="./assets/public/playground_assets/rectangle135049-tao-200w.png"
              alt="Rectangle135049"
              class="found-pet-listing-rectangle13"
            />
            <div class="found-pet-listing-frame108">
              <span class="found-pet-listing-text066 MontserratSemibold20px">
                <span>Filters</span>
              </span>
              <img
                src="./assets/public/playground_assets/rectangle45049-ffx-200h.png"
                alt="Rectangle45049"
                class="found-pet-listing-rectangle4"
              />
              <div class="found-pet-listing-frame98">
                <div class="found-pet-listing-frame120">
                  <span
                    class="found-pet-listing-text068 MontserratSemibold16px"
                  >
                    <span>Enter Location</span>
                  </span>
                  <img
                    src="./assets/public/playground_assets/chevrondown5049-o6r.svg"
                    alt="chevrondown5049"
                    class="found-pet-listing-chevrondown"
                  />
                </div>
                <div class="found-pet-listing-frame99">
                  <div class="found-pet-listing-textfield02">
                    <div class="found-pet-listing-textfield03">
                      <div class="found-pet-listing-statelayer2">
                        <div class="found-pet-listing-content1">
                          <div class="found-pet-listing-placeholdertext">
                            <span class="found-pet-listing-text070 Regular16px">
                              <span>

                        <form method="get" (ngSubmit)="searchanimauxadd()" name="form" #f="ngForm" novalidate>
                        
                          <input type="text" placeholder="Nowy Targ, Poland" name="addrs" [(ngModel)]="form.addrs" #addrs="ngModel"
                            (ngModelChange)="searchanimauxadd()">
                        </form>


                              </span>
                            </span>
                          </div>
                        </div>
                        <div class="found-pet-listing-trailingicon">
                          <img
                            src="./assets/public/playground_assets/locationi504-4yw7.svg"
                            alt="LocationI504"
                            class="found-pet-listing-location"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img
                src="./assets/public/playground_assets/rectangle165049-61y-200h.png"
                alt="Rectangle165049"
                class="found-pet-listing-rectangle16"
              />

              <!-- <div class="found-pet-listing-frame1081">
                <div class="found-pet-listing-frame1201">
                  <span
                    class="found-pet-listing-text072 MontserratSemibold16px"  >
                    <span>Name</span>
                  </span>
                  <img
                    src="./assets/public/playground_assets/chevrondown5049-9jlr.svg"
                    alt="chevrondown5049"
                    class="found-pet-listing-chevrondown01"
                  />
                </div>
                <div class="found-pet-listing-frame991">
                  <div class="found-pet-listing-textfield04">
                    <div class="found-pet-listing-textfield05">
                      <div class="found-pet-listing-statelayer3">
                        <div class="found-pet-listing-content2">
                          <div class="found-pet-listing-placeholdertext1">
                            <span class="found-pet-listing-text074 Regular16px">
                              <span>

                <form method="get" (ngSubmit)="searchanimaux()" name="form" #f="ngForm" novalidate>

                  <input type="text" placeholder="Jakie" name="name" [(ngModel)]="form.name" #name="ngModel"
                    (ngModelChange)="searchanimaux()">
                </form>





                              </span>
                            </span>
                          </div>
                        </div>
                        <div class="found-pet-listing-trailingicon1">
                          <img
                            src="./assets/public/playground_assets/chevrondowni504-wgpp.svg"
                            alt="chevrondownI504"
                            class="found-pet-listing-chevrondown02"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->



              <img
                src="./assets/public/playground_assets/rectangle145049-4sp7-200h.png"
                alt="Rectangle145049"
                class="found-pet-listing-rectangle14"
              />
              <div class="found-pet-listing-frame109">
                <div class="found-pet-listing-frame1202">
                  <span
                    class="found-pet-listing-text076 MontserratSemibold16px"
                  >
                    <span>Breeds</span>
                  </span>
                  <img
                    src="./assets/public/playground_assets/chevrondown5049-viz.svg"
                    alt="chevrondown5049"
                    class="found-pet-listing-chevrondown03"
                  />
                </div>
                <div class="found-pet-listing-frame992">
                  <div class="found-pet-listing-textfield06">
                    <div class="found-pet-listing-textfield07">
                      <div class="found-pet-listing-statelayer4">
                        <div class="found-pet-listing-content3">
                          <div class="found-pet-listing-placeholdertext2">
                            <span class="found-pet-listing-text078 Regular16px">
                              <span>

                          <form method="get" (ngSubmit)="searchanimauxBreed()" name="form" #f="ngForm" novalidate>

                            <input type="text" placeholder="Any" name="bred" [(ngModel)]="form.bred" #bred="ngModel"
                              (ngModelChange)="searchanimauxBreed()">
                          </form>

                              </span>
                            </span>
                          </div>
                        </div>
                        <div class="found-pet-listing-trailingicon2">
                          <img
                            src="./assets/public/playground_assets/chevrondowni504-d5r.svg"
                            alt="chevrondownI504"
                            class="found-pet-listing-chevrondown04"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img
                src="./assets/public/playground_assets/rectangle185049-onmh-200h.png"
                alt="Rectangle185049"
                class="found-pet-listing-rectangle18"
              />
              <div class="found-pet-listing-frame110">
                <div class="found-pet-listing-frame1203">
                  <span
                    class="found-pet-listing-text080 MontserratSemibold16px"
                  >
                    <span>Size</span>
                  </span>
                  <img
                    src="./assets/public/playground_assets/chevrondown5049-4nbx.svg"
                    alt="chevrondown5049"
                    class="found-pet-listing-chevrondown05"
                  />
                </div>
                <div class="found-pet-listing-frame993">
                  <div class="found-pet-listing-textfield08">
                    <div class="found-pet-listing-textfield09">
                      <div class="found-pet-listing-statelayer5">
                        <div class="found-pet-listing-content4">
                          <div class="found-pet-listing-placeholdertext3">
                            <span class="found-pet-listing-text082 Regular16px">
                              <span>
                                <form method="get" (ngSubmit)="searchanimauxSize()" name="form" #f="ngForm" novalidate>
                                
                                  <input type="text" placeholder="Any" name="size" [(ngModel)]="form.size" #size="ngModel"
                                    (ngModelChange)="searchanimauxSize()">
                                </form>
                              </span>
                            </span>
                          </div>
                        </div>
                        <div class="found-pet-listing-trailingicon3">
                          <img
                            src="./assets/public/playground_assets/chevrondowni504-ekvg.svg"
                            alt="chevrondownI504"
                            class="found-pet-listing-chevrondown06"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img
                src="./assets/public/playground_assets/rectangle195049-vni-200h.png"
                alt="Rectangle195049"
                class="found-pet-listing-rectangle19"
              />
              <div class="found-pet-listing-frame111">
                <div class="found-pet-listing-frame1204">
                  <span
                    class="found-pet-listing-text084 MontserratSemibold16px" >
                    <span>Age</span>
                  </span>
                  <img
                    src="./assets/public/playground_assets/chevrondown5049-rf0t.svg"
                    alt="chevrondown5049"
                    class="found-pet-listing-chevrondown07"
                  />
                </div>
                <div class="found-pet-listing-frame994">
                  <div class="found-pet-listing-textfield10">
                    <div class="found-pet-listing-textfield11">
                      <div class="found-pet-listing-statelayer6">
                        <div class="found-pet-listing-content5">
                          <div class="found-pet-listing-placeholdertext4">
                            <span class="found-pet-listing-text086 Regular16px">
                              <span>
                                
                                  <form method="get" (ngSubmit)="searchanimauxAge()" name="form" #f="ngForm" novalidate>
                                  
                                    <input type="number" min="1" max="100" placeholder="Any" name="age" [(ngModel)]="form.age" #age="ngModel"
                                      (ngModelChange)="searchanimauxAge()">
                                  </form>

                              </span>
                            </span>
                          </div>
                        </div>
                        <div class="found-pet-listing-trailingicon4">
                          <img
                            src="./assets/public/playground_assets/chevrondowni504-nvql.svg"
                            alt="chevrondownI504"
                            class="found-pet-listing-chevrondown08"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="found-pet-listing-frame2608787">
              <div class="found-pet-listing-group6">
                <div class="found-pet-listing-frame71">
                  <div class="found-pet-listing-frame131">
                    <div class="found-pet-listing-frame130">
                      <span
                        class="found-pet-listing-text088 MontserratSemibold16px"
                      >
                        <span>Dogs</span>
                      </span>
                    </div>
                    <span
                      class="found-pet-listing-text090 MontserratRegular14px"
                    >
                      <span>{{this.nb}} pets</span>
                    </span>
                  </div>
                  <img
                    src="./assets/public/playground_assets/line15049-n7b.svg"
                    alt="Line15049"
                    class="found-pet-listing-line1"  />
                  <div class="found-pet-listing-frame132">
                    <div class="found-pet-listing-frame1301">
                      <span
                        class="found-pet-listing-text092 MontserratSemibold16px"   >
                        <span>Cats</span>
                      </span>
                    </div>
                    <span
                      class="found-pet-listing-text094 MontserratRegular14px"   >
                      <span>{{this.nb}} pets</span>
                    </span>
                  </div>
                  <div class="found-pet-listing-frame133">
                    <div class="found-pet-listing-frame1302"></div>
                  </div>
                  <img
                    src="./assets/public/playground_assets/line45049-ggbo.svg"
                    alt="Line45049"
                    class="found-pet-listing-line4"
                  />
                </div>
                <div class="found-pet-listing-frame1101">
                  <span
                    class="found-pet-listing-text096 MontserratSemibold14px"
                  >
                    <span class="found-pet-listing-text097">Showing 4 of</span>
                    <span>257 pets</span>
                  </span>
                  <div class="found-pet-listing-frame49">
                    <span class="found-pet-listing-text099">
                      <span class="found-pet-listing-text100">Sort by</span>
                      <span>Recommended</span>
                    </span>
                    <img
                      src="./assets/public/playground_assets/chevrondown5049-9q74.svg"
                      alt="chevrondown5049"
                      class="found-pet-listing-chevrondown09"
                    />
                  </div>
                </div>
              </div>



              <div class="found-pet-listing-pet-list">


                <div  *ngFor="let anim of displayedItems" class="found-pet-listing-horizontal-card-found-pets">
                  <img
                    src="./assets/public/playground_assets/rectangle38i504-q9t-300h.png"
                    alt="Rectangle38I504"
                    class="found-pet-listing-rectangle38"   />

                  <div class="found-pet-listing-group1">
                    <!-- <img
                      src="./assets/public/playground_assets/rectangle3i504-1usi-300h.png"
                      alt="Rectangle3I504"
                      class="found-pet-listing-rectangle3"   /> -->

                    <img src="{{anim.image}}" alt="Rectangle3I503"  class="found-pet-listing-rectangle3" />





                    <div class="found-pet-listing-frame56">
                      <span
                        class="found-pet-listing-text102 MontserratMedium12px"    >
                        <span>9 images</span>
                      </span>
                    </div>
                    <div class="found-pet-listing-frame4">
                      <div class="found-pet-listing-frame50">
                        <div class="found-pet-listing-frame2">
                          <span
                            class="found-pet-listing-text104 TradeGothicBold20px"    >
                            <!-- <span>Jackie</span> -->
                              <span>{{anim.couleur}}</span>
                          </span>
                          <div class="found-pet-listing-frame55">
                            <div class="found-pet-listing-frame73">
                              <div class="found-pet-listing-frame53">
                                <div class="found-pet-listing-frame52">
                                  <img
                                    src="./assets/public/playground_assets/dogsi504-sfgd.svg"
                                    alt="DogsI504"
                                    class="found-pet-listing-dogs"
                                  />
                                </div>
                                <span
                                  class="found-pet-listing-text106 MontserratMedium12px"    >
                                  <span>{{anim.species}}</span>
                                </span>
                              </div>
                              <div class="found-pet-listing-frame72">
                                <img
                                  src="./assets/public/playground_assets/component64i504-uu2.svg"
                                  alt="Component64I504"
                                  class="found-pet-listing-component64"
                                />
                                <span
                                  class="found-pet-listing-text108 MontserratBold12px"  >
                                  <span>{{anim.size}}</span>
                                </span>
                              </div>
                            </div>
                            <div class="found-pet-listing-frame74">
                              <div class="found-pet-listing-frame531">
                                <div class="found-pet-listing-frame521">
                                  <img
                                    src="./assets/public/playground_assets/calendari504-iifa.svg"
                                    alt="calendarI504"
                                    class="found-pet-listing-calendar"
                                  />
                                </div>
                                <span
                                  class="found-pet-listing-text110 MontserratSemiBoldSmallerHeading"
                                >
                                  <span>Found Date :</span>
                                </span>
                                <span
                                  class="found-pet-listing-text112 MontserratMedium12px"
                                >
                                  <span>{{anim.datefound}}</span>
                                </span>
                              </div>
                              <!-- <div class="found-pet-listing-frame721">
                                <img
                                  src="./assets/public/playground_assets/timmeri504-ohk.svg"
                                  alt="timmerI504"
                                  class="found-pet-listing-timmer"   />
                                <span
                                  class="found-pet-listing-text114 MontserratBold12px"  >
                                  <span>Found Time :</span>
                                </span>
                                <span
                                  class="found-pet-listing-text116 MontserratMedium12px"
                                >
                                  <span>15:00</span>
                                </span>
                              </div> -->
                            </div>
                            <div class="found-pet-listing-frame54">
                              <img
                                src="./assets/public/playground_assets/locationi504-dofi.svg"
                                alt="LocationI504"
                                class="found-pet-listing-location1"
                              />
                              <span
                                class="found-pet-listing-text118 MontserratSemiBoldSmallerHeading"
                              >
                                <span>Found Place :</span>
                              </span>
                              <span
                                class="found-pet-listing-text120 MontserratMedium12px"
                              >
                                <span>
                                  <!-- Ratusz, Rynek 1, 34-400 Nowy Targ, Polandia -->
                                    <span>{{anim.addrs}}</span>
                                </span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <img
                        src="./assets/public/playground_assets/rectangle4i504-jrw3-200h.png"
                        alt="Rectangle4I504"
                        class="found-pet-listing-rectangle41"
                      />
                      <div class="found-pet-listing-frame60">
                        <!-- <button class="found-pet-listing-button02">
                          <div class="found-pet-listing-stylelayer01">
                            <img
                              src="./assets/public/playground_assets/hearti504-se7.svg"
                              alt="heartI504"
                              class="found-pet-listing-heart"
                            />
                          </div>
                        </button> -->
                        <button class="found-pet-listing-button03">
                          <div class="found-pet-listing-stylelayer02">
                            <span
                              class="found-pet-listing-text122 MontserratSemibold14px" >
                              <span><a style="text-decoration: none; color: white;" href="Single-Page/Found/{{anim.id}}">See Details</a></span>
                            </span>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>



 
              </div>

              <button (click)="incrementDisplayCount()"  *ngIf="!nondata" class="found-pet-listing-button10">
                <div class="found-pet-listing-stylelayer09">
                  <span
                    class="found-pet-listing-text190 MontserratSemibold14px"  >
                    <span>Show more results</span>
                  </span>
                </div>
              </button>


             
                <div  *ngIf="nondata"class="found-pet-listing-stylelayer09">
                  <span class="found-pet-listing-text190 MontserratSemibold14px">
                <h5>No Pets ! </h5>
                <!-- {{this.nb}} -->
                  </span>
                </div>
             






            </div>
          </div>
          <div class="found-pet-listing-group7">
            <div class="found-pet-listing-group2">
              <img
                src="./assets/public/playground_assets/background5050-1uwf-1400w.png"
                alt="Background5050"
                class="found-pet-listing-background"
              />
              <!-- <img
                src="./assets/public/playground_assets/rectangle325050-omvb-1400w.png"
                alt="Rectangle325050"
                class="found-pet-listing-rectangle32"
              /> -->
              <div class="found-pet-listing-frame2608753">
                <div class="found-pet-listing-frame2608752">
                  <span class="found-pet-listing-text192">
                    <span>Help Send Lost Pets Back Home</span>
                  </span>
                  <span class="found-pet-listing-text194">
                    <span>FOUND PETS</span>
                  </span>
                </div>
                <span class="found-pet-listing-text196 MontserratSemibold20px">
                  <span>
                    Our community is committed to reuniting lost pets with their
                    families. Browse through our listings of missing pets and if
                    you have any information, please contact the pet's owner
                    immediately. Together, we can help bring these furry friends
                    back home.
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
