<!DOCTYPE html>
<html lang="english">

<head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p,
        li,
        ul,
        pre,
        div,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        figure,
        blockquote,
        figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button,
        select {
            text-transform: none;
        }

        /* button,
        [type="button"],
        [type="reset"],
        [type="submit"] {
            -webkit-appearance: button;
        } */

        button::-moz-focus-inner,
        [type="button"]::-moz-focus-inner,
        [type="reset"]::-moz-focus-inner,
        [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        button:-moz-focus,
        [type="button"]:-moz-focus,
        [type="reset"]:-moz-focus,
        [type="submit"]:-moz-focus {
            outline: 1px dotted ButtonText;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);

        }
    </style>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <div>
       

        <div class="adoption-pet-single-page-container">
            <div class="adoption-pet-single-page-adoption-pet-single-page">
                <div class="adoption-pet-single-page-group8">
                    <div class="adoption-pet-single-page-galleries">
                        <div class="adoption-pet-single-page-breadcrumb">
                            <span class="adoption-pet-single-page-text MontserratMedium14px">
                                <span>Home</span>
                            </span>
                            <img alt="chevronforward4732" src="./assets/public/playground_assets/chevronforward4732-dz.svg"
                                class="adoption-pet-single-page-chevronforward" />
                            <span class="adoption-pet-single-page-text002 MontserratMedium14px">
                                <span>Dogs</span>
                            </span>
                            <img alt="chevronforward4732" src="./assets/public/playground_assets/chevronforward4732-ic1e.svg"
                                class="adoption-pet-single-page-chevronforward1" />
                            <span class="adoption-pet-single-page-text004 MontserratMedium14px">
                                <span>Jackie</span>
                            </span>
                        </div>
                        <div class="adoption-pet-single-page-title">
                            <div class="adoption-pet-single-page-frame124">
                                <div class="adoption-pet-single-page-frame123">
                                    <span class="adoption-pet-single-page-text006 TradeGothicBold24px">
                                        <span>Jackie</span>
                                    </span>
                                </div>
                                <div class="adoption-pet-single-page-frame129">
                                    <div class="adoption-pet-single-page-frame54">
                                        <img alt="Location4733" src="./assets/public/playground_assets/location4733-kzde.svg"
                                            class="adoption-pet-single-page-location" />
                                        <span class="adoption-pet-single-page-text008 MontserratMedium14px">
                                            <span>Opoczyńska 2, 26-411 Rusinów, Polandia</span>
                                        </span>
                                    </div>
                                    <div class="adoption-pet-single-page-frame57">
                                        <img alt="Upload4733" src="./assets/public/playground_assets/upload4733-3ecq.svg"
                                            class="adoption-pet-single-page-upload" />
                                        <span class="adoption-pet-single-page-text010">
                                            <span class="adoption-pet-single-page-text011">
                                                Posted
                                            </span>
                                            <span>3 months ago</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="adoption-pet-single-page-frame135">
                                <div class="adoption-pet-single-page-frame134">
                                    <button class="adoption-pet-single-page-button">
                                        <div class="adoption-pet-single-page-stylelayer">
                                            <img alt="heartI473" src="./assets/public/playground_assets/hearti473-3mjb.svg"
                                                class="adoption-pet-single-page-heart" />
                                        </div>
                                    </button>
                                    <button class="adoption-pet-single-page-button1">
                                        <div class="adoption-pet-single-page-stylelayer1">
                                            <img alt="ShareI473" src="./assets/public/playground_assets/sharei473-utpaf.svg"
                                                class="adoption-pet-single-page-share" />
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="adoption-pet-single-page-pictures">
                            <img alt="Rectangle34732" src="./assets/public/playground_assets/rectangle34732-xwy9-200h.png"
                                class="adoption-pet-single-page-rectangle3" />
                            <div class="adoption-pet-single-page-frame128">
                                <div class="adoption-pet-single-page-frame126">
                                    <img alt="Rectangle54732" src="./assets/public/playground_assets/rectangle54732-00k-200h.png"
                                        class="adoption-pet-single-page-rectangle5" />
                                    <img alt="Rectangle64732"
                                        src="./assets/public/playground_assets/rectangle64732-rmhl-200h.png"
                                        class="adoption-pet-single-page-rectangle6" />
                                </div>
                                <div class="adoption-pet-single-page-frame127">
                                    <img alt="Rectangle54732"
                                        src="./assets/public/playground_assets/rectangle54732-sf0u-200h.png"
                                        class="adoption-pet-single-page-rectangle51" />
                                    <img alt="Rectangle64732"
                                        src="./assets/public/playground_assets/rectangle64732-7fao-200h.png"
                                        class="adoption-pet-single-page-rectangle61" />
                                    <button class="adoption-pet-single-page-button2">
                                        <div class="adoption-pet-single-page-stylelayer2">
                                            <span class="adoption-pet-single-page-text013 MontserratSemibold14px">
                                                <span>View all photos</span>
                                            </span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="adoption-pet-single-page-header-default">
                        <div class="adoption-pet-single-page-frame22">
                            <div class="adoption-pet-single-page-frame20">
                                <img alt="ExploreI472" src="./assets/public/playground_assets/explorei472-waxw.svg"
                                    class="adoption-pet-single-page-explore" />
                                <span class="adoption-pet-single-page-text015 MontserratSemibold14px">
                                    <span><a href="/listing/Lost-Pet">I’ve Lost Pets</a></span>
                                </span>
                            </div>
                            <div class="adoption-pet-single-page-frame21">
                                <img alt="materialsymbolssearchroundedI472"
                                    src="./assets/public/playground_assets/materialsymbolssearchroundedi472-y7h.svg"
                                    class="adoption-pet-single-page-materialsymbolssearchrounded" />
                                <span class="adoption-pet-single-page-text017 MontserratSemibold14px">
                                    <span><a href="/listing/found-Pet">I’ve Found Pets</a></span>
                                </span>
                            </div>
                        </div>
                        <div class="adoption-pet-single-page-logo">
                            <div class="adoption-pet-single-page-group">
                                <img alt="TemporaryLogoI472"
                                    src="./assets/public/playground_assets/temporarylogoi472-a6ta-200h.png"
                                    class="adoption-pet-single-page-temporary-logo" />
                            </div>
                            <img alt="LI472" src="./assets/public/playground_assets/li472-zeyi.svg"
                                class="adoption-pet-single-page-l" />
                            <img alt="GI472" src="./assets/public/playground_assets/gi472-5v54.svg"
                                class="adoption-pet-single-page-g" />
                            <img alt="OI472" src="./assets/public/playground_assets/oi472-4coc.svg"
                                class="adoption-pet-single-page-o" />
                        </div>
                        <div class="adoption-pet-single-page-frame24">
                            <a href="listing/Search">  <span class="adoption-pet-single-page-text019 MontserratSemibold14px">
                                <span>Breeds</span>
                            </span>
                            </a>
                            <a href="listing/Search"><span class="adoption-pet-single-page-text021 MontserratSemibold14px">
                                <span>Search Pets</span>
                            </span></a>
                            <span class="adoption-pet-single-page-text023 MontserratSemibold14px">
                                <span>Login</span>
                            </span>
                            <button class="adoption-pet-single-page-patientbutton">
                                <div class="adoption-pet-single-page-statelayer">
                                    <span class="adoption-pet-single-page-text025 MontserratSemibold14px">
                                        <span>Sign up</span>
                                    </span>
                                </div>
                            </button>
                        </div>
                        <img alt="Rectangle5I472" src="./assets/public/playground_assets/rectangle5i472-85qr-200h.png"
                            class="adoption-pet-single-page-rectangle52" />
                    </div>
                </div>
                <div class="adoption-pet-single-page-frame149">
                    <img alt="Rectangle44733" src="./assets/public/playground_assets/rectangle44733-bxm-200h.png"
                        class="adoption-pet-single-page-rectangle4" />
                    <div class="adoption-pet-single-page-frame147">
                        <div class="adoption-pet-single-page-frame146">
                            <span class="adoption-pet-single-page-text027 TradeGothicBoldH5">
                                <span>Overview</span>
                            </span>
                            <span class="adoption-pet-single-page-text029 MontserratMedium16px">
                                <span>
                                    <span>
                                        Meet Jackie, a beautiful Afghan Hound with a regal
                                        appearance and charming personality. Jackie is a graceful
                                        and athletic dog, known for their long and silky coat.
                                        With a proud and confident demeanor, Jackie commands
                                        attention wherever they go. Despite their proud and aloof
                                        appearance, they are affectionate and loyal companions to
                                        those they love.
                                    </span>
                                    <br />
                                    <span></span>
                                    <br />
                                    <span>
                                        Jackie is an active dog and needs plenty of exercise to
                                        keep them happy and healthy. They love to run and play,
                                        and make great hiking or running partners. They are also
                                        independent dogs and enjoy their alone time, so it's
                                        important for their owner to give them plenty of space to
                                        do their own thing.
                                    </span>
                                    <br />
                                    <span></span>
                                    <br />
                                    <span>
                                        At home, Jackie is a calm and relaxed dog who enjoys
                                        lounging on a soft bed or sofa. They are clean and
                                        well-behaved, and are easy to groom and maintain. With
                                        proper training and socialization, Jackie is a great
                                        addition to any family.
                                    </span>
                                    <br />
                                    <span>
                                        If you're looking for a proud and confident companion with
                                        a heart of gold, look no further than Jackie, the Afghan
                                        Hound.
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                    <img alt="Rectangle54734" src="./assets/public/playground_assets/rectangle54734-76fp-200h.png"
                        class="adoption-pet-single-page-rectangle53" />
                    <div class="adoption-pet-single-page-frame165">
                        <span class="adoption-pet-single-page-text042 TradeGothicBoldH5">
                            <span>About Jackie</span>
                        </span>
                        <div class="adoption-pet-single-page-frame167">
                            <div class="adoption-pet-single-page-frame164">
                                <div class="adoption-pet-single-page-breeds">
                                    <span class="adoption-pet-single-page-text044">
                                        <span>Breeds</span>
                                    </span>
                                    <span class="adoption-pet-single-page-text046 MontserratMedium16px">
                                        <span class="adoption-pet-single-page-text047">:</span>
                                        <span>Alaskan Malamute</span>
                                    </span>
                                </div>
                                <div class="adoption-pet-single-page-size">
                                    <span class="adoption-pet-single-page-text049">
                                        <span>Sex</span>
                                    </span>
                                    <span class="adoption-pet-single-page-text051 MontserratMedium16px">
                                        <span class="adoption-pet-single-page-text052">:</span>
                                        <span>Male</span>
                                    </span>
                                </div>
                            </div>
                            <div class="adoption-pet-single-page-frame166">
                                <div class="adoption-pet-single-page-breeds1">
                                    <span class="adoption-pet-single-page-text054">
                                        <span>Size</span>
                                    </span>
                                    <span class="adoption-pet-single-page-text056 MontserratMedium16px">
                                        <span class="adoption-pet-single-page-text057">:</span>
                                        <span>Medium</span>
                                    </span>
                                </div>
                                <div class="adoption-pet-single-page-breeds2">
                                    <span class="adoption-pet-single-page-text059">
                                        <span>Age</span>
                                    </span>
                                    <span class="adoption-pet-single-page-text061 MontserratMedium16px">
                                        <span class="adoption-pet-single-page-text062">:</span>
                                        <span>1 Year 3 Months</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img alt="Rectangle64734" src="./assets/public/playground_assets/rectangle64734-133-200h.png"
                        class="adoption-pet-single-page-rectangle62" />
                    <div class="adoption-pet-single-page-frame159">
                        <div class="adoption-pet-single-page-frame160">
                            <span class="adoption-pet-single-page-text064 TradeGothicBold20px">
                                <span>Location/Map</span>
                            </span>
                            <button class="adoption-pet-single-page-button3">
                                <div class="adoption-pet-single-page-stylelayer3">
                                    <span class="adoption-pet-single-page-text066 MontserratSemibold14px">
                                        <span>View on google maps</span>
                                    </span>
                                </div>
                            </button>
                        </div>
                        <div class="adoption-pet-single-page-frame161">
                            <div class="adoption-pet-single-page-maps">
                                <img alt="Rectangle194734" src="./assets/public/playground_assets/rectangle194734-fmk-500h.png"
                                    class="adoption-pet-single-page-rectangle19" />
                                <img alt="Location4736" src="./assets/public/playground_assets/location4736-nlvk.svg"
                                    class="adoption-pet-single-page-location1" />
                            </div>
                            <div class="adoption-pet-single-page-frame541">
                                <img alt="Location4734" src="./assets/public/playground_assets/location4734-pw09.svg"
                                    class="adoption-pet-single-page-location2" />
                                <span class="adoption-pet-single-page-text068 MontserratMedium14px">
                                    <span>Opoczyńska 2, 26-411 Rusinów, Polandia</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="adoption-pet-single-page-footer">
                    <div class="adoption-pet-single-page-frame2608782">
                        <div class="adoption-pet-single-page-frame2608747">
                            <div class="adoption-pet-single-page-frame2608743">
                                <span class="adoption-pet-single-page-text070 TradeGothicBoldH1">
                                    <span>Subscribe Newsletter</span>
                                </span>
                                <div class="adoption-pet-single-page-frame2608755">
                                    <div class="adoption-pet-single-page-frame26087431">
                                        <span class="adoption-pet-single-page-text072 MontserratRegularH5">
                                            <span>Join Our Community</span>
                                        </span>
                                        <span class="adoption-pet-single-page-text074 MontserratRegularBody">
                                            <span>
                                                Be the First to Know About New Adoptable Pets and
                                                Receive Our Monthly Newsletter. Subscribe Now!
                                            </span>
                                        </span>
                                    </div>
                                    <div class="adoption-pet-single-page-frame2608741">
                                        <div class="adoption-pet-single-page-textfield">
                                            <div class="adoption-pet-single-page-textfield1">
                                                <div class="adoption-pet-single-page-statelayer1">
                                                    <div class="adoption-pet-single-page-content">
                                                        <div class="adoption-pet-single-page-labeltext">
                                                            <span
                                                                class="adoption-pet-single-page-text076 MontserratRegularBody">
                                                                <span>Your email address</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="adoption-pet-single-page-button4">
                                            <div class="adoption-pet-single-page-stylelayer4">
                                                <span class="adoption-pet-single-page-text078 MontserratMedium14px">
                                                    <span>Subscribe</span>
                                                </span>
                                            </div>
                                        </button>
                                        <button class="adoption-pet-single-page-button5"></button>
                                    </div>
                                </div>
                            </div>
                            <img alt="emojionev1openmailboxwithloweredflagI472"
                                src="./assets/public/playground_assets/emojionev1openmailboxwithloweredflagi472-naip.svg"
                                class="adoption-pet-single-page-emojionev1openmailboxwithloweredflag" />
                        </div>
                        <div class="adoption-pet-single-page-frame2608748">
                            <div class="adoption-pet-single-page-frame2608750">
                                <div class="adoption-pet-single-page-logo1">
                                    <div class="adoption-pet-single-page-group1">
                                        <img alt="TemporaryLogoI472"
                                            src="./assets/public/playground_assets/temporarylogoi472-bz7k-200h.png"
                                            class="adoption-pet-single-page-temporary-logo1" />
                                    </div>
                                    <img alt="LI472" src="./assets/public/playground_assets/li472-sb85.svg"
                                        class="adoption-pet-single-page-l1" />
                                    <img alt="GI472" src="./assets/public/playground_assets/gi472-rnp.svg"
                                        class="adoption-pet-single-page-g1" />
                                    <img alt="OI472" src="./assets/public/playground_assets/oi472-9wy.svg"
                                        class="adoption-pet-single-page-o1" />
                                </div>
                                <div class="adoption-pet-single-page-frame2608749">
                                    <div class="adoption-pet-single-page-akariconsfacebookfill">
                                        <div class="adoption-pet-single-page-group2">
                                            <div class="adoption-pet-single-page-group3"></div>
                                        </div>
                                    </div>
                                    <div class="adoption-pet-single-page-akariconsyoutubefill">
                                        <div class="adoption-pet-single-page-group4">
                                            <div class="adoption-pet-single-page-group5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="adoption-pet-single-page-frame26087481">
                                <div class="adoption-pet-single-page-frame2608742">
                                    <span class="adoption-pet-single-page-text080 TradeGothicBoldH6">
                                        <span>Our Destinations</span>
                                    </span>
                                    <div class="adoption-pet-single-page-frame2608776">
                                        <span class="adoption-pet-single-page-text082 MontserratRegularSmallText">
                                            <span>Canada</span>
                                        </span>
                                        <span class="adoption-pet-single-page-text084 MontserratRegularSmallText">
                                            <span>Alaksa</span>
                                        </span>
                                        <span class="adoption-pet-single-page-text086 MontserratRegularSmallText">
                                            <span>France</span>
                                        </span>
                                        <span class="adoption-pet-single-page-text088 MontserratMedium14px">
                                            <span>Iceland</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="adoption-pet-single-page-frame2608744">
                                    <span class="adoption-pet-single-page-text090 TradeGothicBoldH6">
                                        <span>Our Activities</span>
                                    </span>
                                    <div class="adoption-pet-single-page-frame2608777">
                                        <span class="adoption-pet-single-page-text092 MontserratRegularSmallText">
                                            <span>Northern Lights</span>
                                        </span>
                                        <span class="adoption-pet-single-page-text094 MontserratRegularSmallText">
                                            <span>Cruising &amp; sailing</span>
                                        </span>
                                        <span class="adoption-pet-single-page-text096 MontserratRegularSmallText">
                                            <span>Multi-activities</span>
                                        </span>
                                        <span class="adoption-pet-single-page-text098 MontserratRegularSmallText">
                                            <span>Kayaing</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="adoption-pet-single-page-frame26087471">
                                    <span class="adoption-pet-single-page-text100 TradeGothicBoldH6">
                                        <span>Travel Blogs</span>
                                    </span>
                                    <div class="adoption-pet-single-page-frame2608778">
                                        <span class="adoption-pet-single-page-text102 MontserratRegularSmallText">
                                            <span>Bali Travel Guide</span>
                                        </span>
                                        <span class="adoption-pet-single-page-text104 MontserratRegularSmallText">
                                            <span>Sri Lanks Travel Guide</span>
                                        </span>
                                        <span class="adoption-pet-single-page-text106 MontserratRegularSmallText">
                                            <span>Peru Travel Guide</span>
                                        </span>
                                        <span class="adoption-pet-single-page-text108 MontserratRegularSmallText">
                                            <span>Bali Travel Guide</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="adoption-pet-single-page-frame2608745">
                                    <span class="adoption-pet-single-page-text110 TradeGothicBoldH6">
                                        <span>About Us</span>
                                    </span>
                                    <div class="adoption-pet-single-page-frame2608779">
                                        <span class="adoption-pet-single-page-text112 MontserratRegularSmallText">
                                            <span>Our Story</span>
                                        </span>
                                        <span class="adoption-pet-single-page-text114 MontserratRegularSmallText">
                                            <span>Work with us</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="adoption-pet-single-page-frame2608746">
                                    <span class="adoption-pet-single-page-text116 TradeGothicBoldH6">
                                        <span>Contact Us</span>
                                    </span>
                                    <div class="adoption-pet-single-page-frame2608780">
                                        <span class="adoption-pet-single-page-text118 MontserratRegularSmallText">
                                            <span>Our Story</span>
                                        </span>
                                        <span class="adoption-pet-single-page-text120 MontserratRegularSmallText">
                                            <span>Work with us</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="adoption-pet-single-page-copyrightfootnote">
                        <span class="adoption-pet-single-page-text122 MontserratRegularSmallerText">
                            <span>
                                Copyright © 2023 All Rights Reserved. In association with
                                IamThehackerman.com
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>