.adoption-pet-single-page-container {
    min-height: 100vh;
}

.adoption-pet-single-page-adoption-pet-single-page {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    border-color: transparent;
    flex-direction: column;
    background-color: rgba(250, 251, 252, 1);
}

.adoption-pet-single-page-group8 {
    width: 1440px;
    height: 833px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 80px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.adoption-pet-single-page-galleries {
    top: 114px;
    left: 104px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
    justify-content: center;
}

.adoption-pet-single-page-breadcrumb {
    display: flex;
    position: relative;
    align-items: center;
    border-color: transparent;
    margin-bottom: 32px;
}

.adoption-pet-single-page-text {
    color: rgba(244, 63, 94, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 8px;
    margin-bottom: 0;
}

.adoption-pet-single-page-chevronforward {
    width: 16px;
    height: 16px;
    opacity: 0.75;
    position: relative;
    margin-right: 8px;
}

.adoption-pet-single-page-text002 {
    color: rgba(244, 63, 94, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 8px;
    margin-bottom: 0;
}

.adoption-pet-single-page-chevronforward1 {
    width: 16px;
    height: 16px;
    opacity: 0.75;
    position: relative;
    margin-right: 8px;
}

.adoption-pet-single-page-text004 {
    color: rgba(38, 92, 98, 1);
    height: auto;
    opacity: 0.75;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-title {
    width: 1232px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 32px;
    justify-content: space-between;
}

.adoption-pet-single-page-frame124 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-frame123 {
    display: flex;
    position: relative;
    align-items: center;
    border-color: transparent;
    margin-bottom: 16px;
}

.adoption-pet-single-page-text006 {
    color: rgba(38, 92, 98, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-frame129 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-frame54 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 8px;
}

.adoption-pet-single-page-location {
    width: 18px;
    height: 18px;
    position: relative;
    margin-right: 2px;
}

.adoption-pet-single-page-text008 {
    color: rgba(26, 61, 66, 1);
    height: auto;
    opacity: 0.75;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-frame57 {
    display: flex;
    position: relative;
    align-items: center;
    border-color: transparent;
}

.adoption-pet-single-page-upload {
    width: 16px;
    height: 16px;
    position: relative;
    margin-right: 4px;
}

.adoption-pet-single-page-text010 {
    color: rgba(38, 92, 98, 1);
    height: auto;
    font-size: 12px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.adoption-pet-single-page-text011 {
    font-weight: 700;
}

.adoption-pet-single-page-frame135 {
    height: 88px;
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-end;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
    justify-content: flex-end;
}

.adoption-pet-single-page-frame134 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
}

.adoption-pet-single-page-button {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 15px;
    flex-direction: column;
}

.adoption-pet-single-page-stylelayer {
    width: 48px;
    height: 48px;
    display: flex;
    padding: 8px 16px;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(38, 92, 98, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    justify-content: center;
}

.adoption-pet-single-page-heart {
    width: 20px;
    height: 20px;
    position: relative;
}

.adoption-pet-single-page-button1 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-stylelayer1 {
    width: 48px;
    height: 48px;
    display: flex;
    padding: 8px 16px;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: rgba(38, 92, 98, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    justify-content: center;
}

.adoption-pet-single-page-share {
    width: 20px;
    height: 20px;
    position: relative;
}

.adoption-pet-single-page-pictures {
    width: 1232px;
    height: 550px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
}

.adoption-pet-single-page-rectangle3 {
    width: auto;
    height: auto;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    border-color: transparent;
    margin-right: 8px;
    border-radius: 12px 0 0 12px;
}

.adoption-pet-single-page-frame128 {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-frame126 {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 8px;
}

.adoption-pet-single-page-rectangle5 {
    width: auto;
    height: auto;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    border-color: transparent;
    margin-right: 8px;
}

.adoption-pet-single-page-rectangle6 {
    width: auto;
    height: auto;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    border-color: transparent;
    border-radius: 0 12px 0 0;
}

.adoption-pet-single-page-frame127 {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    align-items: flex-start;
    border-color: transparent;
}

.adoption-pet-single-page-rectangle51 {
    width: auto;
    height: auto;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    border-color: transparent;
    margin-right: 8px;
}

.adoption-pet-single-page-rectangle61 {
    width: auto;
    height: auto;
    z-index: 1;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    border-color: transparent;
    margin-right: 8px;
    border-radius: 0 0 12px;
}

.adoption-pet-single-page-button2 {
    top: 207px;
    left: 453px;
    display: flex;
    z-index: 2;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-stylelayer2 {
    display: flex;
    padding: 8px 16px;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 4px;
    justify-content: center;
    background-color: rgba(38, 92, 98, 1);
}

.adoption-pet-single-page-text013 {
    color: rgba(209, 250, 229, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-header-default {
    top: 0px;
    left: 0px;
    width: 1440px;
    display: flex;
    padding: 21px 104px;
    position: absolute;
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05000000074505806);
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
}

.adoption-pet-single-page-frame22 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
}

.adoption-pet-single-page-frame20 {
    display: flex;
    position: relative;
    align-items: center;
    border-color: transparent;
    margin-right: 32px;
}

.adoption-pet-single-page-explore {
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 4px;
}

.adoption-pet-single-page-text015 {
    color: rgba(38, 92, 98, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-frame21 {
    display: flex;
    position: relative;
    align-items: center;
    border-color: transparent;
}

.adoption-pet-single-page-materialsymbolssearchrounded {
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 4px;
}

.adoption-pet-single-page-text017 {
    color: rgba(38, 92, 98, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-logo {
    width: 110.35294342041016px;
    height: 36px;
    display: flex;
    z-index: 1;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
}

.adoption-pet-single-page-group {
    top: 2.999976396560669px;
    left: 23.000078201293945px;
    width: 29px;
    height: 27px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.adoption-pet-single-page-temporary-logo {
    top: 0px;
    left: 0px;
    width: 29px;
    height: 27px;
    position: absolute;
    border-color: transparent;
    border-radius: 7.129032135009766px;
}

.adoption-pet-single-page-l {
    top: 4.52419376373291px;
    left: 4.249464511871338px;
    width: 17px;
    height: 25px;
    position: absolute;
    box-sizing: content-box;
}

.adoption-pet-single-page-g {
    top: 3.838843584060669px;
    left: 54.016666412353516px;
    width: 22px;
    height: 25px;
    position: absolute;
    box-sizing: content-box;
}

.adoption-pet-single-page-o {
    top: 3.838843584060669px;
    left: 82.25806427001953px;
    width: 26px;
    height: 25px;
    position: absolute;
    box-sizing: content-box;
}

.adoption-pet-single-page-frame24 {
    display: flex;
    z-index: 2;
    position: relative;
    align-items: center;
    border-color: transparent;
}

.adoption-pet-single-page-text019 {
    color: rgba(38, 92, 98, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 32px;
    margin-bottom: 0;
}

.adoption-pet-single-page-text021 {
    color: rgba(38, 92, 98, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 32px;
    margin-bottom: 0;
}

.adoption-pet-single-page-text023 {
    color: rgba(38, 92, 98, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 32px;
    margin-bottom: 0;
}

.adoption-pet-single-page-patientbutton {
    height: 48px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(38, 92, 98, 1);
}

.adoption-pet-single-page-statelayer {
    display: flex;
    padding: 10px 24px;
    position: relative;
    flex-grow: 1;
    align-self: stretch;
    align-items: center;
    border-color: transparent;
    justify-content: center;
}

.adoption-pet-single-page-text025 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    align-self: auto;
    text-align: center;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-rectangle52 {
    width: 139px;
    height: 5px;
    opacity: 0.00;
    z-index: 3;
    position: relative;
    border-color: transparent;
}

.adoption-pet-single-page-frame149 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 80px;
    flex-direction: column;
}

.adoption-pet-single-page-rectangle4 {
    width: 1232px;
    height: 1px;
    opacity: 0.25;
    position: relative;
    border-color: transparent;
    margin-bottom: 64px;
}

.adoption-pet-single-page-frame147 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 64px;
    flex-direction: column;
}

.adoption-pet-single-page-frame146 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-text027 {
    color: rgba(38, 92, 98, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 16px;
}

.adoption-pet-single-page-text029 {
    color: rgba(22, 22, 22, 1);
    width: 1232px;
    height: auto;
    opacity: 0.75;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-rectangle53 {
    width: 1232px;
    height: 1px;
    opacity: 0.25;
    position: relative;
    border-color: transparent;
    margin-bottom: 64px;
}

.adoption-pet-single-page-frame165 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 64px;
    flex-direction: column;
}

.adoption-pet-single-page-text042 {
    color: rgba(38, 92, 98, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 32px;
}

.adoption-pet-single-page-frame167 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
}

.adoption-pet-single-page-frame164 {
    width: 244px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 300px;
    flex-direction: column;
}

.adoption-pet-single-page-breeds {
    width: 244px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 24px;
}

.adoption-pet-single-page-text044 {
    color: rgba(17, 34, 17, 1);
    width: 68px;
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 8px;
    margin-bottom: 0;
    text-decoration: none;
}

.adoption-pet-single-page-text046 {
    color: rgba(17, 34, 17, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-text047 {
    font-weight: 700;
}

.adoption-pet-single-page-size {
    width: 244px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
}

.adoption-pet-single-page-text049 {
    color: rgba(17, 34, 17, 1);
    width: 68px;
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 8px;
    margin-bottom: 0;
    text-decoration: none;
}

.adoption-pet-single-page-text051 {
    color: rgba(17, 34, 17, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-text052 {
    font-weight: 700;
}

.adoption-pet-single-page-frame166 {
    width: 244px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-breeds1 {
    width: 244px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 24px;
}

.adoption-pet-single-page-text054 {
    color: rgba(17, 34, 17, 1);
    width: 68px;
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 8px;
    margin-bottom: 0;
    text-decoration: none;
}

.adoption-pet-single-page-text056 {
    color: rgba(17, 34, 17, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-text057 {
    font-weight: 700;
}

.adoption-pet-single-page-breeds2 {
    width: 244px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
}

.adoption-pet-single-page-text059 {
    color: rgba(17, 34, 17, 1);
    width: 68px;
    height: auto;
    font-size: 16px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 8px;
    margin-bottom: 0;
    text-decoration: none;
}

.adoption-pet-single-page-text061 {
    color: rgba(17, 34, 17, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-text062 {
    font-weight: 700;
}

.adoption-pet-single-page-rectangle62 {
    width: 1232px;
    height: 1px;
    opacity: 0.25;
    position: relative;
    border-color: transparent;
    margin-bottom: 64px;
}

.adoption-pet-single-page-frame159 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-frame160 {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 32px;
    justify-content: space-between;
}

.adoption-pet-single-page-text064 {
    color: rgba(38, 92, 98, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
}

.adoption-pet-single-page-button3 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-stylelayer3 {
    height: 48px;
    display: flex;
    padding: 8px 16px;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 4px;
    justify-content: center;
    background-color: rgba(38, 92, 98, 1);
}

.adoption-pet-single-page-text066 {
    color: rgba(209, 250, 229, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-frame161 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-maps {
    width: 1232px;
    height: 450px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 8px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.adoption-pet-single-page-rectangle19 {
    top: 0px;
    left: 0px;
    width: 1232px;
    height: 450px;
    position: absolute;
    border-color: transparent;
    border-radius: 16px;
}

.adoption-pet-single-page-location1 {
    top: 226px;
    left: 508px;
    width: 32px;
    height: 32px;
    position: absolute;
}

.adoption-pet-single-page-frame541 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
}

.adoption-pet-single-page-location2 {
    width: 18px;
    height: 18px;
    position: relative;
    margin-right: 2px;
}

.adoption-pet-single-page-text068 {
    color: rgba(26, 61, 66, 1);
    height: auto;
    opacity: 0.75;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-footer {
    width: 1440px;
    height: 645px;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.019999999552965164);
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 30px;
    flex-direction: column;
    justify-content: flex-end;
}

.adoption-pet-single-page-frame2608782 {
    height: 422px;
    display: flex;
    padding: 32px 104px 64px 104px;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(102, 173, 182, 1);
}

.adoption-pet-single-page-frame2608747 {
    width: 1232px;
    display: flex;
    padding: 0 24px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05000000074505806);
    align-items: flex-end;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 20px;
    margin-bottom: 64px;
    justify-content: space-between;
    background-color: rgba(242, 196, 154, 1);
}

.adoption-pet-single-page-frame2608743 {
    height: 318px;
    display: flex;
    padding: 24px 0;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
    justify-content: space-between;
}

.adoption-pet-single-page-text070 {
    color: rgba(17, 34, 17, 1); 
    width: 364px;
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
}

.adoption-pet-single-page-frame2608755 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-frame26087431 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 16px;
    flex-direction: column;
}

.adoption-pet-single-page-text072 {
    color: rgba(17, 34, 17, 1);
    height: auto;
    opacity: 0.80;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 8px;
}

.adoption-pet-single-page-text074 {
    color: rgba(17, 34, 17, 1);
    width: 747px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-frame2608741 {
    width: 593px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
}

.adoption-pet-single-page-textfield {
    width: 354px;
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 16px;
    border-radius: 4px 4px 0 0;
    flex-direction: column;
}

.adoption-pet-single-page-textfield1 {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    border-color: transparent;
    border-radius: 4px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
}

.adoption-pet-single-page-statelayer1 {
    display: flex;
    padding: 8px 0 8px 16px;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 4px 4px 0 0;
}

.adoption-pet-single-page-content {
    width: 338px;
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
    justify-content: center;
}

.adoption-pet-single-page-labeltext {
    display: flex;
    position: relative;
    align-items: center;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
}

.adoption-pet-single-page-text076 {
    color: rgba(28, 27, 31, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-button4 {
    height: 56px;
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 16px;
    flex-direction: column;
}

.adoption-pet-single-page-stylelayer4 {
    height: 56px;
    display: flex;
    padding: 8px 16px;
    position: relative;
    flex-grow: 1;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 4px;
    justify-content: center;
    background-color: rgba(38, 92, 98, 1);
}

.adoption-pet-single-page-text078 {
    color: rgba(209, 250, 229, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-button5 {
    height: 56px;
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-emojionev1openmailboxwithloweredflag {
    width: 400px;
    height: 291px;
    position: relative;
}

.adoption-pet-single-page-frame2608748 {
    width: 1232px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
}

.adoption-pet-single-page-frame2608750 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    margin-right: 140px;
    flex-direction: column;
}

.adoption-pet-single-page-logo1 {
    width: 120px;
    height: 39.14712142944336px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-bottom: 24px;
}

.adoption-pet-single-page-group1 {
    top: 2.999976396560669px;
    left: 23.000078201293945px;
    width: 29px;
    height: 27px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.adoption-pet-single-page-temporary-logo1 {
    top: 0px;
    left: 0px;
    width: 29px;
    height: 27px;
    position: absolute;
    border-color: transparent;
    border-radius: 7.129032135009766px;
}

.adoption-pet-single-page-l1 {
    top: 4.52419376373291px;
    left: 4.249464511871338px;
    width: 17px;
    height: 25px;
    position: absolute;
    box-sizing: content-box;
}

.adoption-pet-single-page-g1 {
    top: 3.838843584060669px;
    left: 54.016666412353516px;
    width: 22px;
    height: 25px;
    position: absolute;
    box-sizing: content-box;
}

.adoption-pet-single-page-o1 {
    top: 3.838843584060669px;
    left: 82.25806427001953px;
    width: 26px;
    height: 25px;
    position: absolute;
    box-sizing: content-box;
}

.adoption-pet-single-page-frame2608749 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
}

.adoption-pet-single-page-akariconsfacebookfill {
    width: 20px;
    height: 20px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 12px;
}

.adoption-pet-single-page-group2 {
    top: 72.8529052734375px;
    left: 1px;
    width: 18px;
    height: 18px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.adoption-pet-single-page-group3 {
    top: 0px;
    left: 0px;
    width: 18px;
    height: 18px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.adoption-pet-single-page-akariconsyoutubefill {
    width: 20px;
    height: 20px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 12px;
}

.adoption-pet-single-page-group4 {
    top: 75.3291015625px;
    left: -0.0009765625px;
    width: 20.0026912689209px;
    height: 13.341608047485352px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.adoption-pet-single-page-group5 {
    top: 0px;
    left: 0px;
    width: 20.0026912689209px;
    height: 13.341608047485352px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.adoption-pet-single-page-frame26087481 {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
    border-color: transparent;
    justify-content: flex-end;
}

.adoption-pet-single-page-frame2608742 {
    width: 175.1999969482422px;
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 24px;
    flex-direction: column;
}

.adoption-pet-single-page-text080 {
    color: rgba(38, 92, 98, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 16px;
}

.adoption-pet-single-page-frame2608776 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-text082 {
    color: rgba(17, 34, 17, 1);
    width: 175px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 12px;
}

.adoption-pet-single-page-text084 {
    color: rgba(38, 92, 98, 1);
    width: 175px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 12px;
}

.adoption-pet-single-page-text086 {
    color: rgba(38, 92, 98, 1);
    width: 175px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 12px;
}

.adoption-pet-single-page-text088 {
    color: rgba(38, 92, 98, 1);
    width: 175px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-frame2608744 {
    width: 175.1999969482422px;
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 24px;
    flex-direction: column;
}

.adoption-pet-single-page-text090 {
    color: rgba(38, 92, 98, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 16px;
}

.adoption-pet-single-page-frame2608777 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-text092 {
    color: rgba(38, 92, 98, 1);
    width: 175px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 12px;
}

.adoption-pet-single-page-text094 {
    color: rgba(38, 92, 98, 1);
    width: 175px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 12px;
}

.adoption-pet-single-page-text096 {
    color: rgba(38, 92, 98, 1);
    width: 175px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 12px;
}

.adoption-pet-single-page-text098 {
    color: rgba(38, 92, 98, 1);
    width: 175px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-frame26087471 {
    width: 175.1999969482422px;
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 24px;
    flex-direction: column;
}

.adoption-pet-single-page-text100 {
    color: rgba(38, 92, 98, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 16px;
}

.adoption-pet-single-page-frame2608778 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-text102 {
    color: rgba(38, 92, 98, 1);
    width: 175px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 12px;
}

.adoption-pet-single-page-text104 {
    color: rgba(38, 92, 98, 1);
    width: 175px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 12px;
}

.adoption-pet-single-page-text106 {
    color: rgba(38, 92, 98, 1);
    width: 175px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 12px;
}

.adoption-pet-single-page-text108 {
    color: rgba(38, 92, 98, 1);
    width: 175px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-frame2608745 {
    width: 175.1999969482422px;
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 24px;
    flex-direction: column;
}

.adoption-pet-single-page-text110 {
    color: rgba(38, 92, 98, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 16px;
}

.adoption-pet-single-page-frame2608779 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-text112 {
    color: rgba(38, 92, 98, 1);
    width: 175px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 12px;
}

.adoption-pet-single-page-text114 {
    color: rgba(38, 92, 98, 1);
    width: 175px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-frame2608746 {
    width: 175.1999969482422px;
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-text116 {
    color: rgba(38, 92, 98, 1);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 16px;
}

.adoption-pet-single-page-frame2608780 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.adoption-pet-single-page-text118 {
    color: rgba(38, 92, 98, 1);
    width: 175px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 12px;
}

.adoption-pet-single-page-text120 {
    color: rgba(38, 92, 98, 1);
    width: 175px;
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.adoption-pet-single-page-copyrightfootnote {
    display: flex;
    padding: 22px 476px;
    overflow: hidden;
    position: relative;
    align-items: center;
    border-color: transparent;
    justify-content: center;
    background-color: rgba(38, 92, 98, 1);
}

.adoption-pet-single-page-text122 {
    color: rgba(250, 251, 252, 1);
    height: auto;
    opacity: 0.70;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}