<!DOCTYPE html>
<html lang="english">

<head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p,
        li,
        ul,
        pre,
        div,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        figure,
        blockquote,
        figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button,
        select {
            text-transform: none;
        }

        /* button,
        [type="button"],
        [type="reset"],
        [type="submit"] {
            -webkit-appearance: button;
        } */

        button::-moz-focus-inner,
        [type="button"]::-moz-focus-inner,
        [type="reset"]::-moz-focus-inner,
        [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        button:-moz-focus,
        [type="button"]:-moz-focus,
        [type="reset"]:-moz-focus,
        [type="submit"]:-moz-focus {
            outline: 1px dotted ButtonText;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);

        }
    </style>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="./style.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div>

        <div class="lost-pet-listing-container">
            <div class="lost-pet-listing-lost-pet-listing">
                <div class="lost-pet-listing-header-default">


                    <div>


                        <div class="lost-pet-listing-frame20">


                            <img src="./assets/public/playground_assets/explorei503-j1.svg" alt="ExploreI503"
                                class="lost-pet-listing-explore" />
                            <span class="lost-pet-listing-text MontserratSemibold14px">
                                <span><a href="/listing/Lost-Pet">I’ve Lost Pets</a></span>
                            </span>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                            <img src="./assets/public/playground_assets/materialsymbolssearchroundedi503-apn.svg"
                                alt="materialsymbolssearchroundedI503"
                                class="lost-pet-listing-materialsymbolssearchrounded" />
                            <span class="lost-pet-listing-text002 MontserratSemibold14px">
                                <span><a href="/listing/found-Pet">I’ve Found Pets</a></span>
                            </span>


                        </div>





                    </div>



<a href="">
                    <div class="lost-pet-listing-logo">
                        <div class="lost-pet-listing-group">
                            <img src="./assets/public/playground_assets/temporarylogoi503-0zzq-200h.png"
                                alt="TemporaryLogoI503" class="lost-pet-listing-temporary-logo" />
                        </div>
                        <img src="./assets/public/playground_assets/li503-8u4k.svg" alt="LI503"
                            class="lost-pet-listing-l" />
                        <img src="./assets/public/playground_assets/gi503-0o4m.svg" alt="GI503"
                            class="lost-pet-listing-g" />
                        <img src="./assets/public/playground_assets/oi503-r0w49.svg" alt="OI503"
                            class="lost-pet-listing-o" />
                    </div>

</a>
                    <div class="lost-pet-listing-frame24">
                        <a href="listing/Search">  <span class="lost-pet-listing-text004 MontserratSemibold14px">
                            <span>Breeds</span>
                        </span>
                        </a>
                        <a href="listing/Search">
                             <span class="lost-pet-listing-text006 MontserratSemibold14px">
                            <span>Search Pets</span>
                        </span>
                        </a>




                        <a href="/auth/login" style="text-decoration: none;">
                            <span *ngIf="!isLoggedIn" class="lost-pet-listing-text008 MontserratSemibold14px">
                                <span>Login</span>
                            </span>
                        </a>


                        <a style="text-decoration: none;" (click)="logout()" href> <span *ngIf="isLoggedIn"
                                class="hero-text32 MontserratSemibold14px">
                                <span>Logout</span>
                            </span>
                        </a>



                        <a href="/auth/registre">

                            <button class="lost-pet-listing-patientbutton" *ngIf="!isLoggedIn">
                                <div class="lost-pet-listing-statelayer">
                                    <span class="lost-pet-listing-text010 MontserratSemibold14px">
                                        <span>Sign up</span>
                                    </span>
                                </div>
                            </button>

                        </a>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <a style="text-decoration: none;" href="Account">
                            <button style="color: rgb(78, 67, 67);" class="btn btn-outline-success" type="button"
                                *ngIf="isLoggedIn">


                                <span>{{this.eeee}}</span>


                            </button>
                        </a>
                    </div>




                    <img src="./assets/public/playground_assets/rectangle5i503-ug8-200h.png" alt="Rectangle5I503"
                        class="lost-pet-listing-rectangle5" />
                </div>



                <div class="lost-pet-listing-footer" >
                    <div class="lost-pet-listing-frame2608782">
                        <div class="lost-pet-listing-frame2608747">
                            <div class="lost-pet-listing-frame2608743">
                                <span class="lost-pet-listing-text012 TradeGothicBoldH1">
                                    <span>Subscribe Newsletter</span>
                                </span>
                                <div class="lost-pet-listing-frame2608755">
                                    <div class="lost-pet-listing-frame26087431">
                                        <span class="lost-pet-listing-text014 MontserratRegularH5">
                                            <span>Join Our Community</span>
                                        </span>
                                        <span class="lost-pet-listing-text016 MontserratRegularBody">
                                            <span>
                                                Be the First to Know About New Adoptable Pets and
                                                Receive Our Monthly Newsletter. Subscribe Now!
                                            </span>
                                        </span>
                                    </div>
                                    <div class="lost-pet-listing-frame2608741">
                                        <div class="lost-pet-listing-textfield">
                                            <div class="lost-pet-listing-textfield01">
                                                <div class="lost-pet-listing-statelayer1">
                                                    <div class="lost-pet-listing-content">
                                                        <div class="lost-pet-listing-labeltext">
                                                            <span
                                                                class="lost-pet-listing-text018 MontserratRegularBody">
                                                                <span>Your email address</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="lost-pet-listing-button">
                                            <div class="lost-pet-listing-stylelayer">
                                                <span class="lost-pet-listing-text020 MontserratMedium14px">
                                                    <span>Subscribe</span>
                                                </span>
                                            </div>
                                        </button>
                                        <button class="lost-pet-listing-button01"></button>
                                    </div>
                                </div>
                            </div>
                            <img src="./assets/public/playground_assets/emojionev1openmailboxwithloweredflagi503-rnkw.svg"
                                alt="emojionev1openmailboxwithloweredflagI503"
                                class="lost-pet-listing-emojionev1openmailboxwithloweredflag" />
                        </div>
                        <div class="lost-pet-listing-frame2608748">

                            <div class="lost-pet-listing-frame2608750">
                                <div class="lost-pet-listing-logo1">
                                    <div>
                                        <img src="./assets/public/playground_assets/temporarylogoi503-qvw-200h.png"
                                            alt="TemporaryLogoI503" class="lost-pet-listing-temporary-logo1" />
                                    </div>
                                    <img src="./assets/public/playground_assets/li503-w9ke.svg" alt="LI503"
                                        class="lost-pet-listing-l1" />
                                    <img src="./assets/public/playground_assets/gi503-9f9r.svg" alt="GI503"
                                        class="lost-pet-listing-g1" />
                                    <img src="./assets/public/playground_assets/oi503-6g9jk.svg" alt="OI503"
                                        class="lost-pet-listing-o1" />
                                </div>
                                <div class="lost-pet-listing-frame2608749">
                                    <div class="lost-pet-listing-akariconsfacebookfill">
                                        <div>
                                            <div class="lost-pet-listing-group3"></div>
                                        </div>
                                    </div>
                                    <div class="lost-pet-listing-akariconsyoutubefill">
                                        <div class="lost-pet-listing-group4">
                                            <div class="lost-pet-listing-group5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="lost-pet-listing-frame26087481">



                                <div class="lost-pet-listing-frame2608742">
                                    <span class="lost-pet-listing-text022 TradeGothicBoldH6">
                                        <span>Our Destinations</span>
                                    </span>
                                    <div class="lost-pet-listing-frame2608776">
                                        <span class="lost-pet-listing-text024 MontserratRegularSmallText">
                                            <span>Canada</span>
                                        </span>
                                        <span class="lost-pet-listing-text026 MontserratRegularSmallText">
                                            <span>Alaksa</span>
                                        </span>
                                        <span class="lost-pet-listing-text028 MontserratRegularSmallText">
                                            <span>France</span>
                                        </span>
                                        <span class="lost-pet-listing-text030 MontserratMedium14px">
                                            <span>Iceland</span>
                                        </span>
                                    </div>
                                </div>



                                <div class="lost-pet-listing-frame2608744">
                                    <span class="lost-pet-listing-text032 TradeGothicBoldH6">
                                        <span>Our Activities</span>
                                    </span>
                                    <div class="lost-pet-listing-frame2608777">
                                        <span class="lost-pet-listing-text034 MontserratRegularSmallText">
                                            <span>Northern Lights</span>
                                        </span>
                                        <span class="lost-pet-listing-text036 MontserratRegularSmallText">
                                            <span>Cruising &amp; sailing</span>
                                        </span>
                                        <span class="lost-pet-listing-text038 MontserratRegularSmallText">
                                            <span>Multi-activities</span>
                                        </span>
                                        <span class="lost-pet-listing-text040 MontserratRegularSmallText">
                                            <span>Kayaing</span>
                                        </span>
                                    </div>
                                </div>


                                <div class="lost-pet-listing-frame26087471">
                                    <span class="lost-pet-listing-text042 TradeGothicBoldH6">
                                        <span>Travel Blogs</span>
                                    </span>
                                    <div class="lost-pet-listing-frame2608778">
                                        <span class="lost-pet-listing-text044 MontserratRegularSmallText">
                                            <span>Bali Travel Guide</span>
                                        </span>
                                        <span class="lost-pet-listing-text046 MontserratRegularSmallText">
                                            <span>Sri Lanks Travel Guide</span>
                                        </span>
                                        <span class="lost-pet-listing-text048 MontserratRegularSmallText">
                                            <span>Peru Travel Guide</span>
                                        </span>
                                        <span class="lost-pet-listing-text050 MontserratRegularSmallText">
                                            <span>Bali Travel Guide</span>
                                        </span>
                                    </div>
                                </div>




                                <div class="lost-pet-listing-frame2608745">
                                    <span class="lost-pet-listing-text052 TradeGothicBoldH6">
                                        <span>About Us</span>
                                    </span>
                                    <div class="lost-pet-listing-frame2608779">
                                        <span class="lost-pet-listing-text054 MontserratRegularSmallText">
                                            <span>Our Story</span>
                                        </span>
                                        <span class="lost-pet-listing-text056 MontserratRegularSmallText">
                                            <span>Work with us</span>
                                        </span>
                                    </div>
                                </div>




                                <div class="lost-pet-listing-frame2608746">
                                    <span class="lost-pet-listing-text058 TradeGothicBoldH6">
                                        <span>Contact Us</span>
                                    </span>
                                    <div class="lost-pet-listing-frame2608780">
                                        <span class="lost-pet-listing-text060 MontserratRegularSmallText">
                                            <span>Our Story</span>
                                        </span>
                                        <span class="lost-pet-listing-text062 MontserratRegularSmallText">
                                            <span>Work with us</span>
                                        </span>
                                    </div>
                                </div>
                            </div>






                        </div>
                    </div>
                    <div class="lost-pet-listing-copyrightfootnote">
                        <span class="lost-pet-listing-text064 MontserratRegularSmallerText">
                            <span>
                                Copyright © 2023 All Rights Reserved. In association with
                                IamThehackerman.com
                            </span>
                        </span>
                    </div>
                </div>
                <div class="lost-pet-listing-group9">
                    <img src="./assets/public/playground_assets/rectangle135039-taxb-200w.png" alt="Rectangle135039"
                        class="lost-pet-listing-rectangle13" />
                    <div class="lost-pet-listing-frame108">
                        <span class="lost-pet-listing-text066 MontserratSemibold20px">
                            <span>Filters</span>
                        </span>
                        <img src="./assets/public/playground_assets/rectangle45039-nkcj-200h.png" alt="Rectangle45039"
                            class="lost-pet-listing-rectangle4" />
                        <div class="lost-pet-listing-frame98">
                            <div class="lost-pet-listing-frame120">
                                <span class="lost-pet-listing-text068 MontserratSemibold16px">
                                    <span>Enter Location</span>
                                </span>
                                <!-- <img src="./assets/public/playground_assets/chevrondown5039-kwm.svg"
                                    alt="chevrondown5039" class="lost-pet-listing-chevrondown" /> -->
                            </div>
                            <div class="lost-pet-listing-frame99">
                                <div class="lost-pet-listing-textfield02">
                                    <div class="lost-pet-listing-textfield03">
                                        <div class="lost-pet-listing-statelayer2">
                                            <div class="lost-pet-listing-content1">
                                                <div class="lost-pet-listing-placeholdertext">
                                                    <span class="lost-pet-listing-text070 Regular16px">
                                                        <span>

            <form method="get" (ngSubmit)="searchanimauxadd()" name="form" #f="ngForm" novalidate>
            
                <input type="text" placeholder="Nowy Targ, Poland" name="addrs" [(ngModel)]="form.addrs" #addrs="ngModel"
                    (ngModelChange)="searchanimauxadd()">
            </form>




                                                        </span>

                                                    </span>
                                                </div>
                                            </div>
                                            <div class="lost-pet-listing-trailingicon">
                                                <img src="./assets/public/playground_assets/locationi503-km7b.svg"
                                                    alt="LocationI503" class="lost-pet-listing-location" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="./assets/public/playground_assets/rectangle165039-32s-200h.png" alt="Rectangle165039"
                            class="lost-pet-listing-rectangle16" />
                        <div class="lost-pet-listing-frame1081">
                            <div class="lost-pet-listing-frame1201">
                                <span class="lost-pet-listing-text072 MontserratSemibold16px">
                                    <span>Name</span>
                                </span>
                                <!-- <img src="./assets/public/playground_assets/chevrondown5039-47r.svg"
                                    alt="chevrondown5039" class="lost-pet-listing-chevrondown01" /> -->
                            </div>
                            <div class="lost-pet-listing-frame991">
                                <div class="lost-pet-listing-textfield04">
                                    <div class="lost-pet-listing-textfield05">
                                        <div class="lost-pet-listing-statelayer3">
                                            <div class="lost-pet-listing-content2">
                                                <div class="lost-pet-listing-placeholdertext1">
                                                    <span class="lost-pet-listing-text074 Regular16px">
                                                        <span> 
                                                            <form method="get" (ngSubmit)="searchanimaux()" name="form" #f="ngForm" novalidate>
                                                            
                                                                <input type="text" placeholder="Jakie" name="name" [(ngModel)]="form.name" #name="ngModel"
                                                                    (ngModelChange)="searchanimaux()">
                                                            </form>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="lost-pet-listing-trailingicon1">
                                                <!-- <img src="./assets/public/playground_assets/chevrondowni503-4hbf.svg"
                                                    alt="chevrondownI503" class="lost-pet-listing-chevrondown02" /> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="./assets/public/playground_assets/rectangle145039-wh8-200h.png" alt="Rectangle145039"
                            class="lost-pet-listing-rectangle14" />
                        <div class="lost-pet-listing-frame109">
                            <div class="lost-pet-listing-frame1202">
                                <span class="lost-pet-listing-text076 MontserratSemibold16px">
                                    <span>Breeds</span>
                                </span>
                                <!-- <img src="./assets/public/playground_assets/chevrondown5039-zubd.svg"
                                    alt="chevrondown5039" class="lost-pet-listing-chevrondown03" /> -->
                            </div>
                            <div class="lost-pet-listing-frame992">
                                <div class="lost-pet-listing-textfield06">
                                    <div class="lost-pet-listing-textfield07">
                                        <div class="lost-pet-listing-statelayer4">
                                            <div class="lost-pet-listing-content3">
                                                <div class="lost-pet-listing-placeholdertext2">
                                                    <span class="lost-pet-listing-text078 Regular16px">
                                                        <span>
                                                            <form method="get" (ngSubmit)="searchanimauxBreed()" name="form" #f="ngForm" novalidate>
                                                            
                                                                <input type="text" placeholder="Any" name="bred" [(ngModel)]="form.bred" #bred="ngModel"
                                                                    (ngModelChange)="searchanimauxBreed()">
                                                            </form>

                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="lost-pet-listing-trailingicon2">
                                                <!-- <img src="./assets/public/playground_assets/chevrondowni503-l3du.svg"
                                                    alt="chevrondownI503" class="lost-pet-listing-chevrondown04" /> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="./assets/public/playground_assets/rectangle185039-htcc-200h.png" alt="Rectangle185039"
                            class="lost-pet-listing-rectangle18" />
                        <div class="lost-pet-listing-frame110">
                            <div class="lost-pet-listing-frame1203">
                                <span class="lost-pet-listing-text080 MontserratSemibold16px">
                                    <span>Size</span>
                                </span>
                                <!-- <img src="./assets/public/playground_assets/chevrondown5039-8bq.svg"
                                    alt="chevrondown5039" class="lost-pet-listing-chevrondown05" /> -->
                            </div>
                            <div class="lost-pet-listing-frame993">
                                <div class="lost-pet-listing-textfield08">
                                    <div class="lost-pet-listing-textfield09">
                                        <div class="lost-pet-listing-statelayer5">
                                            <div class="lost-pet-listing-content4">
                                                <div class="lost-pet-listing-placeholdertext3">
                                                    <span class="lost-pet-listing-text082 Regular16px">
                                                        <span>
                                                            <form method="get" (ngSubmit)="searchanimauxSize()" name="form" #f="ngForm" novalidate>
                                                        
                                                            <input type="text" placeholder="Any" name="size" [(ngModel)]="form.size" #size="ngModel"
                                                                (ngModelChange)="searchanimauxSize()">
                                                        </form>
                                                    </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="lost-pet-listing-trailingicon3">
                                                <!-- <img src="./assets/public/playground_assets/chevrondowni503-duvd.svg"
                                                    alt="chevrondownI503" class="lost-pet-listing-chevrondown06" /> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="./assets/public/playground_assets/rectangle195039-w6jp-200h.png" alt="Rectangle195039"
                            class="lost-pet-listing-rectangle19" />
                        <div class="lost-pet-listing-frame111">
                            <div class="lost-pet-listing-frame1204">
                                <span class="lost-pet-listing-text084 MontserratSemibold16px">
                                    <span>Age</span>
                                </span>
                                <!-- <img src="./assets/public/playground_assets/chevrondown5039-rtfo.svg"
                                    alt="chevrondown5039" class="lost-pet-listing-chevrondown07" /> -->
                            </div>
                            <div class="lost-pet-listing-frame994">
                                <div class="lost-pet-listing-textfield10">
                                    <div class="lost-pet-listing-textfield11">
                                        <div class="lost-pet-listing-statelayer6">
                                            <div class="lost-pet-listing-content5">
                                                <div class="lost-pet-listing-placeholdertext4">
                                                    <span class="lost-pet-listing-text086 Regular16px">
                                                        <span>
                                                            <form method="get" (ngSubmit)="searchanimauxAge()" name="form" #f="ngForm" novalidate>
                                                            
                                                                <input type="number" min="1" max="100" placeholder="Any" name="age" [(ngModel)]="form.age" #age="ngModel"
                                                                    (ngModelChange)="searchanimauxAge()">
                                                            </form>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="lost-pet-listing-trailingicon4">
                                                <!-- <img src="./assets/public/playground_assets/chevrondowni503-7t1b.svg"
                                                    alt="chevrondownI503" class="lost-pet-listing-chevrondown08" /> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lost-pet-listing-frame2608787">
                        <div class="lost-pet-listing-group6">
                            <div class="lost-pet-listing-frame71">
                                <div class="lost-pet-listing-frame131">
                                    <div class="lost-pet-listing-frame130">
                                        <span class="lost-pet-listing-text088 MontserratSemibold16px">
                                            <span>Dogs</span>
                                        </span>
                                    </div>
                                    <span class="lost-pet-listing-text090 MontserratRegular14px">
                                        <span>{{this.nb}} pets</span>
                                   
                                    </span>
                                </div>
                                <img src="./assets/public/playground_assets/line15039-t2u9.svg" alt="Line15039"
                                    class="lost-pet-listing-line1" />
                                <div class="lost-pet-listing-frame132">
                                    <div class="lost-pet-listing-frame1301">
                                        <span class="lost-pet-listing-text092 MontserratSemibold16px">
                                            <span>Cats</span>
                                        </span>
                                    </div>
                                    <span class="lost-pet-listing-text094 MontserratRegular14px">
                                        <span>{{this.nb}}  pets</span>
                                       
                                    </span>
                                </div>
                                <div class="lost-pet-listing-frame133">
                                    <div class="lost-pet-listing-frame1302"></div>
                                </div>
                                <img src="./assets/public/playground_assets/line45039-qfk3.svg" alt="Line45039"
                                    class="lost-pet-listing-line4" />
                            </div>
                            <div class="lost-pet-listing-frame1101">
                                <span class="lost-pet-listing-text096 MontserratSemibold14px">
                                    <span class="lost-pet-listing-text097">Showing 4 of</span>
                                    <span>257 pets</span>
                                </span>
                                <div class="lost-pet-listing-frame49">
                                    <span class="lost-pet-listing-text099">
                                        <span class="lost-pet-listing-text100">Sort by</span>
                                        <span>Recommended</span>
                                    </span>
                                    <img src="./assets/public/playground_assets/chevrondown5039-pdp.svg"
                                        alt="chevrondown5039" class="lost-pet-listing-chevrondown09" />
                                </div>
                            </div>

                        </div>




                        <div class="lost-pet-listing-pet-list">




























                            <div  *ngFor="let anim of displayedItems " class="lost-pet-listing-horizontal-card-lost-pets">

                                <img src="./assets/public/playground_assets/rectangle38i503-l5nm-300h.png"
                                    alt="Rectangle38I503" class="lost-pet-listing-rectangle38" />

                                <div class="lost-pet-listing-group1">

                                    
                                    <!-- <img src="./assets/public/playground_assets/rectangle3i503-54p-300h.png"
                                        alt="Rectangle3I503" class="lost-pet-listing-rectangle3" /> -->

                                        <img src="{{anim.image}}" alt="Rectangle3I503"
                                            class="lost-pet-listing-rectangle3" />

                                             <!-- <span>{{anim.image}}</span> -->


                                    <div class="lost-pet-listing-frame56">
                                        <span class="lost-pet-listing-text102 MontserratMedium12px">
                                            <span>9 images</span>
                                        </span>
                                    </div>

                                    <div class="lost-pet-listing-frame4">
                                        <div class="lost-pet-listing-frame50">
                                            <div class="lost-pet-listing-frame2">
                                                <span class="lost-pet-listing-text104 TradeGothicBold20px">
                                                    <span>{{anim.name}}</span>
                                                </span>
                                                <div class="lost-pet-listing-frame55">
                                                    <div class="lost-pet-listing-frame73">
                                                        <div class="lost-pet-listing-frame53">
                                                            <div class="lost-pet-listing-frame52">
                                                                <img src="./assets/public/playground_assets/dogsi503-ltmh.svg"
                                                                    alt="DogsI503" class="lost-pet-listing-dogs" />
                                                            </div>
                                                            <span class="lost-pet-listing-text106 MontserratMedium12px">
                                                                <!-- <span>Alaskan Malamute</span> -->
                                                                <span>{{anim.species}}</span>
                                                            </span>
                                                        </div>
                                                        <div class="lost-pet-listing-frame72">
                                                            <img src="./assets/public/playground_assets/component64i503-uhx.svg"
                                                                alt="Component64I503"
                                                                class="lost-pet-listing-component64" />
                                                            <span class="lost-pet-listing-text108 MontserratBold12px">
                                                                <span>{{anim.size}}</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="lost-pet-listing-frame74">
                                                        <div class="lost-pet-listing-frame531">
                                                            <div class="lost-pet-listing-frame521">
                                                                <img src="./assets/public/playground_assets/calendari503-auub.svg"
                                                                    alt="calendarI503"
                                                                    class="lost-pet-listing-calendar" />
                                                            </div>
                                                            <span
                                                                class="lost-pet-listing-text110 MontserratSemiBoldSmallerHeading">
                                                                <span>Lost Date :</span>
                                                            </span>
                                                            <span class="lost-pet-listing-text112 MontserratMedium12px">
                                                                <span>{{anim.datelost}}</span>
                                                            </span>
                                                        </div>
                                                        <!-- <div class="lost-pet-listing-frame721">
                                                            <img src="./assets/public/playground_assets/timmeri503-62hk.svg"
                                                                alt="timmerI503" class="lost-pet-listing-timmer" />
                                                            <span class="lost-pet-listing-text114 MontserratBold12px">
                                                                <span>Lost Time :</span>
                                                            </span>
                                                            <span class="lost-pet-listing-text116 MontserratMedium12px">
                                                                <span>15:00</span>
                                                            </span>
                                                        </div> -->
                                                    </div>
                                                    <div class="lost-pet-listing-frame54">
                                                        <img src="./assets/public/playground_assets/locationi503-7gg.svg"
                                                            alt="LocationI503" class="lost-pet-listing-location1" />
                                                        <span
                                                            class="lost-pet-listing-text118 MontserratSemiBoldSmallerHeading">
                                                            <span>Last Known Place :</span>
                                                        </span>
                                                        <span class="lost-pet-listing-text120 MontserratMedium12px">
                                                            <span>
                                                            <span>{{anim.addrs}}</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="./assets/public/playground_assets/rectangle4i503-tzss-200h.png"
                                            alt="Rectangle4I503" class="lost-pet-listing-rectangle41" />
                                        <div class="lost-pet-listing-frame60">
                                            <!-- <button class="lost-pet-listing-button02">
                                                <div class="lost-pet-listing-stylelayer01">
                                                    <img src="./assets/public/playground_assets/hearti503-jqd8.svg"
                                                        alt="heartI503" class="lost-pet-listing-heart" />
                                                </div>
                                            </button> -->
                                            <button class="lost-pet-listing-button03">
                                                <div class="lost-pet-listing-stylelayer02">
                                                    <span class="lost-pet-listing-text122 MontserratSemibold14px">
                                                        <span> <a style="text-decoration: none; color: white;" href="Single-Page/Lost/{{anim.id}}">See Details</a></span>
                                                    </span>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

 

                        </div>


 
                        <button style="margin-bottom:20%;" (click)="incrementDisplayCount()"  *ngIf="!nondata" class="lost-pet-listing-button10">
                            <div class="lost-pet-listing-stylelayer09">
                                <span class="lost-pet-listing-text190 MontserratSemibold14px">
                                    <span>Show more results</span>
                                </span>
                            </div>
                        </button>

                        


                      
                            <div  *ngIf="nondata"  class="lost-pet-listing-stylelayer09">
                                <span class="lost-pet-listing-text190 MontserratSemibold14px">
                                    <h5>No Pets !  </h5>
                                    <!-- {{this.nb}} -->
                                </span>
                            </div>
                        

                      
                    </div   >
                </div>

                <div class="lost-pet-listing-group7">
                    <div class="lost-pet-listing-group2">
                        <img src="./assets/public/playground_assets/background5039-xive-1400w.png" alt="Background5039"
                            class="lost-pet-listing-background" />
                        <!-- <img src="./assets/public/playground_assets/rectangle325039-riesq-1400w.png" alt="Rectangle325039"
                            class="lost-pet-listing-rectangle32" /> -->
                        <div class="lost-pet-listing-frame2608753">
                            <div class="lost-pet-listing-frame2608752">
                                <span class="lost-pet-listing-text192">
                                    <span>Help Bring Them Home</span>
                                </span>
                                <span class="lost-pet-listing-text194">
                                    <span>LOST PETS</span>
                                </span>
                            </div>
                            <span class="lost-pet-listing-text196 MontserratSemibold20px">
                                <span>
                                    Our community is committed to reuniting lost pets with their
                                    families. Browse through our listings of missing pets and if
                                    you have any information, please contact the pet's owner
                                    immediately. Together, we can help bring these furry friends
                                    back home.
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>