.forgot-password-verify-code-container {
    min-height: 100vh;
}

.forgot-password-verify-code-forgot-password-verify-code {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
}

.forgot-password-verify-code-rectangle20 {
    top: 104px;
    left: 720px;
    width: 616px;
    height: 816px;
    position: absolute;
    border-color: transparent;
    border-radius: 30px;
}

.forgot-password-verify-code-rectangle22 {
    top: 920px;
    left: 722px;
    width: 616px;
    height: 58px;
    position: absolute;
    border-color: transparent;
    border-radius: 30px 30px 0 0;
}

.forgot-password-verify-code-frame265 {
    top: 886px;
    left: 994px;
    width: 68px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    border-color: transparent;
}

.forgot-password-verify-code-rectangle21 {
    width: 32px;
    height: 10px;
    position: relative;
    border-color: transparent;
    margin-right: 8px;
    border-radius: 5px;
}

.forgot-password-verify-code-ellipse6 {
    width: 10px;
    height: 10px;
    position: relative;
    border-color: transparent;
    margin-right: 8px;
}

.forgot-password-verify-code-ellipse7 {
    width: 10px;
    height: 10px;
    position: relative;
    border-color: transparent;
}

.forgot-password-verify-code-logo {
    top: 104px;
    left: 104px;
    width: 110px;
    height: 36px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
}

.forgot-password-verify-code-group {
    top: 2.999976396560669px;
    left: 23.000078201293945px;
    width: 29px;
    height: 27px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}

.forgot-password-verify-code-temporary-logo {
    top: 0px;
    left: 0px;
    width: 29px;
    height: 27px;
    position: absolute;
    border-color: transparent;
    border-radius: 7.129032135009766px;
}

.forgot-password-verify-code-l {
    top: 4.52419376373291px;
    left: 4.249464511871338px;
    width: 17px;
    height: 25px;
    position: absolute;
    box-sizing: content-box;
}

.forgot-password-verify-code-g {
    top: 3.838843584060669px;
    left: 54.016666412353516px;
    width: 22px;
    height: 25px;
    position: absolute;
    box-sizing: content-box;
}

.forgot-password-verify-code-o {
    top: 3.838843584060669px;
    left: 82.25806427001953px;
    width: 26px;
    height: 25px;
    position: absolute;
    box-sizing: content-box;
}

.forgot-password-verify-code-frame266 {
    top: 204px;
    left: 104px;
    width: 512px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
}

.forgot-password-verify-code-frame270 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 48px;
    flex-direction: column;
}

.forgot-password-verify-code-frame101 {
    display: flex;
    position: relative;
    align-items: center;
    border-color: transparent;
    margin-bottom: 16px;
}

.forgot-password-verify-code-chevronback {
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 4px;
}

.forgot-password-verify-code-text {
    color: var(--dl-color-primary-primary90);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.forgot-password-verify-code-frame261 {
    width: 512px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
}

.forgot-password-verify-code-text02 {
    color: rgba(0, 0, 0, 1);
    height: auto;
    align-self: stretch;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 16px;
}

.forgot-password-verify-code-text04 {
    color: var(--dl-color-primary-primary90);
    height: auto;
    opacity: 0.75;
    align-self: stretch;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.forgot-password-verify-code-frame269 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.forgot-password-verify-code-frame271 {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 32px;
    flex-direction: column;
}

.forgot-password-verify-code-textfield {
    width: 512px;
    height: 56px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 4px 4px 0 0;
    margin-bottom: 16px;
    flex-direction: column;
}

.forgot-password-verify-code-textfield1 {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    border-color: rgba(121, 116, 126, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    flex-direction: column;
    background-color: var(--dl-color-default-neutrals);
}

.forgot-password-verify-code-statelayer {
    display: flex;
    padding: 4px 0 4px 16px;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 4px 4px 0 0;
}

.forgot-password-verify-code-content {
    width: 448px;
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0px;
    flex-direction: column;
    justify-content: center;
}

.forgot-password-verify-code-inputtext {
    color: rgba(28, 27, 31, 1);
    display: flex;
    position: relative;
    font-size: 16px;
    text-align: left;
    align-items: center;
    font-family: Montserrat;
    font-weight: 400;
    border-color: transparent;
    margin-bottom: 0px;
}

.forgot-password-verify-code-labeltext {
    top: -16px;
    left: -4px;
    display: flex;
    padding: 0 4px;
    z-index: 1;
    position: absolute;
    align-items: center;
    border-color: transparent;
    background-color: var(--dl-color-default-neutrals);
}

.forgot-password-verify-code-text06 {
    color: var(--dl-color-primary-primary90);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}

.forgot-password-verify-code-trailingicon {
    width: 48px;
    height: 48px;
    display: flex;
    padding: 12px;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    flex-direction: column;
    justify-content: center;
}

.forgot-password-verify-code-eye {
    width: 24px;
    height: 24px;
    position: relative;
}

.forgot-password-verify-code-text08 {
    color: rgba(38, 92, 98, 1);
    width: 512px;
    height: auto;
    font-size: 14px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.forgot-password-verify-code-text09 {
    color: var(--dl-color-primary-primary90);
    font-weight: 500;
}

.forgot-password-verify-code-button {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
}

.forgot-password-verify-code-stylelayer {
    display: flex;
    padding: 8px 16px;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 4px;
    justify-content: center;
    background-color: var(--dl-color-primary-primary90);
}

.forgot-password-verify-code-text11 {
    color: var(--dl-color-success-10);
    height: auto;
    align-self: auto;
    text-align: left;
    line-height: normal;
    margin-right: 0;
    margin-bottom: 0;
}