<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Pet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}
      body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}
      p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}
      button {  background-color: transparent;}
      button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}
      button,select {  text-transform: none;}
      /* button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;} */
      button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}
      button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>

      <div class="pet-listing-container">
        <div class="pet-listing-pet-listing">
          <div class="pet-listing-header-default">
            <div>
              <div class="pet-listing-frame20">
                <img
                  alt="ExploreI271"
                  src="./assets/public/playground_assets/explorei271-gt6.svg"
                  class="pet-listing-explore"
                />
                <span class="pet-listing-text MontserratSemibold14px">
                  <span>I’ve Lost Pets</span>
                </span>
              </div>
              <div>
                <img
                  alt="materialsymbolssearchroundedI271"
                  src="./assets/public/playground_assets/materialsymbolssearchroundedi271-2ps.svg"
                  class="pet-listing-materialsymbolssearchrounded"
                />
                <span class="pet-listing-text002 MontserratSemibold14px">
                  <span>I’ve Found Pets</span>
                </span>
              </div>
            </div>
            <div class="pet-listing-logo">
              <div class="pet-listing-group">
                <img
                  alt="TemporaryLogoI271"
                  src="./assets/public/playground_assets/temporarylogoi271-yb9-200h.png"
                  class="pet-listing-temporary-logo"
                />
              </div>
              <img
                alt="LI271"
                src="./assets/public/playground_assets/li271-3yeq.svg"
                class="pet-listing-l"
              />
              <img
                alt="GI271"
                src="./assets/public/playground_assets/gi271-pda.svg"
                class="pet-listing-g"
              />
              <img
                alt="OI271"
                src="./assets/public/playground_assets/oi271-wv8.svg"
                class="pet-listing-o"
              />
            </div>
            <div class="pet-listing-frame24">
              <span class="pet-listing-text004 MontserratSemibold14px">
                <span>Breeds</span>
              </span>
              <a href="listing/Search"> <span class="pet-listing-text006 MontserratSemibold14px">
                <span>Search Pets</span>
              </span>
              </a>
              <span class="pet-listing-text008 MontserratSemibold14px">
                <span>Login</span>
              </span>
              <button class="pet-listing-patientbutton">
                <div class="pet-listing-statelayer">
                  <span class="pet-listing-text010 MontserratSemibold14px">
                    <span>Sign up</span>
                  </span>
                </div>
              </button>
            </div>
            <img
              alt="Rectangle5I271"
              src="./assets/public/playground_assets/rectangle5i271-vm4g-200h.png"
              class="pet-listing-rectangle5"
            />
          </div>
          <div class="pet-listing-footer">
            <div class="pet-listing-frame2608782">
              <div class="pet-listing-frame2608747">
                <div class="pet-listing-frame2608743">
                  <span class="pet-listing-text012 TradeGothicBoldH1">
                    <span>Subscribe Newsletter</span>
                  </span>
                  <div class="pet-listing-frame2608755">
                    <div class="pet-listing-frame26087431">
                      <span class="pet-listing-text014 MontserratRegularH5">
                        <span>Join Our Community</span>
                      </span>
                      <span class="pet-listing-text016 MontserratRegularBody">
                        <span>
                          Be the First to Know About New Adoptable Pets and
                          Receive Our Monthly Newsletter. Subscribe Now!
                        </span>
                      </span>
                    </div>
                    <div class="pet-listing-frame2608741">
                      <div class="pet-listing-textfield">
                        <div class="pet-listing-textfield01">
                          <div class="pet-listing-statelayer1">
                            <div class="pet-listing-content">
                              <div class="pet-listing-labeltext">
                                <span
                                  class="pet-listing-text018 MontserratRegularBody"
                                >
                                  <span>Your email address</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button class="pet-listing-button">
                        <div class="pet-listing-stylelayer">
                          <span
                            class="pet-listing-text020 MontserratMedium14px"
                          >
                            <span>Subscribe</span>
                          </span>
                        </div>
                      </button>
                      <button class="pet-listing-button01"></button>
                    </div>
                  </div>
                </div>
                <img
                  alt="emojionev1openmailboxwithloweredflagI272"
                  src="./assets/public/playground_assets/emojionev1openmailboxwithloweredflagi272-ew9.svg"
                  class="pet-listing-emojionev1openmailboxwithloweredflag"
                />
              </div>
              <div class="pet-listing-frame2608748">
                <div class="pet-listing-frame2608750">
                  <div class="pet-listing-logo1">
                    <div>
                      <img
                        alt="TemporaryLogoI272"
                        src="./assets/public/playground_assets/temporarylogoi272-9put-200h.png"
                        class="pet-listing-temporary-logo1"
                      />
                    </div>
                    <img
                      alt="LI272"
                      src="./assets/public/playground_assets/li272-agb5.svg"
                      class="pet-listing-l1"
                    />
                    <img
                      alt="GI272"
                      src="./assets/public/playground_assets/gi272-zk6v.svg"
                      class="pet-listing-g1"
                    />
                    <img
                      alt="OI272"
                      src="./assets/public/playground_assets/oi272-l4d.svg"
                      class="pet-listing-o1"
                    />
                  </div>
                  <div class="pet-listing-frame2608749">
                    <div class="pet-listing-akariconsfacebookfill">
                      <div><div class="pet-listing-group3"></div></div>
                    </div>
                    <div class="pet-listing-akariconsyoutubefill">
                      <div class="pet-listing-group4">
                        <div class="pet-listing-group5"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pet-listing-frame26087481">
                  <div class="pet-listing-frame2608742">
                    <span class="pet-listing-text022 TradeGothicBoldH6">
                      <span>Our Destinations</span>
                    </span>
                    <div class="pet-listing-frame2608776">
                      <span
                        class="pet-listing-text024 MontserratRegularSmallText"
                      >
                        <span>Canada</span>
                      </span>
                      <span
                        class="pet-listing-text026 MontserratRegularSmallText"
                      >
                        <span>Alaksa</span>
                      </span>
                      <span
                        class="pet-listing-text028 MontserratRegularSmallText"
                      >
                        <span>France</span>
                      </span>
                      <span class="pet-listing-text030 MontserratMedium14px">
                        <span>Iceland</span>
                      </span>
                    </div>
                  </div>
                  <div class="pet-listing-frame2608744">
                    <span class="pet-listing-text032 TradeGothicBoldH6">
                      <span>Our Activities</span>
                    </span>
                    <div class="pet-listing-frame2608777">
                      <span
                        class="pet-listing-text034 MontserratRegularSmallText"
                      >
                        <span>Northern Lights</span>
                      </span>
                      <span
                        class="pet-listing-text036 MontserratRegularSmallText"
                      >
                        <span>Cruising &amp; sailing</span>
                      </span>
                      <span
                        class="pet-listing-text038 MontserratRegularSmallText"
                      >
                        <span>Multi-activities</span>
                      </span>
                      <span
                        class="pet-listing-text040 MontserratRegularSmallText"
                      >
                        <span>Kayaing</span>
                      </span>
                    </div>
                  </div>
                  <div class="pet-listing-frame26087471">
                    <span class="pet-listing-text042 TradeGothicBoldH6">
                      <span>Travel Blogs</span>
                    </span>
                    <div class="pet-listing-frame2608778">
                      <span
                        class="pet-listing-text044 MontserratRegularSmallText"
                      >
                        <span>Bali Travel Guide</span>
                      </span>
                      <span
                        class="pet-listing-text046 MontserratRegularSmallText"
                      >
                        <span>Sri Lanks Travel Guide</span>
                      </span>
                      <span
                        class="pet-listing-text048 MontserratRegularSmallText"
                      >
                        <span>Peru Travel Guide</span>
                      </span>
                      <span
                        class="pet-listing-text050 MontserratRegularSmallText"
                      >
                        <span>Bali Travel Guide</span>
                      </span>
                    </div>
                  </div>
                  <div class="pet-listing-frame2608745">
                    <span class="pet-listing-text052 TradeGothicBoldH6">
                      <span>About Us</span>
                    </span>
                    <div class="pet-listing-frame2608779">
                      <span
                        class="pet-listing-text054 MontserratRegularSmallText"
                      >
                        <span>Our Story</span>
                      </span>
                      <span
                        class="pet-listing-text056 MontserratRegularSmallText"
                      >
                        <span>Work with us</span>
                      </span>
                    </div>
                  </div>
                  <div class="pet-listing-frame2608746">
                    <span class="pet-listing-text058 TradeGothicBoldH6">
                      <span>Contact Us</span>
                    </span>
                    <div class="pet-listing-frame2608780">
                      <span
                        class="pet-listing-text060 MontserratRegularSmallText"
                      >
                        <span>Our Story</span>
                      </span>
                      <span
                        class="pet-listing-text062 MontserratRegularSmallText"
                      >
                        <span>Work with us</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pet-listing-copyrightfootnote">
              <span class="pet-listing-text064 MontserratRegularSmallerText">
                <span>
                  Copyright © 2023 All Rights Reserved. In association with
                  IamThehackerman.com
                </span>
              </span>
            </div>
          </div>
          <div class="pet-listing-group9">
            <img
              alt="Rectangle132715"
              src="./assets/public/playground_assets/rectangle132715-h4xr-200w.png"
              class="pet-listing-rectangle13"
            />
            <div class="pet-listing-frame108">
              <span class="pet-listing-text066 MontserratSemibold20px">
                <span>Filters</span>
              </span>
              <img
                alt="Rectangle42715"
                src="./assets/public/playground_assets/rectangle42715-8xcf-200h.png"
                class="pet-listing-rectangle4"
              />
              <div class="pet-listing-frame98">
                <div class="pet-listing-frame120">
                  <span class="pet-listing-text068 MontserratSemibold16px">
                    <span>Enter Location</span>
                  </span>
                  <img
                    alt="chevrondown2715"
                    src="./assets/public/playground_assets/chevrondown2715-7qe.svg"
                    class="pet-listing-chevrondown"
                  />
                </div>
                <div class="pet-listing-frame99">
                  <div class="pet-listing-textfield02">
                    <div class="pet-listing-textfield03">
                      <div class="pet-listing-statelayer2">
                        <div class="pet-listing-content1">
                          <div class="pet-listing-placeholdertext">
                            <span class="pet-listing-text070 Regular16px">
                              <span>Nowy Targ, Poland</span>
                            </span>
                          </div>
                        </div>
                        <div class="pet-listing-trailingicon">
                          <img
                            alt="LocationI272"
                            src="./assets/public/playground_assets/locationi272-c4p7.svg"
                            class="pet-listing-location"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img
                alt="Rectangle164632"
                src="./assets/public/playground_assets/rectangle164632-et2d-200h.png"
                class="pet-listing-rectangle16"
              />
              <div class="pet-listing-frame1081">
                <div class="pet-listing-frame1201">
                  <span class="pet-listing-text072 MontserratSemibold16px">
                    <span>Distance</span>
                  </span>
                  <img
                    alt="chevrondown4631"
                    src="./assets/public/playground_assets/chevrondown4631-sar.svg"
                    class="pet-listing-chevrondown01"
                  />
                </div>
                <div class="pet-listing-frame991">
                  <div class="pet-listing-textfield04">
                    <div class="pet-listing-textfield05">
                      <div class="pet-listing-statelayer3">
                        <div class="pet-listing-content2">
                          <div class="pet-listing-placeholdertext1">
                            <span class="pet-listing-text074 Regular16px">
                              <span>20 Kilometers</span>
                            </span>
                          </div>
                        </div>
                        <div class="pet-listing-trailingicon1">
                          <img
                            alt="chevrondownI463"
                            src="./assets/public/playground_assets/chevrondowni463-m0u.svg"
                            class="pet-listing-chevrondown02"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img
                alt="Rectangle142715"
                src="./assets/public/playground_assets/rectangle142715-uxpb-200h.png"
                class="pet-listing-rectangle14"
              />
              <div class="pet-listing-frame109">
                <div class="pet-listing-frame1202">
                  <span class="pet-listing-text076 MontserratSemibold16px">
                    <span>Breeds</span>
                  </span>
                  <img
                    alt="chevrondown4632"
                    src="./assets/public/playground_assets/chevrondown4632-3dlo.svg"
                    class="pet-listing-chevrondown03"
                  />
                </div>
                <div class="pet-listing-frame992">
                  <div class="pet-listing-textfield06">
                    <div class="pet-listing-textfield07">
                      <div class="pet-listing-statelayer4">
                        <div class="pet-listing-content3">
                          <div class="pet-listing-placeholdertext2">
                            <span class="pet-listing-text078 Regular16px">
                              <span>Any</span>
                            </span>
                          </div>
                        </div>
                        <div class="pet-listing-trailingicon2">
                          <img
                            alt="chevrondownI463"
                            src="./assets/public/playground_assets/chevrondowni463-lvhb.svg"
                            class="pet-listing-chevrondown04"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img
                alt="Rectangle184632"
                src="./assets/public/playground_assets/rectangle184632-eptc-200h.png"
                class="pet-listing-rectangle18"
              />
              <div class="pet-listing-frame110">
                <div class="pet-listing-frame1203">
                  <span class="pet-listing-text080 MontserratSemibold16px">
                    <span>Size</span>
                  </span>
                  <img
                    alt="chevrondown4632"
                    src="./assets/public/playground_assets/chevrondown4632-i3ln.svg"
                    class="pet-listing-chevrondown05"
                  />
                </div>
                <div class="pet-listing-frame993">
                  <div class="pet-listing-textfield08">
                    <div class="pet-listing-textfield09">
                      <div class="pet-listing-statelayer5">
                        <div class="pet-listing-content4">
                          <div class="pet-listing-placeholdertext3">
                            <span class="pet-listing-text082 Regular16px">
                              <span>Any</span>
                            </span>
                          </div>
                        </div>
                        <div class="pet-listing-trailingicon3">
                          <img
                            alt="chevrondownI463"
                            src="./assets/public/playground_assets/chevrondowni463-x2tc.svg"
                            class="pet-listing-chevrondown06"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img
                alt="Rectangle194632"
                src="./assets/public/playground_assets/rectangle194632-rr3j-200h.png"
                class="pet-listing-rectangle19"
              />
              <div class="pet-listing-frame111">
                <div class="pet-listing-frame1204">
                  <span class="pet-listing-text084 MontserratSemibold16px">
                    <span>Age</span>
                  </span>
                  <img
                    alt="chevrondown4632"
                    src="./assets/public/playground_assets/chevrondown4632-u1rk.svg"
                    class="pet-listing-chevrondown07"
                  />
                </div>
                <div class="pet-listing-frame994">
                  <div class="pet-listing-textfield10">
                    <div class="pet-listing-textfield11">
                      <div class="pet-listing-statelayer6">
                        <div class="pet-listing-content5">
                          <div class="pet-listing-placeholdertext4">
                            <span class="pet-listing-text086 Regular16px">
                              <span>Any</span>
                            </span>
                          </div>
                        </div>
                        <div class="pet-listing-trailingicon4">
                          <img
                            alt="chevrondownI463"
                            src="./assets/public/playground_assets/chevrondowni463-pl3v.svg"
                            class="pet-listing-chevrondown08"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img
                alt="Rectangle174632"
                src="./assets/public/playground_assets/rectangle174632-cb5d-200h.png"
                class="pet-listing-rectangle17"
              />
              <div class="pet-listing-frame107">
                <div class="pet-listing-frame1205">
                  <span class="pet-listing-text088 MontserratSemibold16px">
                    <span>Cared by</span>
                  </span>
                  <img
                    alt="chevrondown2715"
                    src="./assets/public/playground_assets/chevrondown2715-45bf.svg"
                    class="pet-listing-chevrondown09"
                  />
                </div>
                <div class="pet-listing-frame104">
                  <div class="pet-listing-frame101">
                    <img
                      alt="Checkbox2715"
                      src="./assets/public/playground_assets/checkbox2715-zyd.svg"
                      class="pet-listing-checkbox"
                    />
                    <span class="pet-listing-text090 MontserratMedium14px">
                      <span>Shelter</span>
                    </span>
                  </div>
                  <div class="pet-listing-frame102">
                    <img
                      alt="Checkbox2715"
                      src="./assets/public/playground_assets/checkbox2715-5mch.svg"
                      class="pet-listing-checkbox1"
                    />
                    <span class="pet-listing-text092 MontserratMedium14px">
                      <span>Rescue</span>
                    </span>
                  </div>
                  <div class="pet-listing-frame103">
                    <img
                      alt="Checkbox2715"
                      src="./assets/public/playground_assets/checkbox2715-iqqj.svg"
                      class="pet-listing-checkbox2"
                    />
                    <span class="pet-listing-text094 MontserratMedium14px">
                      <span>Privat Owner</span>
                    </span>
                  </div>
                </div>
              </div>
              <img
                alt="Rectangle152715"
                src="./assets/public/playground_assets/rectangle152715-o1k-200h.png"
                class="pet-listing-rectangle15"
              />
            </div>
            <div class="pet-listing-frame2608787">
              <div class="pet-listing-group6">
                <div class="pet-listing-frame71">
                  <div class="pet-listing-frame131">
                    <div class="pet-listing-frame130">
                      <span class="pet-listing-text096 MontserratSemibold16px">
                        <span>Dogs</span>
                      </span>
                    </div>
                    <span class="pet-listing-text098 MontserratRegular14px">
                      <span>257 pets</span>
                    </span>
                  </div>
                  <img
                    alt="Line12715"
                    src="./assets/public/playground_assets/line12715-m6i.svg"
                    class="pet-listing-line1"
                  />
                  <div class="pet-listing-frame132">
                    <div class="pet-listing-frame1301">
                      <span class="pet-listing-text100 MontserratSemibold16px">
                        <span>Cats</span>
                      </span>
                    </div>
                    <span class="pet-listing-text102 MontserratRegular14px">
                      <span>51 pets</span>
                    </span>
                  </div>
                  <div class="pet-listing-frame133">
                    <div class="pet-listing-frame1302"></div>
                  </div>
                  <img
                    alt="Line42716"
                    src="./assets/public/playground_assets/line42716-kri.svg"
                    class="pet-listing-line4"
                  />
                </div>
                <div class="pet-listing-frame1101">
                  <span class="pet-listing-text104 MontserratSemibold14px">
                    <span class="pet-listing-text105">Showing 4 of</span>
                    <span>257 pets</span>
                  </span>
                  <div class="pet-listing-frame49">
                    <span class="pet-listing-text107">
                      <span class="pet-listing-text108">Sort by</span>
                      <span>Recommended</span>
                    </span>
                    <img
                      alt="chevrondown2716"
                      src="./assets/public/playground_assets/chevrondown2716-kl7u.svg"
                      class="pet-listing-chevrondown10"
                    />
                  </div>
                </div>
              </div>
              <div class="pet-listing-pet-list">
                <div class="pet-listing-horizontal-card">
                  <img
                    alt="Rectangle38I281"
                    src="./assets/public/playground_assets/rectangle38i281-gipq-300h.png"
                    class="pet-listing-rectangle38"
                  />
                  <div class="pet-listing-group1">
                    <img
                      alt="Rectangle3I281"
                      src="./assets/public/playground_assets/rectangle3i281-wpuj-300h.png"
                      class="pet-listing-rectangle3"
                    />
                    <div class="pet-listing-frame56">
                      <span class="pet-listing-text110 MontserratMedium12px">
                        <span>9 images</span>
                      </span>
                    </div>
                    <div class="pet-listing-frame4">
                      <div class="pet-listing-frame50">
                        <div class="pet-listing-frame2">
                          <span class="pet-listing-text112 TradeGothicBold20px">
                            <span>Jackie</span>
                          </span>
                          <div class="pet-listing-frame55">
                            <div class="pet-listing-frame54">
                              <img
                                alt="LocationI281"
                                src="./assets/public/playground_assets/locationi281-h6ngf.svg"
                                class="pet-listing-location1"
                              />
                              <span
                                class="pet-listing-text114 MontserratMedium12px"
                              >
                                <span>
                                  Ratusz, Rynek 1, 34-400 Nowy Targ, Polandia
                                </span>
                              </span>
                            </div>
                            <div class="pet-listing-frame73">
                              <div class="pet-listing-frame53">
                                <div class="pet-listing-frame52">
                                  <img
                                    alt="DogsI281"
                                    src="./assets/public/playground_assets/dogsi281-x0jc.svg"
                                    class="pet-listing-dogs"
                                  />
                                </div>
                                <span
                                  class="pet-listing-text116 MontserratMedium12px"
                                >
                                  <span>Alaskan Malamute</span>
                                </span>
                              </div>
                              <div class="pet-listing-frame72">
                                <img
                                  alt="Component64I281"
                                  src="./assets/public/playground_assets/component64i281-3l.svg"
                                  class="pet-listing-component64"
                                />
                                <span
                                  class="pet-listing-text118 MontserratBold12px"
                                >
                                  <span>Small</span>
                                </span>
                              </div>
                            </div>
                            <div class="pet-listing-frame57">
                              <button class="pet-listing-button02">
                                <div class="pet-listing-frame1">
                                  <span
                                    class="pet-listing-text120 MontserratMedium12px"
                                  >
                                    <span>Age</span>
                                  </span>
                                </div>
                              </button>
                              <span
                                class="pet-listing-text122 MontserratBold12px"
                              >
                                <span>1 Year 3 Months Old</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="pet-listing-frame51">
                          <span
                            class="pet-listing-text124 MontserratMedium12px"
                          >
                            <span>Organization</span>
                          </span>
                          <img
                            alt="Ellipse5I281"
                            src="./assets/public/playground_assets/ellipse5i281-j52k-200h.png"
                            class="pet-listing-ellipse5"
                          />
                          <span
                            class="pet-listing-text126 MontserratRegularSmallText"
                          >
                            <span>Porter Petcare</span>
                          </span>
                        </div>
                      </div>
                      <img
                        alt="Rectangle4I281"
                        src="./assets/public/playground_assets/rectangle4i281-dekr-200h.png"
                        class="pet-listing-rectangle41"
                      />
                      <div class="pet-listing-frame60">
                        <button class="pet-listing-button03">
                          <div class="pet-listing-stylelayer01">
                            <img
                              alt="heartI281"
                              src="./assets/public/playground_assets/hearti281-0b2.svg"
                              class="pet-listing-heart"
                            />
                          </div>
                        </button>
                        <button class="pet-listing-button04">
                          <div class="pet-listing-stylelayer02">
                            <span
                              class="pet-listing-text128 MontserratSemibold14px"
                            >
                              <span>See Details</span>
                            </span>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pet-listing-horizontal-card1">
                  <img
                    alt="Rectangle38I281"
                    src="./assets/public/playground_assets/rectangle38i281-78vd-300h.png"
                    class="pet-listing-rectangle381"
                  />
                  <div class="pet-listing-group11">
                    <img
                      alt="Rectangle3I281"
                      src="./assets/public/playground_assets/rectangle3i281-f9mj-300h.png"
                      class="pet-listing-rectangle31"
                    />
                    <div class="pet-listing-frame561">
                      <span class="pet-listing-text130 MontserratMedium12px">
                        <span>9 images</span>
                      </span>
                    </div>
                    <div class="pet-listing-frame41">
                      <div class="pet-listing-frame501">
                        <div class="pet-listing-frame21">
                          <span class="pet-listing-text132 TradeGothicBold20px">
                            <span>Marsha</span>
                          </span>
                          <div class="pet-listing-frame551">
                            <div class="pet-listing-frame541">
                              <img
                                alt="LocationI281"
                                src="./assets/public/playground_assets/locationi281-uu3.svg"
                                class="pet-listing-location2"
                              />
                              <span
                                class="pet-listing-text134 MontserratMedium12px"
                              >
                                <span>
                                  Ratusz, Rynek 1, 34-400 Nowy Targ, Polandia
                                </span>
                              </span>
                            </div>
                            <div class="pet-listing-frame731">
                              <div class="pet-listing-frame531">
                                <div class="pet-listing-frame521">
                                  <img
                                    alt="DogsI281"
                                    src="./assets/public/playground_assets/dogsi281-p1uv.svg"
                                    class="pet-listing-dogs1"
                                  />
                                </div>
                                <span
                                  class="pet-listing-text136 MontserratMedium12px"
                                >
                                  <span>Alaskan Malamute</span>
                                </span>
                              </div>
                              <div class="pet-listing-frame721">
                                <img
                                  alt="Component64I281"
                                  src="./assets/public/playground_assets/component64i281-kwhk.svg"
                                  class="pet-listing-component641"
                                />
                                <span
                                  class="pet-listing-text138 MontserratBold12px"
                                >
                                  <span>Small</span>
                                </span>
                              </div>
                            </div>
                            <div class="pet-listing-frame571">
                              <button class="pet-listing-button05">
                                <div class="pet-listing-frame11">
                                  <span
                                    class="pet-listing-text140 MontserratMedium12px"
                                  >
                                    <span>Age</span>
                                  </span>
                                </div>
                              </button>
                              <span
                                class="pet-listing-text142 MontserratBold12px"
                              >
                                <span>1 Year 3 Months Old</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="pet-listing-frame511">
                          <span
                            class="pet-listing-text144 MontserratMedium12px"
                          >
                            <span>Organization</span>
                          </span>
                          <img
                            alt="Ellipse5I281"
                            src="./assets/public/playground_assets/ellipse5i281-h5lb-200w.png"
                            class="pet-listing-ellipse51"
                          />
                          <span
                            class="pet-listing-text146 MontserratRegularSmallText"
                          >
                            <span>Porter Petcare</span>
                          </span>
                        </div>
                      </div>
                      <img
                        alt="Rectangle4I281"
                        src="./assets/public/playground_assets/rectangle4i281-8m54-200h.png"
                        class="pet-listing-rectangle42"
                      />
                      <div class="pet-listing-frame601">
                        <button class="pet-listing-button06">
                          <div class="pet-listing-stylelayer03">
                            <img
                              alt="heartI281"
                              src="./assets/public/playground_assets/hearti281-3s8h.svg"
                              class="pet-listing-heart1"
                            />
                          </div>
                        </button>
                        <button class="pet-listing-button07">
                          <div class="pet-listing-stylelayer04">
                            <span
                              class="pet-listing-text148 MontserratSemibold14px"
                            >
                              <span>See Details</span>
                            </span>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pet-listing-horizontal-card2">
                  <img
                    alt="Rectangle38I281"
                    src="./assets/public/playground_assets/rectangle38i281-kazv-300h.png"
                    class="pet-listing-rectangle382"
                  />
                  <div class="pet-listing-group12">
                    <img
                      alt="Rectangle3I281"
                      src="./assets/public/playground_assets/rectangle3i281-2j8-300h.png"
                    />
                    <div class="pet-listing-frame562">
                      <span class="pet-listing-text150 MontserratMedium12px">
                        <span>9 images</span>
                      </span>
                    </div>
                    <div class="pet-listing-frame42">
                      <div class="pet-listing-frame502">
                        <div class="pet-listing-frame22">
                          <span class="pet-listing-text152 TradeGothicBold20px">
                            <span>Timothy</span>
                          </span>
                          <div class="pet-listing-frame552">
                            <div class="pet-listing-frame542">
                              <img
                                alt="LocationI281"
                                src="./assets/public/playground_assets/locationi281-4scr.svg"
                                class="pet-listing-location3"
                              />
                              <span
                                class="pet-listing-text154 MontserratMedium12px"
                              >
                                <span>
                                  Ratusz, Rynek 1, 34-400 Nowy Targ, Polandia
                                </span>
                              </span>
                            </div>
                            <div class="pet-listing-frame732">
                              <div class="pet-listing-frame532">
                                <div class="pet-listing-frame522">
                                  <img
                                    alt="DogsI281"
                                    src="./assets/public/playground_assets/dogsi281-378h.svg"
                                    class="pet-listing-dogs2"
                                  />
                                </div>
                                <span
                                  class="pet-listing-text156 MontserratMedium12px"
                                >
                                  <span>Alaskan Malamute</span>
                                </span>
                              </div>
                              <div class="pet-listing-frame722">
                                <img
                                  alt="Component64I281"
                                  src="./assets/public/playground_assets/component64i281-59f4.svg"
                                  class="pet-listing-component642"
                                />
                                <span
                                  class="pet-listing-text158 MontserratBold12px"
                                >
                                  <span>Small</span>
                                </span>
                              </div>
                            </div>
                            <div class="pet-listing-frame572">
                              <button class="pet-listing-button08">
                                <div class="pet-listing-frame12">
                                  <span
                                    class="pet-listing-text160 MontserratMedium12px"
                                  >
                                    <span>Age</span>
                                  </span>
                                </div>
                              </button>
                              <span
                                class="pet-listing-text162 MontserratBold12px"
                              >
                                <span>1 Year 3 Months Old</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="pet-listing-frame512">
                          <span
                            class="pet-listing-text164 MontserratMedium12px"
                          >
                            <span>Organization</span>
                          </span>
                          <img
                            alt="Ellipse5I281"
                            src="./assets/public/playground_assets/ellipse5i281-sfs-200h.png"
                            class="pet-listing-ellipse52"
                          />
                          <span
                            class="pet-listing-text166 MontserratRegularSmallText"
                          >
                            <span>Porter Petcare</span>
                          </span>
                        </div>
                      </div>
                      <img
                        alt="Rectangle4I281"
                        src="./assets/public/playground_assets/rectangle4i281-vdkn-200h.png"
                        class="pet-listing-rectangle43"
                      />
                      <div class="pet-listing-frame602">
                        <button class="pet-listing-button09">
                          <div class="pet-listing-stylelayer05">
                            <img
                              alt="heartI281"
                              src="./assets/public/playground_assets/hearti281-5ygs.svg"
                              class="pet-listing-heart2"
                            />
                          </div>
                        </button>
                        <button class="pet-listing-button10">
                          <div class="pet-listing-stylelayer06">
                            <span
                              class="pet-listing-text168 MontserratSemibold14px"
                            >
                              <span>See Details</span>
                            </span>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pet-listing-horizontal-card3">
                  <img
                    alt="Rectangle38I281"
                    src="./assets/public/playground_assets/rectangle38i281-fbqep-300h.png"
                    class="pet-listing-rectangle383"
                  />
                  <div class="pet-listing-group13">
                    <img
                      alt="Rectangle3I281"
                      src="./assets/public/playground_assets/rectangle3i281-1umh-300h.png"
                      class="pet-listing-rectangle33"
                    />
                    <div class="pet-listing-frame563">
                      <span class="pet-listing-text170 MontserratMedium12px">
                        <span>9 images</span>
                      </span>
                    </div>
                    <div class="pet-listing-frame43">
                      <div class="pet-listing-frame503">
                        <div class="pet-listing-frame23">
                          <span class="pet-listing-text172 TradeGothicBold20px">
                            <span>Lissa</span>
                          </span>
                          <div class="pet-listing-frame553">
                            <div class="pet-listing-frame543">
                              <img
                                alt="LocationI281"
                                src="./assets/public/playground_assets/locationi281-xocm.svg"
                                class="pet-listing-location4"
                              />
                              <span
                                class="pet-listing-text174 MontserratMedium12px"
                              >
                                <span>
                                  Ratusz, Rynek 1, 34-400 Nowy Targ, Polandia
                                </span>
                              </span>
                            </div>
                            <div class="pet-listing-frame733">
                              <div class="pet-listing-frame533">
                                <div class="pet-listing-frame523">
                                  <img
                                    alt="DogsI281"
                                    src="./assets/public/playground_assets/dogsi281-exx.svg"
                                    class="pet-listing-dogs3"
                                  />
                                </div>
                                <span
                                  class="pet-listing-text176 MontserratMedium12px"
                                >
                                  <span>Alaskan Malamute</span>
                                </span>
                              </div>
                              <div class="pet-listing-frame723">
                                <img
                                  alt="Component64I281"
                                  src="./assets/public/playground_assets/component64i281-o85e.svg"
                                  class="pet-listing-component643"
                                />
                                <span
                                  class="pet-listing-text178 MontserratBold12px"
                                >
                                  <span>Small</span>
                                </span>
                              </div>
                            </div>
                            <div class="pet-listing-frame573">
                              <button class="pet-listing-button11">
                                <div class="pet-listing-frame13">
                                  <span
                                    class="pet-listing-text180 MontserratMedium12px"
                                  >
                                    <span>Age</span>
                                  </span>
                                </div>
                              </button>
                              <span
                                class="pet-listing-text182 MontserratBold12px"
                              >
                                <span>1 Year 3 Months Old</span>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="pet-listing-frame513">
                          <span
                            class="pet-listing-text184 MontserratMedium12px"
                          >
                            <span>Organization</span>
                          </span>
                          <img
                            alt="Ellipse5I281"
                            src="./assets/public/playground_assets/ellipse5i281-evqm-200w.png"
                            class="pet-listing-ellipse53"
                          />
                          <span
                            class="pet-listing-text186 MontserratRegularSmallText"
                          >
                            <span>Porter Petcare</span>
                          </span>
                        </div>
                      </div>
                      <img
                        alt="Rectangle4I281"
                        src="./assets/public/playground_assets/rectangle4i281-2q-200h.png"
                        class="pet-listing-rectangle44"
                      />
                      <div class="pet-listing-frame603">
                        <button class="pet-listing-button12">
                          <div class="pet-listing-stylelayer07">
                            <img
                              alt="heartI281"
                              src="./assets/public/playground_assets/hearti281-pfql.svg"
                              class="pet-listing-heart3"
                            />
                          </div>
                        </button>
                        <button class="pet-listing-button13">
                          <div class="pet-listing-stylelayer08">
                            <span
                              class="pet-listing-text188 MontserratSemibold14px"
                            >
                              <span>See Details</span>
                            </span>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="pet-listing-button14">
                <div class="pet-listing-stylelayer09">
                  <span class="pet-listing-text190 MontserratSemibold14px">
                    <span>Show more results</span>
                  </span>
                </div>
              </button>
            </div>
          </div>
          <div class="pet-listing-group7">
            <div class="pet-listing-group2">
              <img
                alt="Background4631"
                src="./assets/public/playground_assets/background4631-vqz-1400w.png"
                class="pet-listing-background"
              />
              <!-- <img
                alt="Rectangle324631"
                src="./assets/public/playground_assets/rectangle324631-ytpj-1400w.png"
                class="pet-listing-rectangle32"
              /> -->
              <div class="pet-listing-frame2608753">
                <div class="pet-listing-frame2608752">
                  <span class="pet-listing-text192">
                    <span>Find Your Perfect Companion</span>
                  </span>
                  <a href="listing/Search"> <span class="pet-listing-text194">
                    <span>SEARCH PETS</span>
                  </span>
                  </a>
                </div>
                <span class="pet-listing-text196 MontserratSemibold20px">
                  <span>
                    We have a variety of adorable pets waiting for their forever
                    homes. Take a look at our list of adoptable pets and find
                    the one that's right for you. You can filter your search by
                    breed, size, age, and location to help you find the perfect
                    match.
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
