<!DOCTYPE html>
<html lang="english">

<head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p,
        li,
        ul,
        pre,
        div,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        figure,
        blockquote,
        figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button,
        select {
            text-transform: none;
        }

        /* button,
        [type="button"],
        [type="reset"],
        [type="submit"] {
            -webkit-appearance: button;
        } */

        button::-moz-focus-inner,
        [type="button"]::-moz-focus-inner,
        [type="reset"]::-moz-focus-inner,
        [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        button:-moz-focus,
        [type="button"]:-moz-focus,
        [type="reset"]:-moz-focus,
        [type="submit"]:-moz-focus {
            outline: 1px dotted ButtonText;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);

        }
    </style>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="./style.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</head>

<body>
    <div>

        <div class="lost-pets-container">
            <div class="lost-pets-lost-pets">
                <div class="lost-pets-group8">
                    <div class="lost-pets-galleries">
                        <div class="lost-pets-breadcrumb">
                            <span class="lost-pets-text MontserratMedium14px">
                                <span>Home</span>
                            </span>
                            <img alt="chevronforward5056"
                                src="./assets/public/playground_assets/chevronforward5056-nk7u.svg"
                                class="lost-pets-chevronforward" />
                            <span class="lost-pets-text002 MontserratMedium14px">
                                <span>Pet Detail</span>
                            </span>
                            <img alt="chevronforward5056"
                                src="./assets/public/playground_assets/chevronforward5056-j86.svg"
                                class="lost-pets-chevronforward1" />
                            <span class="lost-pets-text004 MontserratMedium14px">
                                <span>{{animaux.name}}</span>
                            </span>
                        </div>
                        <div class="lost-pets-title">
                            <div class="lost-pets-frame124">
                                <div class="lost-pets-frame123">
                                    <span class="lost-pets-text006 TradeGothicBold24px">
                                        <span>{{animaux.name}}</span>
                                    </span>
                                </div>
                                <div class="lost-pets-frame129">
                                    <div class="lost-pets-frame57">
                                        <img alt="Upload5056"
                                            src="./assets/public/playground_assets/upload5056-2hxo.svg"
                                            class="lost-pets-upload" />
                                        <span class="lost-pets-text008">
                                            <span class="lost-pets-text009">Posted</span>
                                            <span>3 months ago</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="lost-pets-frame135">
                                <div class="lost-pets-frame134">
                                    <button class="lost-pets-button">
                                        <div class="lost-pets-stylelayer">
                                            <img alt="heartI505"
                                                src="./assets/public/playground_assets/hearti505-8ycu.svg"
                                                class="lost-pets-heart" />
                                        </div>
                                    </button>
                                    <button class="lost-pets-button1">
                                        <div class="lost-pets-stylelayer1">
                                            <img alt="ShareI505"
                                                src="./assets/public/playground_assets/sharei505-ooii.svg"
                                                class="lost-pets-share" />
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="lost-pets-pictures">


                            <!-- <img alt="Rectangle35056" src="./assets/public/playground_assets/rectangle35056-ggnq-700w.png"
                                class="lost-pets-rectangle3" /> -->
                            <img src="http://127.0.0.1:8000{{animaux.image}}" class="lost-pets-rectangle3">

                            <div class="lost-pets-frame2608753">
                                <div class="lost-pets-frame128">
                                    <div class="lost-pets-frame126">
                                        <!-- <img alt="Rectangle55059"
                                            src="./assets/public/playground_assets/rectangle55059-06us-200h.png"
                                            class="lost-pets-rectangle5" /> -->
                                        <!-- <img alt="Rectangle65059"
                                            src="./assets/public/playground_assets/rectangle65059-uhiq-200h.png"
                                            class="lost-pets-rectangle6" /> -->
                                    </div>
                                    <div class="lost-pets-frame127">
                                        <!-- <img alt="Rectangle55059"
                                            src="./assets/public/playground_assets/rectangle55059-89ce-200h.png"
                                            class="lost-pets-rectangle51" /> -->
                                        <!-- <img alt="Rectangle65059"
                                            src="./assets/public/playground_assets/rectangle65059-8fz9-200h.png"
                                            class="lost-pets-rectangle61" /> -->
                                        <button class="lost-pets-button2">
                                            <div class="lost-pets-stylelayer2">
                                                <span class="lost-pets-text011 MontserratSemibold14px">
                                                    <span>View all photos</span>
                                                </span>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lost-pets-header-default">
                        <div class="lost-pets-frame22">
                            <div class="lost-pets-frame20">
                                <img alt="ExploreI505" src="./assets/public/playground_assets/explorei505-fxc.svg"
                                    class="lost-pets-explore" />
                                <span class="lost-pets-text013 MontserratSemibold14px">
                                    <span><a href="/listing/Lost-Pet">I’ve Lost Pets</a></span>
                                </span>
                            </div>
                            <div class="lost-pets-frame21">
                                <img alt="materialsymbolssearchroundedI505"
                                    src="./assets/public/playground_assets/materialsymbolssearchroundedi505-7is.svg"
                                    class="lost-pets-materialsymbolssearchrounded" />
                                <span class="lost-pets-text015 MontserratSemibold14px">
                                    <span><a href="/listing/found-Pet">I’ve Found Pets</a></span>
                                </span>
                            </div>
                        </div>
                        <a href="">
                        <div class="lost-pets-logo">
                            <div class="lost-pets-group">
                                <img alt="TemporaryLogoI505"
                                    src="./assets/public/playground_assets/temporarylogoi505-ncbk-200h.png"
                                    class="lost-pets-temporary-logo" />
                            </div>
                            <img alt="LI505" src="./assets/public/playground_assets/li505-pt39.svg"
                                class="lost-pets-l" />
                            <img alt="GI505" src="./assets/public/playground_assets/gi505-3zzy.svg"
                                class="lost-pets-g" />
                            <img alt="OI505" src="./assets/public/playground_assets/oi505-oro.svg"
                                class="lost-pets-o" />
                        </div>

                        </a>
                        <div class="lost-pets-frame24">
                            <a href="listing/Search">   <span class="lost-pets-text017 MontserratSemibold14px">
                                <span>Breeds</span>
                            </span>
                            </a>
                            <a href="listing/Search"> <span class="lost-pets-text019 MontserratSemibold14px">
                                    <span>Search Pets</span>
                                </span>
                            </a>








                            <a href="/auth/login" style="text-decoration: none;">
                                <span *ngIf="!isLoggedIn" class="lost-pets-text021 MontserratSemibold14px">
                                    <span>Login</span>
                                </span>
                            </a>

                            <a style="text-decoration: none;" (click)="logout()" href> <span *ngIf="isLoggedIn"
                                    class="hero-text32 MontserratSemibold14px">
                                    <span>Logout</span>
                                </span>
                            </a>



                            <a href="/auth/registre">
                                <button class="lost-pets-patientbutton" *ngIf="!isLoggedIn">
                                    <div class="lost-pets-statelayer">
                                        <span class="lost-pets-text023 MontserratSemibold14px">
                                            <span>Sign up</span>
                                        </span>
                                    </div>
                                </button>

                            </a>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <a style="text-decoration: none;" href="Account">
                                <button style="color: rgb(78, 67, 67);" class="btn btn-outline-success" type="button"
                                    *ngIf="isLoggedIn">


                                    <span>{{this.eeee}}</span>


                                </button>
                            </a>




                        </div>
                        <img alt="Rectangle5I505" src="./assets/public/playground_assets/rectangle5i505-yvsr-200h.png"
                            class="lost-pets-rectangle52" />
                    </div>
                </div>
                <div class="lost-pets-frame149">
                    <img alt="Rectangle45056" src="./assets/public/playground_assets/rectangle45056-0m1-200h.png"
                        class="lost-pets-rectangle4" />
                    <div class="lost-pets-frame147">
                        <div class="lost-pets-frame146">
                            <span class="lost-pets-text025 TradeGothicBoldH5">
                                <span>Overview</span>
                            </span>
                            <span class="lost-pets-text027 MontserratMedium16px">
                                <span>
                                    <span>

                                        {{animaux.descri}}
                                        <!-- Meet {{animaux.name}}, a beautiful Afghan Hound with a regal
                                        appearance and charming personality. {{animaux.name}} is a graceful
                                        and athletic dog, known for their long and silky coat.
                                        With a proud and confident demeanor, {{animaux.name}} commands
                                        attention wherever they go. Despite their proud and aloof
                                        appearance, they are affectionate and loyal companions to
                                        those they love. -->
                                    </span>
                                    <br />
                                    <span></span>
                                    <br />
                                    <span>
                                        <!-- {{animaux.name}} is an active dog and needs plenty of exercise to
                                        keep them happy and healthy. They love to run and play,
                                        and make great hiking or running partners. They are also
                                        independent dogs and enjoy their alone time, so it's
                                        important for their owner to give them plenty of space to
                                        do their own thing. -->
                                    </span>
                                    <br />
                                    <span></span>
                                    <br />
                                    <span>
                                        <!-- At home, {{animaux.name}} is a calm and relaxed dog who enjoys
                                        lounging on a soft bed or sofa. They are clean and
                                        well-behaved, and are easy to groom and maintain. With
                                        proper training and socialization, {{animaux.name}} is a great
                                        addition to any family. -->
                                    </span>
                                    <br />
                                    <span>
                                        <!-- If you're looking for a proud and confident companion with
                                        a heart of gold, look no further than {{animaux.name}}, the Afghan
                                        Hound. -->
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                    <img alt="Rectangle55056" src="./assets/public/playground_assets/rectangle55056-x7ll-200h.png"
                        class="lost-pets-rectangle53" />
                    <div class="lost-pets-frame165">
                        <span class="lost-pets-text040 TradeGothicBoldH5">
                            <span>About {{animaux.name}}</span>
                        </span>
                        <div class="lost-pets-frame167">
                            <div class="lost-pets-frame164">
                                <div class="lost-pets-breeds">
                                    <span class="lost-pets-text042"><span>Breeds</span></span>
                                    <span class="lost-pets-text044 MontserratMedium16px">
                                        <span class="lost-pets-text045">:</span>
                                        <span>{{animaux.bred}}</span>
                                    </span>
                                </div>
                                <div class="lost-pets-size">
                                    <span class="lost-pets-text047"><span>Sex</span></span>
                                    <span class="lost-pets-text049 MontserratMedium16px">
                                        <span class="lost-pets-text050">:</span>
                                        <span>{{animaux.gender}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="lost-pets-frame166">
                                <div class="lost-pets-breeds1">
                                    <span class="lost-pets-text052"><span>Size</span></span>
                                    <span class="lost-pets-text054 MontserratMedium16px">
                                        <span class="lost-pets-text055">:</span>
                                        <span>{{animaux.size}}</span>
                                    </span>
                                </div>
                                <div class="lost-pets-breeds2">
                                    <span class="lost-pets-text057"><span>Age</span></span>
                                    <span class="lost-pets-text059 MontserratMedium16px">
                                        <span class="lost-pets-text060">:</span>
                                        <span>{{animaux.age}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img alt="Rectangle65057" src="./assets/public/playground_assets/rectangle65057-4szo-200h.png"
                        class="lost-pets-rectangle62" />
                    <div class="lost-pets-frame1661">
                        <span class="lost-pets-text062 TradeGothicBoldH5">
                            <span>Lost Information</span>
                        </span>
                        <div class="lost-pets-frame1671">
                            <div class="lost-pets-frame1641">
                                <div class="lost-pets-breeds3">
                                    <span class="lost-pets-text064"><span>Date</span></span>
                                    <span class="lost-pets-text066 MontserratMedium16px">
                                        <span class="lost-pets-text067">:</span>
                                        <span>{{animaux.daten}}</span>
                                    </span>
                                </div>
                                <div class="lost-pets-size1">
                                    <span class="lost-pets-text069"><span>Place</span></span>
                                    <span class="lost-pets-text071 MontserratMedium16px">
                                        <span class="lost-pets-text072">:</span>
                                        <span>{{animaux.addrs}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="lost-pets-frame1662">
                                <div class="lost-pets-breeds4">
                                    <span class="lost-pets-text074"><span>Time</span></span>
                                    <span class="lost-pets-text076 MontserratMedium16px">
                                        <span class="lost-pets-text077">:</span>
                                        <span>22:00</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img alt="Rectangle75058" src="./assets/public/playground_assets/rectangle75058-stky-200h.png"
                        class="lost-pets-rectangle7" />
                </div>
                <div class="lost-pets-owner-card">
                    <span class="lost-pets-text079 MontserratRegularH4">
                        <span>Please Consider to Call</span>
                    </span>
                    <!-- <img alt="Ellipse175058" src="./assets/public/playground_assets/ellipse175058-riwh-200h.png"
                        class="lost-pets-ellipse17" /> -->

                    <img *ngIf="imageUrl" [src]="imageUrl" alt="Image" class="lost-pets-ellipse17">
                    <img *ngIf="!imageUrl"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5nRbIObRQkMacJ9ORydgR3yfqFffAMVlzRQHG6JY&s"
                        alt="Image" class="lost-pets-ellipse17">

                    <div class="lost-pets-icons">
                        <div class="lost-pets-frame1672">
                            <div class="lost-pets-breeds5">
                                <img alt="Location5058" src="./assets/public/playground_assets/location5058-2ex3.svg"
                                    class="lost-pets-location" />
                                <span class="lost-pets-text081 MontserratRegularBody">
                                    <span>
                                        <!-- Opoczyńska 2, 26-411 Rusinów, Polandia -->
                                        {{users.first_name}}
                                    </span>
                                </span>
                            </div>
                            <div class="lost-pets-breeds6">
                                <img alt="call5058" src="./assets/public/playground_assets/call5058-zpo.svg"
                                    class="lost-pets-call" />
                                <span class="lost-pets-text083 MontserratRegularBody">
                                    <span>+48602232136</span>
                                </span>
                            </div>
                            <div class="lost-pets-breeds7">
                                <img alt="Mail5059" src="./assets/public/playground_assets/mail5059-zkl.svg"
                                    class="lost-pets-mail" />
                                <span class="lost-pets-text085 MontserratRegularBody">
                                    <span>{{users.email}}</span>
                                </span>
                            </div>
                            <div class="lost-pets-breeds8">
                                <img alt="Component655059"
                                    src="./assets/public/playground_assets/component655059-pdke.svg"
                                    class="lost-pets-component65" />
                                <span class="lost-pets-text087 MontserratRegularBody">
                                    <span>Malacrusinow.pl</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lost-pets-footer">
                    <div class="lost-pets-frame2608782">
                        <div class="lost-pets-frame2608747">
                            <div class="lost-pets-frame2608743">
                                <span class="lost-pets-text089 TradeGothicBoldH1">
                                    <span>Subscribe Newsletter</span>
                                </span>
                                <div class="lost-pets-frame2608755">
                                    <div class="lost-pets-frame26087431">
                                        <span class="lost-pets-text091 MontserratRegularH5">
                                            <span>Join Our Community</span>
                                        </span>
                                        <span class="lost-pets-text093 MontserratRegularBody">
                                            <span>
                                                Be the First to Know About New Adoptable Pets and
                                                Receive Our Monthly Newsletter. Subscribe Now!
                                            </span>
                                        </span>
                                    </div>
                                    <div class="lost-pets-frame2608741">
                                        <div class="lost-pets-textfield">
                                            <div class="lost-pets-textfield1">
                                                <div class="lost-pets-statelayer1">
                                                    <div class="lost-pets-content">
                                                        <div class="lost-pets-labeltext">
                                                            <span class="lost-pets-text095 MontserratRegularBody">
                                                                <span>Your email address</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="lost-pets-button3">
                                            <div class="lost-pets-stylelayer3">
                                                <span class="lost-pets-text097 MontserratMedium14px">
                                                    <span>Subscribe</span>
                                                </span>
                                            </div>
                                        </button>
                                        <button class="lost-pets-button4"></button>
                                    </div>
                                </div>
                            </div>
                            <img alt="emojionev1openmailboxwithloweredflagI505"
                                src="./assets/public/playground_assets/emojionev1openmailboxwithloweredflagi505-1rs.svg"
                                class="lost-pets-emojionev1openmailboxwithloweredflag" />
                        </div>
                        <div class="lost-pets-frame2608748">
                            <div class="lost-pets-frame2608750">
                                <div class="lost-pets-logo1">
                                    <div class="lost-pets-group1">
                                        <img alt="TemporaryLogoI505"
                                            src="./assets/public/playground_assets/temporarylogoi505-13st-200h.png"
                                            class="lost-pets-temporary-logo1" />
                                    </div>
                                    <img alt="LI505" src="./assets/public/playground_assets/li505-1dn5.svg"
                                        class="lost-pets-l1" />
                                    <img alt="GI505" src="./assets/public/playground_assets/gi505-ho3r.svg"
                                        class="lost-pets-g1" />
                                    <img alt="OI505" src="./assets/public/playground_assets/oi505-0ivw.svg"
                                        class="lost-pets-o1" />
                                </div>
                                <div class="lost-pets-frame2608749">
                                    <div class="lost-pets-akariconsfacebookfill">
                                        <div class="lost-pets-group2">
                                            <div class="lost-pets-group3"></div>
                                        </div>
                                    </div>
                                    <div class="lost-pets-akariconsyoutubefill">
                                        <div class="lost-pets-group4">
                                            <div class="lost-pets-group5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lost-pets-frame26087481">
                                <div class="lost-pets-frame2608742">
                                    <span class="lost-pets-text099 TradeGothicBoldH6">
                                        <span>Our Destinations</span>
                                    </span>
                                    <div class="lost-pets-frame2608776">
                                        <span class="lost-pets-text101 MontserratRegularSmallText">
                                            <span>Canada</span>
                                        </span>
                                        <span class="lost-pets-text103 MontserratRegularSmallText">
                                            <span>Alaksa</span>
                                        </span>
                                        <span class="lost-pets-text105 MontserratRegularSmallText">
                                            <span>France</span>
                                        </span>
                                        <span class="lost-pets-text107 MontserratMedium14px">
                                            <span>Iceland</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="lost-pets-frame2608744">
                                    <span class="lost-pets-text109 TradeGothicBoldH6">
                                        <span>Our Activities</span>
                                    </span>
                                    <div class="lost-pets-frame2608777">
                                        <span class="lost-pets-text111 MontserratRegularSmallText">
                                            <span>Northern Lights</span>
                                        </span>
                                        <span class="lost-pets-text113 MontserratRegularSmallText">
                                            <span>Cruising &amp; sailing</span>
                                        </span>
                                        <span class="lost-pets-text115 MontserratRegularSmallText">
                                            <span>Multi-activities</span>
                                        </span>
                                        <span class="lost-pets-text117 MontserratRegularSmallText">
                                            <span>Kayaing</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="lost-pets-frame26087471">
                                    <span class="lost-pets-text119 TradeGothicBoldH6">
                                        <span>Travel Blogs</span>
                                    </span>
                                    <div class="lost-pets-frame2608778">
                                        <span class="lost-pets-text121 MontserratRegularSmallText">
                                            <span>Bali Travel Guide</span>
                                        </span>
                                        <span class="lost-pets-text123 MontserratRegularSmallText">
                                            <span>Sri Lanks Travel Guide</span>
                                        </span>
                                        <span class="lost-pets-text125 MontserratRegularSmallText">
                                            <span>Peru Travel Guide</span>
                                        </span>
                                        <span class="lost-pets-text127 MontserratRegularSmallText">
                                            <span>Bali Travel Guide</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="lost-pets-frame2608745">
                                    <span class="lost-pets-text129 TradeGothicBoldH6">
                                        <span>About Us</span>
                                    </span>
                                    <div class="lost-pets-frame2608779">
                                        <span class="lost-pets-text131 MontserratRegularSmallText">
                                            <span>Our Story</span>
                                        </span>
                                        <span class="lost-pets-text133 MontserratRegularSmallText">
                                            <span>Work with us</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="lost-pets-frame2608746">
                                    <span class="lost-pets-text135 TradeGothicBoldH6">
                                        <span>Contact Us</span>
                                    </span>
                                    <div class="lost-pets-frame2608780">
                                        <span class="lost-pets-text137 MontserratRegularSmallText">
                                            <span>Our Story</span>
                                        </span>
                                        <span class="lost-pets-text139 MontserratRegularSmallText">
                                            <span>Work with us</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lost-pets-copyrightfootnote">
                        <span class="lost-pets-text141 MontserratRegularSmallerText">
                            <span>
                                Copyright © 2023 All Rights Reserved. In association with
                                IamThehackerman.com
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>