<!DOCTYPE html>
<html lang="english">

<head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p,
        li,
        ul,
        pre,
        div,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        figure,
        blockquote,
        figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button,
        select {
            text-transform: none;
        }

        /* button,
        [type="button"],
        [type="reset"],
        [type="submit"] {
            -webkit-appearance: button;
        } */

        button::-moz-focus-inner,
        [type="button"]::-moz-focus-inner,
        [type="reset"]::-moz-focus-inner,
        [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        button:-moz-focus,
        [type="button"]:-moz-focus,
        [type="reset"]:-moz-focus,
        [type="submit"]:-moz-focus {
            outline: 1px dotted ButtonText;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);

        }
    </style>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="./style.css" />

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</head>

<body>
    <div>

        <div class="breed-listing-dog-container">
            <div class="breed-listing-dog-breed-listing-dog">
                <div class="breed-listing-dog-group8">
                    <div class="breed-listing-dog-header-default">
                        <div class="breed-listing-dog-frame22">
                            <div class="breed-listing-dog-frame20">
                                <img alt="ExploreI462" src="./assets/public/playground_assets/explorei462-1yzh.svg"
                                    class="breed-listing-dog-explore" />
                                <span class="breed-listing-dog-text MontserratSemibold14px">
                                    <span><a href="/listing/Lost-Pet">I’ve Lost Pets</a></span>
                                </span>
                            </div>
                            <div class="breed-listing-dog-frame21">
                                <img alt="materialsymbolssearchroundedI462"
                                    src="./assets/public/playground_assets/materialsymbolssearchroundedi462-zd79.svg"
                                    class="breed-listing-dog-materialsymbolssearchrounded" />
                                <span class="breed-listing-dog-text002 MontserratSemibold14px">
                                    <span><a href="/listing/found-Pet">I’ve Found Pets</a></span>
                                </span>
                            </div>
                        </div>
                        <a href="">
                        <div class="breed-listing-dog-logo">
                            <div class="breed-listing-dog-group">
                                <img alt="TemporaryLogoI462"
                                    src="./assets/public/playground_assets/temporarylogoi462-grtap-200h.png"
                                    class="breed-listing-dog-temporary-logo" />
                            </div>
                            <img alt="LI462" src="./assets/public/playground_assets/li462-wrv.svg" class="breed-listing-dog-l" />
                            <img alt="GI462" src="./assets/public/playground_assets/gi462-7ph.svg" class="breed-listing-dog-g" />
                            <img alt="OI462" src="./assets/public/playground_assets/oi462-pv8.svg" class="breed-listing-dog-o" />
                        </div>
                            </a>

                        <div class="breed-listing-dog-frame24">
                        <a href="listing/Search"><span class="breed-listing-dog-text004 MontserratSemibold14px">
                                <span>Breeds</span>
                            </span>
                        </a>
                            <a href="listing/Search"> <span class="breed-listing-dog-text006 MontserratSemibold14px">
                                <span>Search Pets</span>
                            </span>
                            </a>


                         

                            <a href="/auth/login" style="text-decoration: none;">
                                <span *ngIf="!isLoggedIn" class="breed-listing-dog-text008 MontserratSemibold14px">
                                    <span>Login</span>
                                </span>
                            </a>

                            <a style="text-decoration: none;" (click)="logout()" href> <span *ngIf="isLoggedIn"
                                    class="hero-text32 MontserratSemibold14px">
                                    <span>Logout</span>
                                </span>
                            </a>



                           




                        <a href="/auth/registre"*ngIf="!isLoggedIn">

                            <button *ngIf="!isLoggedIn"class="breed-listing-dog-patientbutton">
                                <div class="breed-listing-dog-statelayer">
                                    <span class="breed-listing-dog-text010 MontserratSemibold14px">
                                        <span>Sign up</span>
                                    </span>
                                </div>
                            </button>
                            </a>

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a style="text-decoration: none;" href="Account">
    <button style="color: rgb(78, 67, 67);" class="btn btn-outline-success" type="button" *ngIf="isLoggedIn">


        <span>{{this.eeee}}</span>


    </button>
</a>






                        </div>
                        <img alt="Rectangle5I462" src="./assets/public/playground_assets/rectangle5i462-469x-200h.png"
                            class="breed-listing-dog-rectangle5" />
                    </div>
                    <div class="breed-listing-dog-group7">
                        <div>
                            <img alt="Background4628" src="./assets/public/playground_assets/background4628-rnvr-1400w.png"
                                class="breed-listing-dog-background" />
                           
                            <div class="breed-listing-dog-frame2608753">
                                <div class="breed-listing-dog-frame2608752">
                                    <span class="breed-listing-dog-text012">
                                        <span>Search Our Partners</span>
                                    </span>
                                    <span class="breed-listing-dog-text014">
                                        <span>Shelters And Rescues</span>
                                    </span>
                                </div>
                                <span class="breed-listing-dog-text016 MontserratSemibold20px">
                                    <span>
                                        Join us in our mission to find loving homes for the pets
                                        in our care. Browse our list of adoptable animals and give
                                        one a second chance.
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breed-listing-dog-contents">
                    <img alt="Rectangle134628" src="./assets/public/playground_assets/rectangle134628-kybf-200w.png"
                        class="breed-listing-dog-rectangle13" />
                    <div class="breed-listing-dog-frame108">
                        <span class="breed-listing-dog-text018 MontserratSemibold20px">
                            <span>Filters</span>
                        </span>
                        <img alt="Rectangle44628" src="./assets/public/playground_assets/rectangle44628-5v4m-200h.png"
                            class="breed-listing-dog-rectangle4" />
                        <div class="breed-listing-dog-frame1081">
                            <div class="breed-listing-dog-frame120">
                                <span class="breed-listing-dog-text020 MontserratSemibold16px">
                                    <span>Enter Location</span>
                                </span>
                               
                            </div>
                            <div class="breed-listing-dog-frame99">
                                <div class="breed-listing-dog-textfield">
                                    <div class="breed-listing-dog-textfield1">
                                        <div class="breed-listing-dog-statelayer1">
                                            <div class="breed-listing-dog-content">
                                                <div class="breed-listing-dog-placeholdertext">
                                               
                                                    <span class="breed-listing-dog-text022 Regular16px">

                                                        <span> 
                                                       
                                                            <form method="get" (ngSubmit)="searchanimauxadd()"  
                                                            name="form" #f="ngForm" novalidate  >

                                                                <input type="text" placeholder="Nowy Targ, Poland" 
                                                                name="addrs" [(ngModel)]="form.addrs"
                                                                #addrs="ngModel"  (ngModelChange)="searchanimauxadd()">
                                                            </form>


                                                        </span> 
                                                      </span>
                                                   
                                                </div>
                                            </div>
                                            <div class="breed-listing-dog-trailingicon">
                                                <img alt="LocationI472"
                                                    src="./assets/public/playground_assets/locationi472-boz.svg"
                                                    class="breed-listing-dog-location" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>







                        <div class="breed-listing-dog-frame109">
                            <img alt="Rectangle164723" src="./assets/public/playground_assets/rectangle164723-kgj9-200h.png"
                                class="breed-listing-dog-rectangle16" />
                            <div class="breed-listing-dog-frame1201">
                                <span class="breed-listing-dog-text024 MontserratSemibold16px">
                                    <span>Enter Shelter’s Name</span>
                                </span>
                                <img alt="chevrondown4723" src="./assets/public/playground_assets/chevrondown4723-gl8n.svg"
                                    class="breed-listing-dog-chevrondown1" />
                            </div>
                            <div class="breed-listing-dog-frame991">
                                <div class="breed-listing-dog-textfield2">
                                    <div class="breed-listing-dog-textfield3">
                                        <div class="breed-listing-dog-statelayer2">
                                            <div class="breed-listing-dog-content1">
                                                <div class="breed-listing-dog-placeholdertext1">
                                                    <span class="breed-listing-dog-text026 Regular16px">
                                                       
                                                        <span> 
                                                        
                                                        <form method="get" (ngSubmit)="searchanimaux()" name="form" #f="ngForm" novalidate>
                                                        
                                                            <input type="text" placeholder="Type Your Favorite Shelter"  name="name" [(ngModel)]="form.name" #name="ngModel"
                                                                (ngModelChange)="searchanimaux()">
                                                        </form>
                                                        
                                                        
                                                        
                                                        
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="breed-listing-dog-frame109">
                            <img alt="Rectangle164723" src="./assets/public/playground_assets/rectangle164723-kgj9-200h.png"
                                class="breed-listing-dog-rectangle16" />
                            <div class="breed-listing-dog-frame1201">
                                <span class="breed-listing-dog-text024 MontserratSemibold16px">
                                    <span>Enter Breed Name</span>
                                </span>
                                <img alt="chevrondown4723" src="./assets/public/playground_assets/chevrondown4723-gl8n.svg"
                                    class="breed-listing-dog-chevrondown1" />
                            </div>
                            <div class="breed-listing-dog-frame991">
                                <div class="breed-listing-dog-textfield2">
                                    <div class="breed-listing-dog-textfield3">
                                        <div class="breed-listing-dog-statelayer2">
                                            <div class="breed-listing-dog-content1">
                                                <div class="breed-listing-dog-placeholdertext1">
                                                    <span class="breed-listing-dog-text026 Regular16px">
                        
                                                        <span>
                        
                                                            <form method="get" (ngSubmit)="searchanimauxBreed()" name="form" #f="ngForm" novalidate>
                        
                                                                <input type="text" placeholder="Type Your Favorite Breed" name="bred"
                                                                    [(ngModel)]="form.bred" #bred="ngModel" (ngModelChange)="searchanimauxBreed()">
                                                            </form>
                        
                        
                        
                        
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <img alt="Rectangle144628" src="./assets/public/playground_assets/rectangle144628-l40a-200h.png"
                            class="breed-listing-dog-rectangle14" />
                        <div class="breed-listing-dog-frame107">
                            <div class="breed-listing-dog-frame1202">
                                <span class="breed-listing-dog-text028 MontserratSemibold16px">
                                    <span>Shelter/organizations with</span>
                                </span>
                                <img alt="chevrondown4628" src="./assets/public/playground_assets/chevrondown4628-0twe.svg"
                                    class="breed-listing-dog-chevrondown2" />
                            </div>




                            <div class="breed-listing-dog-frame104">

                                <div class="breed-listing-dog-frame101">
                                    <!-- <img alt="Checkbox4628" src="./assets/public/playground_assets/checkbox4628-nt7.svg"
                                        class="breed-listing-dog-checkbox" /> -->

                                        <input type="checkbox">
                                    <span class="breed-listing-dog-text030 MontserratMedium14px">
                                        <span>Dog</span>
                                    </span>
                                </div>


                                <div class="breed-listing-dog-frame102">
                                    <input type="checkbox">
                                    <span class="breed-listing-dog-text032 MontserratMedium14px">
                                        <span>Cat</span>
                                    </span>
                                </div>
                            </div>





                        </div>
                        <img alt="Rectangle154628" src="./assets/public/playground_assets/rectangle154628-z3dx-200h.png"
                            class="breed-listing-dog-rectangle15" />
                    </div>
                    <div class="breed-listing-dog-frame2608787">
                        <div class="breed-listing-dog-frame6">
                            <div class="breed-listing-dog-frame110">
                                <span class="breed-listing-dog-text034 MontserratSemibold14px">
                                    <span class="breed-listing-dog-text035">Showing 4 of</span>
                                    <span>257 pets</span>
                                </span>
                                <div class="breed-listing-dog-frame49">
                                    <span class="breed-listing-dog-text037">
                                        <span class="breed-listing-dog-text038">Sort by</span>
                                        <span>Recommended</span>
                                    </span>
                                    <img alt="chevrondown4629" src="./assets/public/playground_assets/chevrondown4629-83pc.svg"
                                        class="breed-listing-dog-chevrondown3" />
                                </div>
                            </div>
                        </div>








                        <div   class="row">

 
                            <div  *ngFor="let anim of displayedItems"  >

                                <div class="breed-listing-dog-organizations-card">
                                    <img alt="Rectangle37I462"
                                        src="./assets/public/playground_assets/rectangle37i462-hrj8-500h.png"
                                        class="breed-listing-dog-rectangle37" />
                                    <div class="breed-listing-dog-frame2608764">
                                        <img alt="PetImageI462"
                                            src="./assets/public/playground_assets/petimagei462-5t79-200h.png"
                                            class="breed-listing-dog-pet-image" />
                                        <div class="breed-listing-dog-frame2608763">
                                            <div class="breed-listing-dog-frame2608756">
                                                <span class="breed-listing-dog-text040 TradeGothicBoldH4">
                                                    <span>{{anim.name}}</span>
                                                </span>
                                                <div class="breed-listing-dog-frame2608757">
                                                    <span class="breed-listing-dog-text042 MontserratMedium14px">
                                                        <span>
                                                            <!-- Cursus malesuada maecenas magna et eget.
                                                            Lobortis tellus aliquet posuere amet dignissim
                                                            nulla ultrices. Aliquam commodo ultricies
                                                            aliquam sit egestas justo pulvinar lacus. -->

                                                            {{anim.descri}}
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="breed-listing-dog-frame2608762">
                                                <div class="breed-listing-dog-location01">
                                                    <div class="breed-listing-dog-phone">
                                                        <img alt="LocationI462"
                                                            src="./assets/public/playground_assets/locationi462-xoh.svg"
                                                            class="breed-listing-dog-location02" />
                                                        <span
                                                            class="breed-listing-dog-text044 MontserratRegularSmallText">
                                                            <span>
                                                                {{anim.addrs}}
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                
                                                <div class="breed-listing-dog-phone01">
                                                    <div class="breed-listing-dog-phone02">
                                                        <img alt="callI462"
                                                            src="./assets/public/playground_assets/calli462-npkv.svg"
                                                            class="breed-listing-dog-call" />
                                                        <span
                                                            class="breed-listing-dog-text046 MontserratRegularSmallText">
                                                            <!-- <span>+48602232136</span> -->
                                                            <span> {{ users.username }}</span>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="breed-listing-dog-email">
                                                    <div class="breed-listing-dog-phone03">
                                                        <img alt="MailI462"
                                                            src="./assets/public/playground_assets/maili462-0ge.svg"
                                                            class="breed-listing-dog-mail" />
                                                        <span
                                                            class="breed-listing-dog-text048 MontserratRegularSmallText">
                                                            <!-- <span>admin@malacrusinow.pl</span> -->

                                                            <span> {{ users.email }}</span>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="breed-listing-dog-website">
                                                    <div class="breed-listing-dog-website01">
                                                        <img alt="Component65I462"
                                                            src="./assets/public/playground_assets/component65i462-q8br.svg"
                                                            class="breed-listing-dog-component65" />
                                                        <span class="breed-listing-dog-text050">
                                                            <span>Malacrusinow.pl</span>
                                                        </span>
                                                    </div>
                                                </div>


                                              

                                                <span class="breed-listing-dog-text052 TradeGothicBold14px">
                                                    <span>See Detail</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

 
                        </div>



                     

                        <button class="breed-listing-dog-button" (click)="incrementDisplayCount()" *ngIf="!nondata">
                            <div class="breed-listing-dog-stylelayer">
                                <span class="breed-listing-dog-text124 MontserratSemibold14px">
                                    <span>Show more results</span>
                                </span>
                            </div>
                        </button>

                        <div *ngIf="nondata" class="breed-listing-dog-stylelayer">
                            <span class="breed-listing-dog-text124 MontserratSemibold14px">
                                <h5>No Pets ! </h5>
                                <!-- {{this.nb}} -->
                            </span>
                        </div>

                        



                    </div>
                </div>
                <div class="breed-listing-dog-footer">
                    <div class="breed-listing-dog-frame2608782">
                        <div class="breed-listing-dog-frame2608747">
                            <div class="breed-listing-dog-frame2608743">
                                <span class="breed-listing-dog-text126 TradeGothicBoldH1">
                                    <span>Subscribe Newsletter</span>
                                </span>
                                <div class="breed-listing-dog-frame2608755">
                                    <div class="breed-listing-dog-frame26087431">
                                        <span class="breed-listing-dog-text128 MontserratRegularH5">
                                            <span>Join Our Community</span>
                                        </span>
                                        <span class="breed-listing-dog-text130 MontserratRegularBody">
                                            <span>
                                                Be the First to Know About New Adoptable Pets and
                                                Receive Our Monthly Newsletter. Subscribe Now!
                                            </span>
                                        </span>
                                    </div>
                                    <div class="breed-listing-dog-frame2608741">
                                        <div class="breed-listing-dog-textfield4">
                                            <div class="breed-listing-dog-textfield5">
                                                <div class="breed-listing-dog-statelayer3">
                                                    <div class="breed-listing-dog-content2">
                                                        <div class="breed-listing-dog-labeltext">
                                                            <span
                                                                class="breed-listing-dog-text132 MontserratRegularBody">
                                                                <span>Your email address</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="breed-listing-dog-button1">
                                            <div class="breed-listing-dog-stylelayer1">
                                                <span class="breed-listing-dog-text134 MontserratMedium14px">
                                                    <span>Subscribe</span>
                                                </span>
                                            </div>
                                        </button>
                                        <button class="breed-listing-dog-button2"></button>
                                    </div>
                                </div>
                            </div>
                            <img alt="emojionev1openmailboxwithloweredflagI462"
                                src="./assets/public/playground_assets/emojionev1openmailboxwithloweredflagi462-nz9r.svg"
                                class="breed-listing-dog-emojionev1openmailboxwithloweredflag" />
                        </div>
                        <div class="breed-listing-dog-frame2608748">
                            <div class="breed-listing-dog-frame2608750">
                                <div class="breed-listing-dog-logo1">
                                    <div class="breed-listing-dog-group1">
                                        <img alt="TemporaryLogoI462"
                                            src="./assets/public/playground_assets/temporarylogoi462-e5xw-200h.png"
                                            class="breed-listing-dog-temporary-logo1" />
                                    </div>
                                    <img alt="LI462" src="./assets/public/playground_assets/li462-l5g.svg"
                                        class="breed-listing-dog-l1" />
                                    <img alt="GI462" src="./assets/public/playground_assets/gi462-90uir.svg"
                                        class="breed-listing-dog-g1" />
                                    <img alt="OI462" src="./assets/public/playground_assets/oi462-k8hj.svg"
                                        class="breed-listing-dog-o1" />
                                </div>
                                <div class="breed-listing-dog-frame2608749">
                                    <div class="breed-listing-dog-akariconsfacebookfill">
                                        <div class="breed-listing-dog-group2">
                                            <div class="breed-listing-dog-group3"></div>
                                        </div>
                                    </div>
                                    <div class="breed-listing-dog-akariconsyoutubefill">
                                        <div class="breed-listing-dog-group4">
                                            <div class="breed-listing-dog-group5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="breed-listing-dog-frame26087481">
                                <div class="breed-listing-dog-frame2608742">
                                    <span class="breed-listing-dog-text136 TradeGothicBoldH6">
                                        <span>Our Destinations</span>
                                    </span>
                                    <div class="breed-listing-dog-frame2608776">
                                        <span class="breed-listing-dog-text138 MontserratRegularSmallText">
                                            <span>Canada</span>
                                        </span>
                                        <span class="breed-listing-dog-text140 MontserratRegularSmallText">
                                            <span>Alaksa</span>
                                        </span>
                                        <span class="breed-listing-dog-text142 MontserratRegularSmallText">
                                            <span>France</span>
                                        </span>
                                        <span class="breed-listing-dog-text144 MontserratMedium14px">
                                            <span>Iceland</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="breed-listing-dog-frame2608744">
                                    <span class="breed-listing-dog-text146 TradeGothicBoldH6">
                                        <span>Our Activities</span>
                                    </span>
                                    <div class="breed-listing-dog-frame2608777">
                                        <span class="breed-listing-dog-text148 MontserratRegularSmallText">
                                            <span>Northern Lights</span>
                                        </span>
                                        <span class="breed-listing-dog-text150 MontserratRegularSmallText">
                                            <span>Cruising &amp; sailing</span>
                                        </span>
                                        <span class="breed-listing-dog-text152 MontserratRegularSmallText">
                                            <span>Multi-activities</span>
                                        </span>
                                        <span class="breed-listing-dog-text154 MontserratRegularSmallText">
                                            <span>Kayaing</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="breed-listing-dog-frame26087471">
                                    <span class="breed-listing-dog-text156 TradeGothicBoldH6">
                                        <span>Travel Blogs</span>
                                    </span>
                                    <div class="breed-listing-dog-frame2608778">
                                        <span class="breed-listing-dog-text158 MontserratRegularSmallText">
                                            <span>Bali Travel Guide</span>
                                        </span>
                                        <span class="breed-listing-dog-text160 MontserratRegularSmallText">
                                            <span>Sri Lanks Travel Guide</span>
                                        </span>
                                        <span class="breed-listing-dog-text162 MontserratRegularSmallText">
                                            <span>Peru Travel Guide</span>
                                        </span>
                                        <span class="breed-listing-dog-text164 MontserratRegularSmallText">
                                            <span>Bali Travel Guide</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="breed-listing-dog-frame2608745">
                                    <span class="breed-listing-dog-text166 TradeGothicBoldH6">
                                        <span>About Us</span>
                                    </span>
                                    <div class="breed-listing-dog-frame2608779">
                                        <span class="breed-listing-dog-text168 MontserratRegularSmallText">
                                            <span>Our Story</span>
                                        </span>
                                        <span class="breed-listing-dog-text170 MontserratRegularSmallText">
                                            <span>Work with us</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="breed-listing-dog-frame2608746">
                                    <span class="breed-listing-dog-text172 TradeGothicBoldH6">
                                        <span>Contact Us</span>
                                    </span>
                                    <div class="breed-listing-dog-frame2608780">
                                        <span class="breed-listing-dog-text174 MontserratRegularSmallText">
                                            <span>Our Story</span>
                                        </span>
                                        <span class="breed-listing-dog-text176 MontserratRegularSmallText">
                                            <span>Work with us</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="breed-listing-dog-copyrightfootnote">
                        <span class="breed-listing-dog-text178 MontserratRegularSmallerText">
                            <span>
                                Copyright © 2023 All Rights Reserved. In association with
                                IamThehackerman.com
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>