<!DOCTYPE html>
<html lang="english">

<head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p,
        li,
        ul,
        pre,
        div,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        figure,
        blockquote,
        figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button,
        select {
            text-transform: none;
        }

        button,
        /* [type="button"],
        [type="reset"],
        [type="submit"] {
            -webkit-appearance: button;
        } */

        button::-moz-focus-inner,
        [type="button"]::-moz-focus-inner,
        [type="reset"]::-moz-focus-inner,
        [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        button:-moz-focus,
        [type="button"]:-moz-focus,
        [type="reset"]:-moz-focus,
        [type="submit"]:-moz-focus {
            outline: 1px dotted ButtonText;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);

        }
    </style>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <div>
 
        <div class="account-container">
            <div class="account-account">
                <img alt="Rectangle34746" src="./assets/public/playground_assets/rectangle34746-m57-400h.png"
                    class="account-rectangle3" />
                <div class="account-frame256">
                    <div class="account-frame245">
                        <div class="account-frame240">
                            <div class="account-frame232">
                                


                                    <div>
                                     
                                         <img *ngIf="imageUrl" [src]="imageUrl" alt="Image" class="account-ellipse1">
                                         <img *ngIf="!imageUrl" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5nRbIObRQkMacJ9ORydgR3yfqFffAMVlzRQHG6JY&s" alt="Image" class="account-ellipse1">
                                        
                                    </div>


                                <div class="account-frame231">
                                    <span class="account-text MontserratSemibold24px">
                                        <span>{{this.eeee}}</span>
                                    </span>
                                    <span class="account-text02 MontserratRegular16px">
                                        <span>{{this.eee}}</span>
                                    </span>
                                </div>
                                <div>
                                    <img alt="Pen4746" src="./assets/public/playground_assets/pen4746-bd8w.svg"
                                        class="account-pen" />
                                </div>
                            </div>
                        </div>



                        <div class="account-frame71">
                            <span class="account-text04 MontserratSemibold16px">
                                <span>Account</span>
                            </span>


                             
<a href="Account/favorite-Pet">
                            <span class="account-text06 MontserratSemibold16px">
                                <span>Favorite Pets</span>
                            </span>

</a>
                        
                        </div>



                    </div>
                    <div class="account-frame244">
                        <span class="account-text08 TradeGothicBold32px">
                            <span>Account</span>
                        </span>
                        <div class="account-frame38">
                            <div class="account-frame249">
                                <div class="account-frame246">
                                    <span class="account-text10 MontserratRegular16px">
                                        <span>Name</span>
                                    </span>
                                    <span class="account-text12"><span>{{this.eeee}}</span></span>
                                </div>
                                <button class="account-button">
                                    <div class="account-stylelayer">
                                        <img alt="EditI503" src="./assets/public/playground_assets/editi503-98nb.svg"
                                            class="account-edit" />
                                       
                                            <a href="Account/edit">Edit</a>
                                       
                                    </div>
                                </button>
                            </div>
                            <div class="account-frame255">
                                <div class="account-frame2461">
                                    <span class="account-text16 MontserratRegular16px">
                                        <span>Email</span>
                                    </span>
                                    <span class="account-text18">
                                        <span>{{this.eee}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="account-frame2561">
                                <div class="account-frame2462">
                                    <span class="account-text20 MontserratRegular16px">
                                        <span>Password</span>
                                    </span>
                                    <span class="account-text22">
                                        <span>************</span>
                                    </span>
                                </div>
                            </div>
                            <!-- <div class="account-frame257">
                                <div class="account-frame2463">
                                    <span class="account-text24 MontserratRegular16px">
                                        <span>Phone Number</span>
                                    </span>
                                    <span class="account-text26">
                                        <span>+1 2345-567-890</span>
                                    </span>
                                </div>
                            </div> -->
                            <div class="account-frame258">
                                <div class="account-frame2464">
                                    <span class="account-text28 MontserratRegular16px">
                                        <span>Address</span>
                                    </span>
                                    <span class="account-text30">
                                        <span>
                                        {{this.eeeee}}


                                       

                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-button1" >
                    <input *ngIf="fileSelected" style="margin-right: 50%;" type="file" (change)="onFileSelected($event)">
                    <div class="account-stylelayer1" style="margin-right: 10%;" >
                        <img alt="UploadI474" src="./assets/public/playground_assets/uploadi474-ouic.svg"
                            class="account-upload" />
                        <span class="account-text32 MontserratMedium14px" >
                            

                           
                            <button  (click)="uploadImage()" style="color: white;">Upload image</button>

                             
                        </span>
                    </div>
                </div>
                <div class="account-header-default">

                    <div class="account-frame22" style="margin-right: 10%;">
                        <div class="account-frame20">
                            <img alt="ExploreI474" src="./assets/public/playground_assets/explorei474-o35c.svg"
                                class="account-explore" />
                            <span class="account-text34 MontserratSemibold14px">
                                <span><a href="/listing/Lost-Pet">I’ve Lost Pets</a></span>
                            </span>
                        </div>
                        <div class="account-frame21">
                            <img alt="materialsymbolssearchroundedI474"
                                src="./assets/public/playground_assets/materialsymbolssearchroundedi474-ahvi.svg"
                                class="account-materialsymbolssearchrounded" />
                            <span class="account-text36 MontserratSemibold14px">
                                <span><a href="/listing/found-Pet">I’ve Found Pets</a></span>
                            </span>
                        </div>
                    </div>

<a href="">

                    <div class="account-logo" >
                        <div class="account-group">
                            <img alt="TemporaryLogoI474" src="./assets/public/playground_assets/temporarylogoi474-za8-200h.png"
                                class="account-temporary-logo" />
                        </div>
                        <img alt="LI474" src="./assets/public/playground_assets/li474-uyut.svg" class="account-l" />
                        <img alt="GI474" src="./assets/public/playground_assets/gi474-rjid.svg" class="account-g" />
                        <img alt="OI474" src="./assets/public/playground_assets/oi474-5cd.svg" class="account-o" />
                    </div>
</a>
                    <div class="account-frame22" style="margin-left: 10%;">
                        <div class="account-frame20">
                             <span class="account-text34 MontserratSemibold14px">
                                <span><a href="/Account/lost-Pet">Add Lost Pets</a></span>
                            </span>
                        </div>
                        <div class="account-frame21">
                         
                            <span class="account-text36 MontserratSemibold14px">
                                <span><a href="/Account/found-Pet">Add Found Pets</a></span>
                            </span>
                        </div>
                    </div>







                    <!-- <div class="account-frame24">
                        <div class="account-frame241">
                            <div class="account-frame28">
                                <div class="account-frame30">
                                    <img alt="heartI474" src="./assets/public/playground_assets/hearti474-09pn.svg"
                                        class="account-heart" />
                                    <span class="account-text38 MontserratSemibold14px">
                                        <span>Favourites</span>
                                    </span>
                                </div>
                                <span class="account-text40 MontserratSemibold14px">|</span>
                            </div>
                            <div class="account-frame29">
                                <img alt="Ellipse1I474" src="./assets/public/playground_assets/ellipse1i474-3gfj-200h.png"
                                    class="account-ellipse11" />
                                <span class="account-text41 MontserratSemibold14px">
                                    <span>Michael</span>
                                </span>
                                <img alt="Ellipse4I474" src="./assets/public/playground_assets/ellipse4i474-y1yo-200h.png"
                                    class="account-ellipse4" />
                                <img alt="ArrowDownI474" src="./assets/public/playground_assets/arrowdowni474-d598.svg"
                                    class="account-arrow-down" />
                            </div>
                        </div>
                    </div>
                    <img alt="Rectangle5I474" src="./assets/public/playground_assets/rectangle5i474-d9ep-200h.png"
                        class="account-rectangle5" /> -->
                </div>






                <div class="account-footer">
                    <div class="account-frame2608782">
                        <div class="account-frame2608747">
                            <div class="account-frame2608743">
                                <span class="account-text43 TradeGothicBoldH1">
                                    <span>Subscribe Newsletter</span>
                                </span>
                                <div class="account-frame2608755">
                                    <div class="account-frame26087431">
                                        <span class="account-text45 MontserratRegularH5">
                                            <span>Join Our Community</span>
                                        </span>
                                        <span class="account-text47 MontserratRegularBody">
                                            <span>
                                                Be the First to Know About New Adoptable Pets and
                                                Receive Our Monthly Newsletter. Subscribe Now!
                                            </span>
                                        </span>
                                    </div>
                                    <div class="account-frame2608741">
                                        <div class="account-textfield">
                                            <div class="account-textfield1">
                                                <div class="account-statelayer">
                                                    <div class="account-content">
                                                        <div class="account-labeltext">
                                                            <span class="account-text49 MontserratRegularBody">
                                                                <span>Your email address</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="account-button2">
                                            <div class="account-stylelayer2">
                                                <span class="account-text51 MontserratMedium14px">
                                                    <span>Subscribe</span>
                                                </span>
                                            </div>
                                        </button>
                                        <button class="account-button3"></button>
                                    </div>
                                </div>
                            </div>
                            <img alt="emojionev1openmailboxwithloweredflagI475"
                                src="./assets/public/playground_assets/emojionev1openmailboxwithloweredflagi475-yzug.svg"
                                class="account-emojionev1openmailboxwithloweredflag" />
                        </div>
                        <div class="account-frame2608748">
                            <div class="account-frame2608750">
                                <div class="account-logo1">
                                    <div class="account-group1">
                                        <img alt="TemporaryLogoI475"
                                            src="./assets/public/playground_assets/temporarylogoi475-3xb-200h.png"
                                            class="account-temporary-logo1" />
                                    </div>
                                    <img alt="LI475" src="./assets/public/playground_assets/li475-oozl.svg" class="account-l1" />
                                    <img alt="GI475" src="./assets/public/playground_assets/gi475-afoa.svg" class="account-g1" />
                                    <img alt="OI475" src="./assets/public/playground_assets/oi475-nx3.svg" class="account-o1" />
                                </div>
                                <div class="account-frame2608749">
                                    <div class="account-akariconsfacebookfill">
                                        <div class="account-group2">
                                            <div class="account-group3"></div>
                                        </div>
                                    </div>
                                    <div class="account-akariconsyoutubefill">
                                        <div class="account-group4">
                                            <div class="account-group5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="account-frame26087481">
                                <div class="account-frame2608742">
                                    <span class="account-text53 TradeGothicBoldH6">
                                        <span>Our Destinations</span>
                                    </span>
                                    <div class="account-frame2608776">
                                        <span class="account-text55 MontserratRegularSmallText">
                                            <span>Canada</span>
                                        </span>
                                        <span class="account-text57 MontserratRegularSmallText">
                                            <span>Alaksa</span>
                                        </span>
                                        <span class="account-text59 MontserratRegularSmallText">
                                            <span>France</span>
                                        </span>
                                        <span class="account-text61 MontserratMedium14px">
                                            <span>Iceland</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="account-frame2608744">
                                    <span class="account-text63 TradeGothicBoldH6">
                                        <span>Our Activities</span>
                                    </span>
                                    <div class="account-frame2608777">
                                        <span class="account-text65 MontserratRegularSmallText">
                                            <span>Northern Lights</span>
                                        </span>
                                        <span class="account-text67 MontserratRegularSmallText">
                                            <span>Cruising &amp; sailing</span>
                                        </span>
                                        <span class="account-text69 MontserratRegularSmallText">
                                            <span>Multi-activities</span>
                                        </span>
                                        <span class="account-text71 MontserratRegularSmallText">
                                            <span>Kayaing</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="account-frame26087471">
                                    <span class="account-text73 TradeGothicBoldH6">
                                        <span>Travel Blogs</span>
                                    </span>
                                    <div class="account-frame2608778">
                                        <span class="account-text75 MontserratRegularSmallText">
                                            <span>Bali Travel Guide</span>
                                        </span>
                                        <span class="account-text77 MontserratRegularSmallText">
                                            <span>Sri Lanks Travel Guide</span>
                                        </span>
                                        <span class="account-text79 MontserratRegularSmallText">
                                            <span>Peru Travel Guide</span>
                                        </span>
                                        <span class="account-text81 MontserratRegularSmallText">
                                            <span>Bali Travel Guide</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="account-frame2608745">
                                    <span class="account-text83 TradeGothicBoldH6">
                                        <span>About Us</span>
                                    </span>
                                    <div class="account-frame2608779">
                                        <span class="account-text85 MontserratRegularSmallText">
                                            <span>Our Story</span>
                                        </span>
                                        <span class="account-text87 MontserratRegularSmallText">
                                            <span>Work with us</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="account-frame2608746">
                                    <span class="account-text89 TradeGothicBoldH6">
                                        <span>Contact Us</span>
                                    </span>
                                    <div class="account-frame2608780">
                                        <span class="account-text91 MontserratRegularSmallText">
                                            <span>Our Story</span>
                                        </span>
                                        <span class="account-text93 MontserratRegularSmallText">
                                            <span>Work with us</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account-copyrightfootnote">
                        <span class="account-text95 MontserratRegularSmallerText">
                            <span>
                                Copyright © 2023 All Rights Reserved. In association with
                                IamThehackerman.com
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>