.signup-container {
  min-height: 100vh;
}
.signup-signup {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.signup-logo {
  top: 104px;
  left: 696px;
  width: 110px;
  height: 36px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.signup-group {
  top: 0px;
  left: 26.000078201293945px;
  width: 29px;
  height: 27px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.signup-temporary-logo {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 27px;
  position: absolute;
  border-color: transparent;
  border-radius: 7.129032135009766px;
}
.signup-l {
  top: 4.52419376373291px;
  left: 4.249464511871338px;
  width: 17px;
  height: 25px;
  position: absolute;
  box-sizing: content-box;
}
.signup-g {
  top: 3.838843584060669px;
  left: 54.016666412353516px;
  width: 22px;
  height: 25px;
  position: absolute;
  box-sizing: content-box;
}
.signup-o {
  top: 3.838843584060669px;
  left: 82.25806427001953px;
  width: 26px;
  height: 25px;
  position: absolute;
  box-sizing: content-box;
}
.signup-frame263 {
  top: 204px;
  left: 696px;
  width: 640px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.signup-frame261 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 48px;
  flex-direction: column;
}
.signup-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 16px;
}
.signup-text02 {
  color: var(--dl-color-primary-primary90);
  height: auto;
  opacity: 0.75;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.signup-frame258 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.signup-frame259 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
}
.signup-frame266 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 24px;
}
.signup-textfield {
  width: 308px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 24px;
  border-radius: 4px 4px 0 0;
  flex-direction: column;
}
.signup-textfield01 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(121, 116, 126, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  background-color: var(--dl-color-default-neutrals);
}
.signup-statelayer {
  display: flex;
  padding: 8px 0 8px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px 4px 0 0;
}
.signup-content {
  width: 292px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.signup-inputtext {
  color: rgba(28, 27, 31, 1);
  display: flex;
  position: relative;
  font-size: 16px;
  text-align: left;
  align-items: center;
  font-family: Montserrat;
  font-weight: 400;
  border-color: transparent;
  margin-bottom: 0px;
}
.signup-labeltext {
  top: -16px;
  left: -4px;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  position: absolute;
  align-items: center;
  border-color: transparent;
  background-color: var(--dl-color-default-neutrals);
}
.signup-text04 {
  color: rgba(28, 27, 31, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.signup-textfield02 {
  width: 308px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px 4px 0 0;
  flex-direction: column;
}
.signup-textfield03 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(121, 116, 126, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  background-color: var(--dl-color-default-neutrals);
}
.signup-statelayer1 {
  display: flex;
  padding: 8px 0 8px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px 4px 0 0;
}
.signup-content1 {
  width: 292px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.signup-inputtext1 {
  color: rgba(28, 27, 31, 1);
  display: flex;
  position: relative;
  font-size: 16px;
  text-align: left;
  align-items: center;
  font-family: Montserrat;
  font-weight: 400;
  border-color: transparent;
  margin-bottom: 0px;
}
.signup-labeltext1 {
  top: -16px;
  left: -4px;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  position: absolute;
  align-items: center;
  border-color: transparent;
  background-color: var(--dl-color-default-neutrals);
}
.signup-text06 {
  color: rgba(28, 27, 31, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.signup-frame267 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 24px;
}
.signup-textfield04 {
  width: 308px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 24px;
  border-radius: 4px 4px 0 0;
  flex-direction: column;
}
.signup-textfield05 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(121, 116, 126, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  background-color: var(--dl-color-default-neutrals);
}
.signup-statelayer2 {
  display: flex;
  padding: 8px 0 8px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px 4px 0 0;
}
.signup-content2 {
  width: 292px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.signup-inputtext2 {
  color: rgba(28, 27, 31, 1);
  display: flex;
  position: relative;
  font-size: 16px;
  text-align: left;
  align-items: center;
  font-family: Montserrat;
  font-weight: 400;
  border-color: transparent;
  margin-bottom: 0px;
}
.signup-labeltext2 {
  top: -16px;
  left: -4px;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  position: absolute;
  align-items: center;
  border-color: transparent;
  background-color: var(--dl-color-default-neutrals);
}
.signup-text08 {
  color: rgba(28, 27, 31, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.signup-textfield06 {
  width: 308px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px 4px 0 0;
  flex-direction: column;
}
.signup-textfield07 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(121, 116, 126, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  background-color: var(--dl-color-default-neutrals);
}
.signup-statelayer3 {
  display: flex;
  padding: 8px 0 8px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px 4px 0 0;
}
.signup-content3 {
  width: 292px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.signup-inputtext3 {
  color: rgba(28, 27, 31, 1);
  display: flex;
  position: relative;
  font-size: 16px;
  text-align: left;
  align-items: center;
  font-family: Montserrat;
  font-weight: 400;
  border-color: transparent;
  margin-bottom: 0px;
}
.signup-labeltext3 {
  top: -16px;
  left: -4px;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  position: absolute;
  align-items: center;
  border-color: transparent;
  background-color: var(--dl-color-default-neutrals);
}
.signup-text10 {
  color: rgba(28, 27, 31, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.signup-textfield08 {
  height: 56px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px 4px 0 0;
  margin-bottom: 24px;
  flex-direction: column;
}
.signup-textfield09 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(121, 116, 126, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.signup-statelayer4 {
  display: flex;
  padding: 4px 0 4px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px 4px 0 0;
}
.signup-content4 {
  width: 576px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.signup-inputtext4 {
  color: rgba(28, 27, 31, 1);
  display: flex;
  position: relative;
  font-size: 16px;
  text-align: left;
  align-items: center;
  font-family: Montserrat;
  font-weight: 400;
  border-color: transparent;
  margin-bottom: 0px;
}
.signup-labeltext4 {
  top: -16px;
  left: -4px;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  position: absolute;
  align-items: center;
  border-color: transparent;
  background-color: var(--dl-color-default-neutrals);
}
.signup-text12 {
  color: var(--dl-color-primary-primary90);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.signup-trailingicon {
  width: 48px;
  height: 48px;
  display: flex;
  padding: 12px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.signup-eyeoff {
  width: 24px;
  height: 24px;
  position: relative;
}
.signup-textfield10 {
  height: 56px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px 4px 0 0;
  margin-bottom: 24px;
  flex-direction: column;
}
.signup-textfield11 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(121, 116, 126, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.signup-statelayer5 {
  display: flex;
  padding: 4px 0 4px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px 4px 0 0;
}
.signup-content5 {
  width: 576px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.signup-inputtext5 {
  color: rgba(28, 27, 31, 1);
  display: flex;
  position: relative;
  font-size: 16px;
  text-align: left;
  align-items: center;
  font-family: Montserrat;
  font-weight: 400;
  border-color: transparent;
  margin-bottom: 0px;
}
.signup-labeltext5 {
  top: -16px;
  left: -4px;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  position: absolute;
  align-items: center;
  border-color: transparent;
  background-color: var(--dl-color-default-neutrals);
}
.signup-text14 {
  color: var(--dl-color-primary-primary90);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.signup-trailingicon1 {
  width: 48px;
  height: 48px;
  display: flex;
  padding: 12px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.signup-eyeoff1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.signup-frame101 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.signup-checkbox {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
}
.signup-text16 {
  color: rgba(38, 92, 98, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.signup-text17 {
  color: var(--dl-color-primary-primary90);
  font-weight: 500;
}
.signup-text18 {
  color: var(--dl-color-error-50);
  font-weight: 600;
}
.signup-text19 {
  color: var(--dl-color-primary-primary90);
  font-weight: 500;
}
.signup-frame268 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
}
.signup-button {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
}
.signup-button:hover {
  background-color: rgb(85, 160, 98);
}
.signup-stylelayer {
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-primary-primary90);
}
.signup-text21 {
  color: var(--dl-color-success-10);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.signup-text23 {
  color: rgba(38, 92, 98, 1);
  width: 640px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.signup-text24 {
  color: var(--dl-color-primary-primary90);
  font-weight: 500;
}
.signup-frame262 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 40px;
}
.signup-rectangle6 {
  width: auto;
  height: 0px;
  opacity: 0.25;
  position: relative;
  flex-grow: 1;
  border-color: transparent;
  margin-right: 16px;
}
.signup-text26 {
  color: var(--dl-color-primary-primary90);
  height: auto;
  opacity: 0.50;
  align-self: auto;
  text-align: left;
  line-height: normal;
  margin-right: 16px;
  margin-bottom: 0;
}
.signup-rectangle7 {
  width: auto;
  height: 0px;
  opacity: 0.25;
  position: relative;
  flex-grow: 1;
  border-color: transparent;
}
.signup-frame228 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}

 



.signup-frame224 {
  width: 203px;
  height: 56px;
  position: relative;
  flex-grow: 1;
  margin-right: 16px;
}
.signup-frame225:hover, .signup-frame226:hover,.signup-frame224:hover {
   background-color: rgb(166, 233, 176);
}




.signup-frame225 {
  width: 202.6666717529297px;
  display: flex;
  padding: 16px 24px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(140, 194, 200, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 16px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}
.signup-flatcoloriconsgoogle {
  width: 24px;
  height: 24px;
  position: relative;
}
.signup-frame226 {
  width: 202.6666717529297px;
  display: flex;
  padding: 16px 24px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(140, 194, 200, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}
.signup-materialsymbolslinkedcamera {
  width: 24px;
  height: 24px;
  position: relative;
}
.signup-group4 {
  top: 104px;
  left: 104px;
  width: 488.00067138671875px;
  height: 816px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.signup-rectangle20 {
  top: 0px;
  left: 0px;
  width: 486px;
  height: 816px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.signup-rectangle22 {
  top: 816px;
  left: 1.581363320350647px;
  width: 486px;
  height: 58px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px 30px 0 0;
}
.signup-frame265 {
  top: 782px;
  left: 216.3629913330078px;
  width: 53.695640563964844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-size: cover;
  /* background-image: url("./assets/public/playground_assets/e56d7974-55d8-4df7-8cb8-61794b5e0a18-zkyp-900h.undefined"); */
}
.signup-rectangle21 {
  width: 32px;
  height: 10px;
  position: relative;
  border-color: transparent;
  margin-right: 8px;
  border-radius: 5px;
}
.signup-ellipse6 {
  width: 10px;
  height: 10px;
  position: relative;
  border-color: transparent;
  margin-right: 8px;
}
.signup-ellipse7 {
  width: 10px;
  height: 10px;
  position: relative;
  border-color: transparent;
}
