<!DOCTYPE html>
<html lang="english">

<head>
    <title>pet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p,
        li,
        ul,
        pre,
        div,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        figure,
        blockquote,
        figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button,
        select {
            text-transform: none;
        }



        button::-moz-focus-inner,
        [type="button"]::-moz-focus-inner,
        [type="reset"]::-moz-focus-inner,
        [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        button:-moz-focus,
        [type="button"]:-moz-focus,
        [type="reset"]:-moz-focus,
        [type="submit"]:-moz-focus {
            outline: 1px dotted ButtonText;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);

        }
    </style>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <div>


        <div class="lost-pets-container">
            <div class="lost-pets-lost-pets">
                <img src="./assets/public/playground_assets/rectangle34757-trfd-400h.png" alt="Rectangle34757"
                    class="lost-pets-rectangle3" />


                    <div class="lost-pets-button">
                      <!-- <input   type="file" (change)="onFileSelected($event)"> -->
                        <div class="lost-pets-stylelayer">
                    
                            <img src="./assets/public/playground_assets/uploadi475-zqu.svg" alt="UploadI475" class="lost-pets-upload" />
                    
                    
                            <button   style="color: white;">Upload image</button>
                    
                        </div>
                    </div>
               







                <div class="lost-pets-header-default">


                    <div class="lost-pets-frame22">
                        <div class="lost-pets-frame20">
                            <img src="./assets/public/playground_assets/explorei475-57lo.svg" alt="ExploreI475"
                                class="lost-pets-explore" />
                            <span class="lost-pets-text002 MontserratSemibold14px">
                                <span><a href="/listing/Lost-Pet">I’ve Lost Pets</a></span>
                            </span>
                        </div>
                        <div class="lost-pets-frame21">
                            <img src="./assets/public/playground_assets/materialsymbolssearchroundedi475-3v3o.svg"
                                alt="materialsymbolssearchroundedI475" class="lost-pets-materialsymbolssearchrounded" />
                            <span class="lost-pets-text004 MontserratSemibold14px">
                                <span><a href="/listing/found-Pet">I’ve Found Pets</a></span>
                            </span>
                        </div>
<div>

    <span class="lost-pets-text004 MontserratSemibold14px">
        <span><a href="/Account/found-Pet">Add Found Pets</a></span>
    </span>
</div>
                       
                    </div>
<a href="">
                    <div class="lost-pets-logo">
                        <div class="lost-pets-group">
                            <img src="./assets/public/playground_assets/temporarylogoi475-yfxp-200h.png"
                                alt="TemporaryLogoI475" class="lost-pets-temporary-logo" />
                        </div>
                        <img src="./assets/public/playground_assets/li475-d0bq.svg" alt="LI475" class="lost-pets-l" />
                        <img src="./assets/public/playground_assets/gi475-k6v8.svg" alt="GI475" class="lost-pets-g" />
                        <img src="./assets/public/playground_assets/oi475-5167.svg" alt="OI475" class="lost-pets-o" />
                    
                       
                    
                    </div>
</a>



 




















                    <div class="lost-pets-frame24">
                        <div class="found-pets-frame241">

                            <!-- <a href="Account/favorite-Pet">
                                <div class="found-pets-frame28">
                                    <div class="found-pets-frame30">
                                        <img src="./assets/public/playground_assets/hearti475-h2n.svg" alt="heartI475" class="found-pets-heart" />
                                        <span class="found-pets-text014 MontserratSemibold14px">
                                            <span>Favourites</span>
                                        </span>
                                    </div>
                                    <span class="found-pets-text016 MontserratSemibold14px">
                                        |
                                    </span>
                                </div>
                            
                            </a> -->

                            <a href="Account">
                            <div class="lost-pets-frame29">
                    

                                    <img *ngIf="imageUrl" [src]="imageUrl" alt="Image" class="lost-pets-ellipse1">
                                    <img *ngIf="!imageUrl"
                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5nRbIObRQkMacJ9ORydgR3yfqFffAMVlzRQHG6JY&s" alt="Image"
                                        class="lost-pets-ellipse1">

                                <span class="lost-pets-text009 MontserratSemibold14px">
                                <span>{{this.eeee}}</span>
                                </span>
                                
                                <img src="./assets/public/playground_assets/arrowdowni475-h5uz9.svg" alt="ArrowDownI475"
                                    class="lost-pets-ellipse4" />
                            </div>
</a>

                        </div>
                    </div>
                    <img src="./assets/public/playground_assets/rectangle5i475-pjcg-200h.png" alt="Rectangle5I475"
                        class="lost-pets-rectangle5" />
                </div>
                <div class="lost-pets-footer">
                    <div class="lost-pets-frame2608782">
                        <div class="lost-pets-frame2608747">
                            <div class="lost-pets-frame2608743">
                                <span class="lost-pets-text011 TradeGothicBoldH1">
                                    <span>Subscribe Newsletter</span>
                                </span>
                                <div class="lost-pets-frame2608755">
                                    <div class="lost-pets-frame26087431">
                                        <span class="lost-pets-text013 MontserratRegularH5">
                                            <span>Join Our Community</span>
                                        </span>
                                        <span class="lost-pets-text015 MontserratRegularBody">
                                            <span>
                                                Be the First to Know About New Adoptable Pets and
                                                Receive Our Monthly Newsletter. Subscribe Now!
                                            </span>
                                        </span>
                                    </div>
                                    <div class="lost-pets-frame2608741">
                                        <div class="lost-pets-textfield">
                                            <div class="lost-pets-textfield01">
                                                <div class="lost-pets-statelayer">
                                                    <div class="lost-pets-content">
                                                        <div class="lost-pets-labeltext">
                                                            <span class="lost-pets-text017 MontserratRegularBody">
                                                                <span>Your email address</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="lost-pets-button1">
                                            <div class="lost-pets-stylelayer1">
                                                <span class="lost-pets-text019 MontserratMedium14px">
                                                    <span>Subscribe</span>
                                                </span>
                                            </div>
                                        </button>
                                        <button class="lost-pets-button2"></button>
                                    </div>
                                </div>
                            </div>
                            <img src="./assets/public/playground_assets/emojionev1openmailboxwithloweredflagi475-7ubr.svg"
                                alt="emojionev1openmailboxwithloweredflagI475"
                                class="lost-pets-emojionev1openmailboxwithloweredflag" />
                        </div>
                        <div class="lost-pets-frame2608748">
                            <div class="lost-pets-frame2608750">
                                <div class="lost-pets-logo1">
                                    <div class="lost-pets-group1">
                                        <img src="./assets/public/playground_assets/temporarylogoi475-3i5-200h.png"
                                            alt="TemporaryLogoI475" class="lost-pets-temporary-logo1" />
                                    </div>
                                    <img src="./assets/public/playground_assets/li475-299h.svg" alt="LI475"
                                        class="lost-pets-l1" />
                                    <img src="./assets/public/playground_assets/gi475-h3ej.svg" alt="GI475"
                                        class="lost-pets-g1" />
                                    <img src="./assets/public/playground_assets/oi475-k3zo.svg" alt="OI475"
                                        class="lost-pets-o1" />
                                </div>
                                <div class="lost-pets-frame2608749">
                                    <div class="lost-pets-akariconsfacebookfill">
                                        <div class="lost-pets-group2">
                                            <div class="lost-pets-group3"></div>
                                        </div>
                                    </div>
                                    <div class="lost-pets-akariconsyoutubefill">
                                        <div class="lost-pets-group4">
                                            <div class="lost-pets-group5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lost-pets-frame26087481">
                                <div class="lost-pets-frame2608742">
                                    <span class="lost-pets-text021 TradeGothicBoldH6">
                                        <span>Our Destinations</span>
                                    </span>
                                    <div class="lost-pets-frame2608776">
                                        <span class="lost-pets-text023 MontserratRegularSmallText">
                                            <span>Canada</span>
                                        </span>
                                        <span class="lost-pets-text025 MontserratRegularSmallText">
                                            <span>Alaksa</span>
                                        </span>
                                        <span class="lost-pets-text027 MontserratRegularSmallText">
                                            <span>France</span>
                                        </span>
                                        <span class="lost-pets-text029 MontserratMedium14px">
                                            <span>Iceland</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="lost-pets-frame2608744">
                                    <span class="lost-pets-text031 TradeGothicBoldH6">
                                        <span>Our Activities</span>
                                    </span>
                                    <div class="lost-pets-frame2608777">
                                        <span class="lost-pets-text033 MontserratRegularSmallText">
                                            <span>Northern Lights</span>
                                        </span>
                                        <span class="lost-pets-text035 MontserratRegularSmallText">
                                            <span>Cruising &amp; sailing</span>
                                        </span>
                                        <span class="lost-pets-text037 MontserratRegularSmallText">
                                            <span>Multi-activities</span>
                                        </span>
                                        <span class="lost-pets-text039 MontserratRegularSmallText">
                                            <span>Kayaing</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="lost-pets-frame26087471">
                                    <span class="lost-pets-text041 TradeGothicBoldH6">
                                        <span>Travel Blogs</span>
                                    </span>
                                    <div class="lost-pets-frame2608778">
                                        <span class="lost-pets-text043 MontserratRegularSmallText">
                                            <span>Bali Travel Guide</span>
                                        </span>
                                        <span class="lost-pets-text045 MontserratRegularSmallText">
                                            <span>Sri Lanks Travel Guide</span>
                                        </span>
                                        <span class="lost-pets-text047 MontserratRegularSmallText">
                                            <span>Peru Travel Guide</span>
                                        </span>
                                        <span class="lost-pets-text049 MontserratRegularSmallText">
                                            <span>Bali Travel Guide</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="lost-pets-frame2608745">
                                    <span class="lost-pets-text051 TradeGothicBoldH6">
                                        <span>About Us</span>
                                    </span>
                                    <div class="lost-pets-frame2608779">
                                        <span class="lost-pets-text053 MontserratRegularSmallText">
                                            <span>Our Story</span>
                                        </span>
                                        <span class="lost-pets-text055 MontserratRegularSmallText">
                                            <span>Work with us</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="lost-pets-frame2608746">
                                    <span class="lost-pets-text057 TradeGothicBoldH6">
                                        <span>Contact Us</span>
                                    </span>
                                    <div class="lost-pets-frame2608780">
                                        <span class="lost-pets-text059 MontserratRegularSmallText">
                                            <span>Our Story</span>
                                        </span>
                                        <span class="lost-pets-text061 MontserratRegularSmallText">
                                            <span>Work with us</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lost-pets-copyrightfootnote">
                        <span class="lost-pets-text063 MontserratRegularSmallerText">
                            <span>
                                Copyright © 2023 All Rights Reserved. In association with
                                IamThehackerman.com
                            </span>
                        </span>
                    </div>
                </div>


       



                <div class="lost-pets-group12">

 


                    <div class="lost-pets-frame256">
                        <div class="lost-pets-frame245">
                            <div class="lost-pets-frame240">
                                <div class="lost-pets-frame232">
                                   
                                        
                                            <img *ngIf="imageUrl" [src]="imageUrl" alt="Image"  class="lost-pets-ellipse11">
                                            <img *ngIf="!imageUrl"
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5nRbIObRQkMacJ9ORydgR3yfqFffAMVlzRQHG6JY&s"
                                                alt="Image"  class="lost-pets-ellipse11">
                                        
                                       
                                    <div class="lost-pets-frame231">
                                        <span class="lost-pets-text065 MontserratSemibold24px">
                                            <span>{{this.eeee}}</span>
                                        </span>
                                        <span class="lost-pets-text067 MontserratRegular16px">
                                            <span>{{this.eee}}</span>
                                        </span>
                                    </div>
                                  
                                </div>
                            </div>
                            <div class="lost-pets-frame71">
                                <span class="lost-pets-text069 MontserratSemibold16px">
                                    <span>I’ve Lost a Pet</span>
                                </span>
                               
                                <span class="lost-pets-text071 MontserratSemibold16px">
                                    <span>I’ve Found a Pet</span>
                                </span>
                               



<a href="Account/favorite-Pet">
    <div class="lost-pets-text071 MontserratSemibold16px">
        <div class="found-pets-frame30">
            <img src="./assets/public/playground_assets/hearti475-h2n.svg" alt="heartI475" class="found-pets-heart" />
            
              Favourites 
           
        </div>
        
    </div>

</a>


                            </div>
                        </div>
                       
<br>
                            <!-- <div class="login-button" *ngIf="isSuccessful">
                                <h2 style="color: red; text-align: center;">add is successful!
                              
                                </h2> <a href="/">Go to home!</a>
                            
                            </div> -->
                    </div>
<form  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate enctype="multipart/form-data" >
                <div class="lost-pets-frame244">
                        <span class="lost-pets-text073 TradeGothicBold32px">
                            <span>Please Fill Out Form Below</span>
                        </span>
                        <div class="lost-pets-frame38">
                            <div class="lost-pets-heading">
                                <div class="lost-pets-frame246">
                                    <span class="lost-pets-text075 MontserratRegularH5">
                                        <span>Pet Information</span>
                                    </span>
                                </div>
                            </div>


                            <div class="lost-pets-form-input">
                                <div class="lost-pets-frame2461">


                                    <div class="lost-pets-textfield02">
                                        <div class="lost-pets-textfield03">
                                            <div class="lost-pets-statelayer01">
                                                <div class="lost-pets-content01">
                                                    <div class="lost-pets-placeholdertext">
                                                        <span class="lost-pets-text077 Regular16px">
                                                            <span>Your Pet’s Name</span>
                                                        </span>
                                                    </div>
                                                    <div class="lost-pets-labeltext01">
                                                       
                                                             
                                                            <input   type="text" placeholder="Pet Name" class="account-edit-profile-inputtext" autocomplete="name"
                                                                name="name" [(ngModel)]="form.name" required minlength="3" maxlength="20" #name="ngModel" />
                                                        
                                                    </div>
                                                </div>
                                                <div class="lost-pets-trailingicon">
                                                    <img src="./assets/public/playground_assets/microphonei476-r8mi.svg"
                                                        alt="microphoneI476" class="lost-pets-microphone" />
                                                </div>
                                            </div>
                                        </div>
                                        <div style="color: red;" class="alert-danger" *ngIf="name.errors && f.submitted">
                                            <div *ngIf="name.errors?.['required']">name is required</div>
                                            <div *ngIf="name.errors?.['minlength']">
                                            name must be at least 3 characters
                                            </div>
                                            <div *ngIf="name.errors?.['maxlength']">
                                            name must be at most 20 characters
                                            </div>
                                        </div>
                                    </div>







                                    <div class="lost-pets-textfield04">
                                        <div class="lost-pets-textfield05">
                                            <div class="lost-pets-statelayer02">
                                                <div class="lost-pets-content02">
                                                    <span class="lost-pets-text095 Regular16px">
                                                        <span>Choose One</span>
                                                    </span>
                                                    <div class="lost-pets-labeltext02">
                                                         
                                                            <input type="text" placeholder="Species" class="account-edit-profile-inputtext" autocomplete="species"
                                                                name="species" [(ngModel)]="form.species" required minlength="3" maxlength="20" #species="ngModel" />
 
                                                  </div>
                                                </div>
                                                <div class="lost-pets-trailingicon01">
                                                    <img src="./assets/public/playground_assets/chevrondowni476-dy9j.svg"
                                                        alt="chevrondownI476" class="lost-pets-chevrondown" />
                                                </div>
                                            </div>
                                        </div>
                                        <div style="color: red;" class="alert-danger" *ngIf="species.errors && f.submitted">
                                            <div *ngIf="species.errors?.['required']">species is required</div>
                                            <div *ngIf="species.errors?.['minlength']">
                                                species must be at least 3 characters
                                            </div>
                                            <div *ngIf="species.errors?.['maxlength']">
                                                species must be at most 20 characters
                                            </div>
                                        </div>
                                    </div>




                                    
                                </div>
                            </div>

                            <div class="lost-pets-form-input1">
                                <div class="lost-pets-frame2462">


                                    <div class="lost-pets-textfield06">
                                        <div class="lost-pets-textfield07">
                                            <div class="lost-pets-statelayer03">
                                                <div class="lost-pets-content03">
                                                    <div class="lost-pets-placeholdertext1">
                                                        <span class="lost-pets-text083 Regular16px">
                                                            <span>Your Pet’s Breed</span>
                                                        </span>
                                                    </div>
                                                    <div class="lost-pets-labeltext03">
                                                      
                                                            <input type="text" placeholder="Breed" class="account-edit-profile-inputtext" autocomplete="bred"
                                                                name="bred" [(ngModel)]="form.bred" required minlength="3" maxlength="20" #bred="ngModel" />
                                                        
                                                    </div>
                                                </div>
                                                <div class="lost-pets-trailingicon02">
                                                    <img src="./assets/public/playground_assets/microphonei476-snn8.svg"
                                                        alt="microphoneI476" class="lost-pets-microphone1" />
                                                </div>
                                            </div>
                                        </div>

                                        <div style="color: red;" class="alert-danger" *ngIf="bred.errors && f.submitted">
                                            <div *ngIf="bred.errors?.['required']">bred is required</div>
                                            <div *ngIf="bred.errors?.['minlength']">
                                                bred must be at least 3 characters
                                            </div>
                                            <div *ngIf="bred.errors?.['maxlength']">
                                                bred must be at most 20 characters
                                            </div>
                                        </div>
                                    </div>






                                    <div class="lost-pets-textfield08">
                                        <div class="lost-pets-textfield09">
                                            <div class="lost-pets-statelayer04">
                                                <div class="lost-pets-content04">
                                                    <span class="lost-pets-text095 Regular16px">
                                                        <span>Choose One</span>
                                                    </span>
                                                    <div class="lost-pets-labeltext04">
                                                        
                                                            <input type="text" placeholder="Colour" class="account-edit-profile-inputtext" autocomplete="couleur" name="couleur"
                                                                [(ngModel)]="form.couleur" required minlength="3" maxlength="20" #couleur="ngModel" />
                                                        
                                                    </div>
                                                </div>
                                                <div class="lost-pets-trailingicon03">
                                                    <img src="./assets/public/playground_assets/chevrondowni476-20im.svg"
                                                        alt="chevrondownI476" class="lost-pets-chevrondown1" />
                                                </div>
                                            </div>
                                        </div>
                                        <div style="color: red;" class="alert-danger" *ngIf="couleur.errors && f.submitted">
                                            <div *ngIf="couleur.errors?.['required']">couleur is required</div>
                                           
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="lost-pets-form-input2">


                                <div class="lost-pets-frame2463">

                                    <div class="lost-pets-textfield10">
                                        <div class="lost-pets-textfield11">
                                            <div class="lost-pets-statelayer05">
                                                <div class="lost-pets-content05">
                                                    <div class="lost-pets-placeholdertext2">
                                                        <span class="lost-pets-text089 Regular16px">
                                                            <span>Your Pet’s Size</span>
                                                        </span>
                                                    </div>
                                                    <div class="lost-pets-labeltext05">
                                                       
                                                            <input type="text" placeholder="Size" class="account-edit-profile-inputtext" autocomplete="size" name="size"
                                                                [(ngModel)]="form.size" required minlength="3" maxlength="20" #size="ngModel" />
                                                        
                                                    </div>
                                                </div>
                                                <div class="lost-pets-trailingicon04">
                                                    <img src="./assets/public/playground_assets/microphonei476-nys.svg"
                                                        alt="microphoneI476" class="lost-pets-microphone2" />
                                                </div>
                                            </div>
                                        </div>

                                        <div style="color: red;" class="alert-danger" *ngIf="size.errors && f.submitted">
                                            <div *ngIf="size.errors?.['required']">size is required</div>
                                        
                                        </div>
                                    </div>
                                    <div class="lost-pets-textfield12">
                                        <div class="lost-pets-textfield13">
                                            <div class="lost-pets-statelayer06">
                                                <div class="lost-pets-content06">
                                                    <span class="lost-pets-text095 Regular16px">
                                                        <span>Choose One</span>
                                                    </span>
                                                    <div class="lost-pets-labeltext06">
                                                       
                                               <input type="text" placeholder="Gender" class="account-edit-profile-inputtext" autocomplete="gender" name="gender"
                                                                [(ngModel)]="form.gender" required minlength="3" maxlength="20" #gender="ngModel" />
                                                       
                                                    </div>
                                                </div>
                                                <div class="lost-pets-trailingicon05">
                                                    <img src="./assets/public/playground_assets/chevrondowni476-j7p6.svg"
                                                        alt="chevrondownI476" class="lost-pets-chevrondown2" />
                                                </div>
                                            </div>
                                        </div>
                                        <div style="color: red;" class="alert-danger" *ngIf="gender.errors && f.submitted">
                                            <div *ngIf="gender.errors?.['required']">gender is required</div>
                                        
                                        </div>
                                    </div>
                                </div>




                            </div>
                            <div class="lost-pets-form-input3">
                                <div class="lost-pets-frame2464">

                                    <div class="lost-pets-textfield14">
                                        <div class="lost-pets-textfield15">
                                            <div class="lost-pets-statelayer07">
                                                <div class="lost-pets-content07">
                                                    <div class="lost-pets-placeholdertext3">
                                                        <span class="lost-pets-text095 Regular16px">
                                                            <span>Your Pet’s Age</span>
                                                        </span>
                                                    </div>
                                                    <div class="lost-pets-labeltext07">
                                                      
                                                            <input type="number" min="1"   placeholder="Age" class="account-edit-profile-inputtext" autocomplete="age" name="age"
                                                                [(ngModel)]="form.age" required minlength="3" maxlength="20" #age="ngModel" />
                                                 
                                                    </div>
                                                </div>
                                                <div class="lost-pets-trailingicon06">
                                                    <img src="./assets/public/playground_assets/microphonei476-tr5n.svg"
                                                        alt="microphoneI476" class="lost-pets-microphone3" />
                                                </div>
                                            </div>
                                        </div>
                                        <div style="color: red;" class="alert-danger" *ngIf="age.errors && f.submitted">
                                            <div *ngIf="age.errors?.['required']">age is required</div>
                                        
                                        </div>
                                    </div>

                                    <div class="lost-pets-textfield16">
                                        <div class="lost-pets-textfield17">
                                            <div class="lost-pets-statelayer08">
                                                <div class="lost-pets-content08">
                                               
                                                        <span class="lost-pets-text095 Regular16px">
                                                            <span>Choose One</span>
                                                        </span>
                                                    <div class="lost-pets-labeltext08">
                                                         
                                                            <input type="text" placeholder="Distinct Markings" class="account-edit-profile-inputtext" autocomplete="distmarkings" name="distmarkings"
                                                                [(ngModel)]="form.distmarkings" required minlength="3" maxlength="20" #distmarkings="ngModel" />
                                                        
                                                    </div>
                                                </div>
                                                <div class="lost-pets-trailingicon07">
                                                    <img src="./assets/public/playground_assets/microphonei476-6w8b.svg"
                                                        alt="microphoneI476" class="lost-pets-microphone4" />
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div style="color: red;" class="alert-danger" *ngIf="distmarkings.errors && f.submitted">
                                            <div *ngIf="age.errors?.['required']">distinct markings is required</div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lost-pets-form-input4">
                                <div class="lost-pets-frame2465">
                                    <div class="lost-pets-textfield18">
                                        <div class="lost-pets-textfield19">
                                            <div class="lost-pets-statelayer09">
                                                <div class="lost-pets-content09">
                                                    <div class="lost-pets-placeholdertext4">
                                                        <span class="lost-pets-text101 Regular16px">
                                                            <span>Tell us about your pet</span>
                                                        </span>
                                                    </div>
                                                    <div class="lost-pets-labeltext09">
                                                        
                                                            <!-- <input type="text" placeholder="Description" class="account-edit-profile-inputtext" autocomplete="descri"
                                                                name="descri" [(ngModel)]="form.descri" required minlength="3"   #descri="ngModel" /> -->
                                                       

 <textarea rows="" cols="" autocomplete="descri"
        name="descri" [(ngModel)]="form.descri" required minlength="3"   #descri="ngModel" ></textarea>


                                                    </div>
                                                </div>
                                                <div class="lost-pets-trailingicon08">
                                                    <img src="./assets/public/playground_assets/microphonei476-mr9.svg"
                                                        alt="microphoneI476" class="lost-pets-microphone5" />
                                                </div>
                                            </div>
                                        </div>
                                        <div style="color: red;" class="alert-danger" *ngIf="descri.errors && f.submitted">
                                            <div *ngIf="descri.errors?.['required']">Description markings is required</div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lost-pets-image">
                                <div class="lost-pets-frame2466">
                                    <span class="lost-pets-text105 MontserratRegularH5">
                                        <span>Image</span>
                                    </span>
                            <input type="file" (change)="onFileimage($event)" name="image">
                            <p *ngIf="!selectedImagepet" style="color: red;">{{this.msgi}}</p>
                                    <span class="lost-pets-text107 MontserratRegularSmallerText">
                                        <span>Max File Number 5 Mb</span>
                                    </span>
                                </div>
                            </div>
                            <div class="lost-pets-heading1">
                                <div class="lost-pets-frame2467">
                                    <span class="lost-pets-text109 MontserratRegularH5">
                                        <span>Pet Information</span>
                                    </span>
                                </div>
                            </div>
                            <div class="lost-pets-form-input5">
                                <div class="lost-pets-frame2468">
                                    <div class="lost-pets-textfield20">
                                        <div class="lost-pets-textfield21">
                                            <div class="lost-pets-statelayer10">
                                                <div class="lost-pets-content10">
                                                    <div class="lost-pets-placeholdertext5">
                                                        <span class="lost-pets-text111 Regular16px">
                                                            <span>Select Date</span>
                                                        </span>
                                                    </div>
                                                    <div class="lost-pets-labeltext10">
                                                         
                                                            <input type="datetime-local" placeholder="Date Lost" class="account-edit-profile-inputtext" autocomplete="datelost"
                                                                name="datelost" [(ngModel)]="form.datelost" required minlength="3" maxlength="20" #datelost="ngModel" />
                                                      
                                                    </div>
                                                </div>
                                                <div class="lost-pets-trailingicon09">
                                                    <img src="./assets/public/playground_assets/calendari476-d5a.svg"
                                                        alt="calendarI476" class="lost-pets-calendar" />
                                                </div>
                                            </div>
                                        </div>
                                        <div style="color: red;" class="alert-danger" *ngIf="datelost.errors && f.submitted">
                                            <div *ngIf="datelost.errors?.['required']">Date is required</div>
                                        
                                        </div>
                                    </div>
                                    <div class="lost-pets-textfield22">
                                        <div class="lost-pets-textfield23">
                                            <div class="lost-pets-statelayer11">
                                                <div class="lost-pets-content11">
                                                    <span>Type an Address</span>
                                                    <div class="lost-pets-labeltext11">
                                                      
                                                            <input type="text" placeholder="Last Known Location" class="account-edit-profile-inputtext" autocomplete="addrs"
                                                                name="addrs" [(ngModel)]="form.addrs" required minlength="3" maxlength="20" #addrs="ngModel" />
                                                     
                                                    </div>
                                                </div>
                                                <div class="lost-pets-trailingicon10">
                                                    <img src="./assets/public/playground_assets/locationi476-df6.svg"
                                                        alt="LocationI476" class="lost-pets-location" />
                                                </div>
                                            </div>
                                        </div>
                                        <div style="color: red;" class="alert-danger" *ngIf="addrs.errors && f.submitted">
                                            <div *ngIf="addrs.errors?.['required']">Address is required</div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                            Update failed!<br />{{ errorMessage }}
                        </div>

                        <div class="login-button" *ngIf="isSuccessful">
                            <h2 style="color: red; text-align: center;">add is successful!
                        
                            </h2> <a href="/">Go to home!</a>
                        
                        </div>
                                <div class="lost-pets-stylelayer2">
                                    <span class="lost-pets-text117 MontserratMedium14px">
                                        <button   style="color: white;">Submit</button>
                                    </span>
                                </div>
                            
                        </div>

                    </div>
</form>






                </div>
              
            </div>
        </div>
    </div>
</body>

</html>