<!DOCTYPE html>
<html lang="english">

<head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p,
        li,
        ul,
        pre,
        div,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        figure,
        blockquote,
        figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button,
        select {
            text-transform: none;
        }

        /* button,
        [type="button"],
        [type="reset"],
        [type="submit"] {
            -webkit-appearance: button;
        } */

        button::-moz-focus-inner,
        [type="button"]::-moz-focus-inner,
        [type="reset"]::-moz-focus-inner,
        [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        button:-moz-focus,
        [type="button"]:-moz-focus,
        [type="reset"]:-moz-focus,
        [type="submit"]:-moz-focus {
            outline: 1px dotted ButtonText;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);

        }
    </style>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <div>

        <div class="shelter-single-page-container">
            <div class="shelter-single-page-shelter-single-page">
                <div class="shelter-single-page-group10">
                    <div class="shelter-single-page-header-default">
                        <div class="shelter-single-page-frame22">
                            <div class="shelter-single-page-frame20">
                                <img alt="ExploreI473" src="./assets/public/playground_assets/explorei473-rdxg.svg"
                                    class="shelter-single-page-explore" />
                                <span class="shelter-single-page-text MontserratSemibold14px">
                                    <span>I’ve Lost Pets</span>
                                </span>
                            </div>
                            <div class="shelter-single-page-frame21">
                                <img alt="materialsymbolssearchroundedI473"
                                    src="./assets/public/playground_assets/materialsymbolssearchroundedi473-dht.svg"
                                    class="shelter-single-page-materialsymbolssearchrounded" />
                                <span class="shelter-single-page-text002 MontserratSemibold14px">
                                    <span>I’ve Found Pets</span>
                                </span>
                            </div>
                        </div>
                        <div class="shelter-single-page-logo">
                            <div class="shelter-single-page-group">
                                <img alt="TemporaryLogoI473"
                                    src="./assets/public/playground_assets/temporarylogoi473-etp-200h.png"
                                    class="shelter-single-page-temporary-logo" />
                            </div>
                            <img alt="LI473" src="./assets/public/playground_assets/li473-lv1c.svg"
                                class="shelter-single-page-l" />
                            <img alt="GI473" src="./assets/public/playground_assets/gi473-smae.svg"
                                class="shelter-single-page-g" />
                            <img alt="OI473" src="./assets/public/playground_assets/oi473-4dtu.svg"
                                class="shelter-single-page-o" />
                        </div>
                        <div class="shelter-single-page-frame24">
                            <span class="shelter-single-page-text004 MontserratSemibold14px">
                                <span>Breeds</span>
                            </span>
                            <span class="shelter-single-page-text006 MontserratSemibold14px">
                                <span>Search Pets</span>
                            </span>
                            <span class="shelter-single-page-text008 MontserratSemibold14px">
                                <span>Login</span>
                            </span>
                            <button class="shelter-single-page-patientbutton">
                                <div class="shelter-single-page-statelayer">
                                    <span class="shelter-single-page-text010 MontserratSemibold14px">
                                        <span>Sign up</span>
                                    </span>
                                </div>
                            </button>
                        </div>
                        <img alt="Rectangle5I473" src="./assets/public/playground_assets/rectangle5i473-2h1-200h.png"
                            class="shelter-single-page-rectangle5" />
                    </div>
                    <div class="shelter-single-page-frame10">
                        <div class="shelter-single-page-breadcrumb">
                            <span class="shelter-single-page-text012 MontserratMedium14px">
                                <span>Home</span>
                            </span>
                            <img alt="chevronforward4737"
                                src="./assets/public/playground_assets/chevronforward4737-gqgd.svg"
                                class="shelter-single-page-chevronforward" />
                            <span class="shelter-single-page-text014 MontserratMedium14px">
                                <span>Shelter</span>
                            </span>
                            <img alt="chevronforward4737"
                                src="./assets/public/playground_assets/chevronforward4737-za1m.svg"
                                class="shelter-single-page-chevronforward1" />
                            <span class="shelter-single-page-text016 MontserratMedium14px">
                                <span>Malarusi Petcare</span>
                            </span>
                        </div>
                        <div class="shelter-single-page-group7">
                            <div>
                                <img alt="Background4739"
                                    src="./assets/public/playground_assets/background4739-e76a-1400w.png"
                                    class="shelter-single-page-background" />
                                <!--    <img
                    alt="Rectangle324739"
                    src="./assets/public/playground_assets/rectangle324739-y6x8-1400w.png"
                    class="shelter-single-page-rectangle32"
                  /> -->
                                <div class="shelter-single-page-frame2608753">
                                    <div class="shelter-single-page-frame2608752">
                                        <img alt="Rectangle434739"
                                            src="./assets/public/playground_assets/rectangle434739-djgo-200w.png"
                                            class="shelter-single-page-rectangle43" />
                                        <span class="shelter-single-page-text018">
                                            <span>MALARUSI PETCARE</span>
                                        </span>
                                    </div>
                                    <span class="shelter-single-page-text020 MontserratSemibold20px">
                                        <span>Providing love and care to every paw in need.</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shelter-single-page-frame149">
                    <img alt="Rectangle44737" src="./assets/public/playground_assets/rectangle44737-3zwm-200h.png"
                        class="shelter-single-page-rectangle4" />
                    <div class="shelter-single-page-frame147">
                        <div class="shelter-single-page-frame146">
                            <span class="shelter-single-page-text022 TradeGothicBoldH5">
                                <span>About Us</span>
                            </span>
                            <span class="shelter-single-page-text024 MontserratMedium16px">
                                <span>
                                    we are dedicated to improving the lives of abandoned and
                                    homeless animals. Our team of passionate animal lovers works
                                    tirelessly to provide a safe and nurturing environment for
                                    each and every pet in our care. From medical attention and
                                    behavioral rehabilitation, to finding loving forever homes,
                                    we are committed to giving all pets the second chance they
                                    deserve. We believe in creating a better world, one paw at a
                                    time.
                                </span>
                            </span>
                        </div>
                    </div>
                    <img alt="Rectangle54737" src="./assets/public/playground_assets/rectangle54737-kzal-200h.png"
                        class="shelter-single-page-rectangle51" />
                    <div class="shelter-single-page-frame165">
                        <span class="shelter-single-page-text026 TradeGothicBoldH5">
                            <span>Information</span>
                        </span>
                        <div class="shelter-single-page-icons">
                            <div class="shelter-single-page-frame167">
                                <div class="shelter-single-page-frame164">
                                    <div class="shelter-single-page-breeds">
                                        <img alt="Location4737"
                                            src="./assets/public/playground_assets/location4737-r2o.svg"
                                            class="shelter-single-page-location" />
                                        <span class="shelter-single-page-text028 MontserratMedium14px">
                                            <span>Opoczyńska 2, 26-411 Rusinów, Polandia</span>
                                        </span>
                                    </div>
                                    <div class="shelter-single-page-breeds1">
                                        <img alt="call4739" src="./assets/public/playground_assets/call4739-4uz.svg"
                                            class="shelter-single-page-call" />
                                        <span class="shelter-single-page-text030 MontserratRegularSmallText">
                                            <span>+48602232136</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="shelter-single-page-frame168">
                                <div class="shelter-single-page-frame1641">
                                    <div class="shelter-single-page-breeds2">
                                        <img alt="Mail4739" src="./assets/public/playground_assets/mail4739-dx1k.svg"
                                            class="shelter-single-page-mail" />
                                        <span class="shelter-single-page-text032">
                                            <span>admin@malacrusinow.pl</span>
                                        </span>
                                    </div>
                                    <div class="shelter-single-page-breeds3">
                                        <img alt="Component654739"
                                            src="./assets/public/playground_assets/component654739-o1xd.svg"
                                            class="shelter-single-page-component65" />
                                        <span class="shelter-single-page-text034">
                                            <span>Malacrusinow.pl</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img alt="Rectangle64737" src="./assets/public/playground_assets/rectangle64737-utin-200h.png"
                        class="shelter-single-page-rectangle6" />
                    <div class="shelter-single-page-recently-uploaded-pets">
                        <div class="shelter-single-page-frame12">
                            <div class="shelter-single-page-group11">
                                <div class="shelter-single-page-pet-list">
                                    <img alt="Rectangle37I473"
                                        src="./assets/public/playground_assets/rectangle37i473-f938-400w.png"
                                        class="shelter-single-page-rectangle37" />
                                    <div class="shelter-single-page-frame2608764">
                                        <img alt="PetImageI473"
                                            src="./assets/public/playground_assets/petimagei473-j7ck-200h.png"
                                            class="shelter-single-page-pet-image" />
                                        <div class="shelter-single-page-frame2608763">
                                            <div class="shelter-single-page-frame2608756">
                                                <span class="shelter-single-page-text036 TradeGothicBoldH4">
                                                    <span>Jackie</span>
                                                </span>
                                                <div class="shelter-single-page-frame2608757">
                                                    <span class="shelter-single-page-text038 MontserratMedium14px">
                                                        <span>
                                                            Cursus malesuada maecenas magna et eget.
                                                            Lobortis tellus aliquet posuere amet dignissim
                                                            nulla ultrices. Aliquam commodo ultricies
                                                            aliquam sit egestas justo pulvinar lacus.
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="shelter-single-page-frame2608762">
                                                <div class="shelter-single-page-frame2608759">
                                                    <div class="shelter-single-page-frame2608761">
                                                        <span class="shelter-single-page-text040 TradeGothicBold14px">
                                                            <span>German Shepherd</span>
                                                        </span>
                                                        <span class="shelter-single-page-text042 MontserratMedium12px">
                                                            <span>Female – Young</span>
                                                        </span>
                                                    </div>
                                                    <div class="shelter-single-page-organization-logoand-name">
                                                        <img alt="arcticonspetrocanadaI473"
                                                            src="./assets/public/playground_assets/arcticonspetrocanadai473-a3e.svg"
                                                            class="shelter-single-page-arcticonspetrocanada" />
                                                        <span class="shelter-single-page-text044 TradeGothicBold12px">
                                                            <span>Petro</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="shelter-single-page-text046 TradeGothicBold14px">
                                                    <span>See Detail</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="shelter-single-page-pet-list1">
                                    <img alt="Rectangle37I473"
                                        src="./assets/public/playground_assets/rectangle37i473-la-400w.png"
                                        class="shelter-single-page-rectangle371" />
                                    <div class="shelter-single-page-frame26087641">
                                        <img alt="PetImageI473"
                                            src="./assets/public/playground_assets/petimagei473-rok-200h.png"
                                            class="shelter-single-page-pet-image1" />
                                        <div class="shelter-single-page-frame26087631">
                                            <div class="shelter-single-page-frame26087561">
                                                <span class="shelter-single-page-text048 TradeGothicBoldH4">
                                                    <span>Chris</span>
                                                </span>
                                                <div class="shelter-single-page-frame26087571">
                                                    <span class="shelter-single-page-text050 MontserratMedium14px">
                                                        <span>
                                                            Cursus malesuada maecenas magna et eget.
                                                            Lobortis tellus aliquet posuere amet dignissim
                                                            nulla ultrices. Aliquam commodo ultricies
                                                            aliquam sit egestas justo pulvinar lacus.
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="shelter-single-page-frame26087621">
                                                <div class="shelter-single-page-frame26087591">
                                                    <div class="shelter-single-page-frame26087611">
                                                        <span class="shelter-single-page-text052 TradeGothicBold14px">
                                                            <span>Bulldog</span>
                                                        </span>
                                                        <span class="shelter-single-page-text054 MontserratMedium12px">
                                                            <span>Female – Young</span>
                                                        </span>
                                                    </div>
                                                    <div class="shelter-single-page-organization-logoand-name1">
                                                        <img alt="arcticonspetrocanadaI473"
                                                            src="./assets/public/playground_assets/arcticonspetrocanadai473-lupp.svg"
                                                            class="shelter-single-page-arcticonspetrocanada1" />
                                                        <span class="shelter-single-page-text056 TradeGothicBold12px">
                                                            <span>Petro</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="shelter-single-page-text058 TradeGothicBold14px">
                                                    <span>See Detail</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="shelter-single-page-pet-list2">
                                    <img alt="Rectangle37I473"
                                        src="./assets/public/playground_assets/rectangle37i473-jr1-400w.png"
                                        class="shelter-single-page-rectangle372" />
                                    <div class="shelter-single-page-frame26087642">
                                        <img alt="PetImageI473"
                                            src="./assets/public/playground_assets/petimagei473-458t-200h.png"
                                            class="shelter-single-page-pet-image2" />
                                        <div class="shelter-single-page-frame26087632">
                                            <div class="shelter-single-page-frame26087562">
                                                <span class="shelter-single-page-text060 TradeGothicBoldH4">
                                                    <span>Manilla</span>
                                                </span>
                                                <div class="shelter-single-page-frame26087572">
                                                    <span class="shelter-single-page-text062 MontserratMedium14px">
                                                        <span>
                                                            Cursus malesuada maecenas magna et eget.
                                                            Lobortis tellus aliquet posuere amet dignissim
                                                            nulla ultrices. Aliquam commodo ultricies
                                                            aliquam sit egestas justo pulvinar lacus.
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="shelter-single-page-frame26087622">
                                                <div class="shelter-single-page-frame26087592">
                                                    <div class="shelter-single-page-frame26087612">
                                                        <span class="shelter-single-page-text064 TradeGothicBold14px">
                                                            <span>Shiba Inu</span>
                                                        </span>
                                                        <span class="shelter-single-page-text066 MontserratMedium12px">
                                                            <span>Male – Young</span>
                                                        </span>
                                                    </div>
                                                    <div class="shelter-single-page-organization-logoand-name2">
                                                        <img alt="arcticonspetrocanadaI473"
                                                            src="./assets/public/playground_assets/arcticonspetrocanadai473-dli.svg"
                                                            class="shelter-single-page-arcticonspetrocanada2" />
                                                        <span class="shelter-single-page-text068 TradeGothicBold12px">
                                                            <span>Petro</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="shelter-single-page-text070 TradeGothicBold14px">
                                                    <span>See Detail</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="shelter-single-page-button">
                                <div class="shelter-single-page-stylelayer">
                                    <span class="shelter-single-page-text072 MontserratMedium14px">
                                        <span>Show More</span>
                                    </span>
                                </div>
                            </button>
                        </div>
                        <div class="shelter-single-page-heading">
                            <div class="shelter-single-page-frame47">
                                <div class="shelter-single-page-frame19">
                                    <span class="shelter-single-page-text074 TradeGothicBoldH5">
                                        <span>Pets From This Shelter</span>
                                    </span>
                                    <span class="shelter-single-page-text076 MontserratRegularBody">
                                        <span>
                                            Our team of passionate animal lovers works tirelessly to
                                            provide a safe and nurturing environment for each and
                                            every pet in our care.
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shelter-single-page-footer">
                    <div class="shelter-single-page-frame2608782">
                        <div class="shelter-single-page-frame2608747">
                            <div class="shelter-single-page-frame2608743">
                                <span class="shelter-single-page-text078 TradeGothicBoldH1">
                                    <span>Subscribe Newsletter</span>
                                </span>
                                <div class="shelter-single-page-frame2608755">
                                    <div class="shelter-single-page-frame26087431">
                                        <span class="shelter-single-page-text080 MontserratRegularH5">
                                            <span>Join Our Community</span>
                                        </span>
                                        <span class="shelter-single-page-text082 MontserratRegularBody">
                                            <span>
                                                Be the First to Know About New Adoptable Pets and
                                                Receive Our Monthly Newsletter. Subscribe Now!
                                            </span>
                                        </span>
                                    </div>
                                    <div class="shelter-single-page-frame2608741">
                                        <div class="shelter-single-page-textfield">
                                            <div class="shelter-single-page-textfield1">
                                                <div class="shelter-single-page-statelayer1">
                                                    <div class="shelter-single-page-content">
                                                        <div class="shelter-single-page-labeltext">
                                                            <span
                                                                class="shelter-single-page-text084 MontserratRegularBody">
                                                                <span>Your email address</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="shelter-single-page-button1">
                                            <div class="shelter-single-page-stylelayer1">
                                                <span class="shelter-single-page-text086 MontserratMedium14px">
                                                    <span>Subscribe</span>
                                                </span>
                                            </div>
                                        </button>
                                        <button class="shelter-single-page-button2"></button>
                                    </div>
                                </div>
                            </div>
                            <img alt="emojionev1openmailboxwithloweredflagI473"
                                src="./assets/public/playground_assets/emojionev1openmailboxwithloweredflagi473-e28d.svg"
                                class="shelter-single-page-emojionev1openmailboxwithloweredflag" />
                        </div>
                        <div class="shelter-single-page-frame2608748">
                            <div class="shelter-single-page-frame2608750">
                                <div class="shelter-single-page-logo1">
                                    <div class="shelter-single-page-group1">
                                        <img alt="TemporaryLogoI473"
                                            src="./assets/public/playground_assets/temporarylogoi473-tw3f-200h.png"
                                            class="shelter-single-page-temporary-logo1" />
                                    </div>
                                    <img alt="LI473" src="./assets/public/playground_assets/li473-7cka.svg"
                                        class="shelter-single-page-l1" />
                                    <img alt="GI473" src="./assets/public/playground_assets/gi473-3sq.svg"
                                        class="shelter-single-page-g1" />
                                    <img alt="OI473" src="./assets/public/playground_assets/oi473-kof6.svg"
                                        class="shelter-single-page-o1" />
                                </div>
                                <div class="shelter-single-page-frame2608749">
                                    <div class="shelter-single-page-akariconsfacebookfill">
                                        <div class="shelter-single-page-group2">
                                            <div class="shelter-single-page-group3"></div>
                                        </div>
                                    </div>
                                    <div class="shelter-single-page-akariconsyoutubefill">
                                        <div class="shelter-single-page-group4">
                                            <div class="shelter-single-page-group5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shelter-single-page-frame26087481">
                                <div class="shelter-single-page-frame2608742">
                                    <span class="shelter-single-page-text088 TradeGothicBoldH6">
                                        <span>Our Destinations</span>
                                    </span>
                                    <div class="shelter-single-page-frame2608776">
                                        <span class="shelter-single-page-text090 MontserratRegularSmallText">
                                            <span>Canada</span>
                                        </span>
                                        <span class="shelter-single-page-text092 MontserratRegularSmallText">
                                            <span>Alaksa</span>
                                        </span>
                                        <span class="shelter-single-page-text094 MontserratRegularSmallText">
                                            <span>France</span>
                                        </span>
                                        <span class="shelter-single-page-text096 MontserratMedium14px">
                                            <span>Iceland</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="shelter-single-page-frame2608744">
                                    <span class="shelter-single-page-text098 TradeGothicBoldH6">
                                        <span>Our Activities</span>
                                    </span>
                                    <div class="shelter-single-page-frame2608777">
                                        <span class="shelter-single-page-text100 MontserratRegularSmallText">
                                            <span>Northern Lights</span>
                                        </span>
                                        <span class="shelter-single-page-text102 MontserratRegularSmallText">
                                            <span>Cruising &amp; sailing</span>
                                        </span>
                                        <span class="shelter-single-page-text104 MontserratRegularSmallText">
                                            <span>Multi-activities</span>
                                        </span>
                                        <span class="shelter-single-page-text106 MontserratRegularSmallText">
                                            <span>Kayaing</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="shelter-single-page-frame26087471">
                                    <span class="shelter-single-page-text108 TradeGothicBoldH6">
                                        <span>Travel Blogs</span>
                                    </span>
                                    <div class="shelter-single-page-frame2608778">
                                        <span class="shelter-single-page-text110 MontserratRegularSmallText">
                                            <span>Bali Travel Guide</span>
                                        </span>
                                        <span class="shelter-single-page-text112 MontserratRegularSmallText">
                                            <span>Sri Lanks Travel Guide</span>
                                        </span>
                                        <span class="shelter-single-page-text114 MontserratRegularSmallText">
                                            <span>Peru Travel Guide</span>
                                        </span>
                                        <span class="shelter-single-page-text116 MontserratRegularSmallText">
                                            <span>Bali Travel Guide</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="shelter-single-page-frame2608745">
                                    <span class="shelter-single-page-text118 TradeGothicBoldH6">
                                        <span>About Us</span>
                                    </span>
                                    <div class="shelter-single-page-frame2608779">
                                        <span class="shelter-single-page-text120 MontserratRegularSmallText">
                                            <span>Our Story</span>
                                        </span>
                                        <span class="shelter-single-page-text122 MontserratRegularSmallText">
                                            <span>Work with us</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="shelter-single-page-frame2608746">
                                    <span class="shelter-single-page-text124 TradeGothicBoldH6">
                                        <span>Contact Us</span>
                                    </span>
                                    <div class="shelter-single-page-frame2608780">
                                        <span class="shelter-single-page-text126 MontserratRegularSmallText">
                                            <span>Our Story</span>
                                        </span>
                                        <span class="shelter-single-page-text128 MontserratRegularSmallText">
                                            <span>Work with us</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shelter-single-page-copyrightfootnote">
                        <span class="shelter-single-page-text130 MontserratRegularSmallerText">
                            <span>
                                Copyright © 2023 All Rights Reserved. In association with
                                IamThehackerman.com
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>