<!DOCTYPE html>
<html lang="english">

<head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p,
        li,
        ul,
        pre,
        div,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        figure,
        blockquote,
        figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button,
        select {
            text-transform: none;
        }

        /* button,
        [type="button"],
        [type="reset"],
        [type="submit"] {
            -webkit-appearance: button;
        } */

        button::-moz-focus-inner,
        [type="button"]::-moz-focus-inner,
        [type="reset"]::-moz-focus-inner,
        [type="submit"]::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        button:-moz-focus,
        [type="button"]:-moz-focus,
        [type="reset"]:-moz-focus,
        [type="submit"]:-moz-focus {
            outline: 1px dotted ButtonText;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);

        }
    </style>
    <link rel="stylesheet"   href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        data-tag="font" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        data-tag="font" />



    <link href="/../assets/style/head.css" rel="stylesheet" />
    <link href="/../assets/style/head1.css" rel="stylesheet" />

    <link href="/../assets/style/body.css" rel="stylesheet" />
    <link href="/../assets/style/body1.css" rel="stylesheet" />

    <link href="/../assets/style/footer.css" rel="stylesheet" />
    <link href="/../assets/style/footer1.css" rel="stylesheet" />

   


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</head>

<body>


    <!------------------ head ------------------------>

    <div>
        <div class="hero-container">
            <div class="hero-hero">
                <div class="hero-group2">
                    <img alt="Rectangle317179" src="./assets/public/playground_assets/rectangle317179-3rt9-1400w.png"
                        class="hero-rectangle31" />
                    <!--  <img
              alt="Rectangle327179"
              src="./assets/public/playground_assets/rectangle327179-vj3v-600h.png"
              class="hero-rectangle32"
            /> -->
                    <div class="hero-frame38">
                        <img alt="Line47179" src="./assets/public/playground_assets/line47179-k0ux.svg" class="hero-line4" />
                        <div class="hero-frame2608739">
                            <div class="hero-frame2608738">
                                <div class="hero-frame2608721"> 
                                    <img alt="Dogs7180" src="./assets/public/playground_assets/dogs7180-u199.svg"
                                        class="hero-dogs" />
                                    <span class="hero-text MontserratSemibold16px">
                                        <span>Dogs</span>
                                    </span>
                                </div>
                                <img alt="Line17180" src="./assets/public/playground_assets/line17180-rrb4.svg"
                                    class="hero-line1" />
                                <div class="hero-frame2608722">
                                    <div class="hero-ionbed">
                                        <img alt="Cats7258" src="./assets/public/playground_assets/cats7258-p5ax.svg"
                                            class="hero-cats" />
                                    </div>
                                    <span class="hero-text02 MontserratSemibold16px">
                                        <span>Cats</span>
                                    </span>
                                </div>
                                <img alt="Line27261" src="./assets/public/playground_assets/line27261-oug.svg"
                                    class="hero-line2" />
                                <div class="hero-frame2608723">
                                    <div class="hero-ionbed1">
                                        <img alt="building7261" src="./assets/public/playground_assets/building7261-pr9j.svg"
                                            class="hero-building" />
                                    </div>
                                    <span class="hero-text04 MontserratSemibold16px">
                                        <span>Organization</span>
                                    </span>
                                </div>
                            </div>
                            <div class="hero-frame40">
                                <div class="hero-textfield">
                                    <div class="hero-textfield1">
                                        <div class="hero-statelayer">
                                            <div class="hero-content">

                                              

                                                        <form method="get" (ngSubmit)="searchanimauxadd()" name="form" #f="ngForm" novalidate>
                                                        
                                                            <input type="text" placeholder="Nowy Targ, Poland" name="addrs" [(ngModel)]="form.addrs" #addrs="ngModel"
                                                                (ngModelChange)="searchanimauxadd()"  class="hero-inputtext">
                                                        </form>


                                                <div class="hero-labeltext">
                                                    <span class="hero-text06 MontserratRegular14px">
                                                        <span>Location</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="hero-trailingicon">
                                                <img alt="LocationI718"
                                                    src="./assets/public/playground_assets/locationi718-8k4m.svg"
                                                    class="hero-location" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hero-textfield2">
                                    <div class="hero-textfield3">
                                        <div class="hero-statelayer1">
                                            <div class="hero-content1">
                                               

                    <form method="get" (ngSubmit)="searchanimauxBreed()" name="form" #f="ngForm" novalidate>
                    
                        <input type="text" placeholder="Type Your Favorite Breed" name="bred" [(ngModel)]="form.bred" #bred="ngModel"
                            (ngModelChange)="searchanimauxBreed()">
                    </form>




                                                <div class="hero-labeltext1">
                                                    <span class="hero-text08 MontserratRegular14px">
                                                        <span>Breeds</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="hero-trailingicon1">
                                                <img alt="chevrondownI718"
                                                    src="./assets/public/playground_assets/chevrondowni718-kgpx.svg"
                                                    class="hero-chevrondown" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hero-textfield4">
                                    <div class="hero-textfield5">
                                        <div class="hero-statelayer2">
                                            <div class="hero-content2">
                                                
                                                <form method="get" (ngSubmit)="searchanimauxAge()" name="form" #f="ngForm" novalidate>
                                                
                                                    <input type="number" min="1" max="100" placeholder="Any" name="age" [(ngModel)]="form.age" #age="ngModel"
                                                        (ngModelChange)="searchanimauxAge()"class="hero-inputtext2">
                                                </form>
                                                <div class="hero-labeltext2">
                                                    <span class="hero-text10 MontserratRegular14px">
                                                        <span>Age</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="hero-trailingicon2">
                                                <img alt="chevrondownI726"
                                                    src="./assets/public/playground_assets/chevrondowni726-mi.svg"
                                                    class="hero-chevrondown1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hero-textfield6">
                                    <div class="hero-textfield7">
                                        <div class="hero-statelayer3">
                                            <div class="hero-content3">
                                              

                                                <form method="get" (ngSubmit)="searchanimauxSize()" name="form" #f="ngForm" novalidate>
                                                
                                                    <input type="text" placeholder="Any" name="size" [(ngModel)]="form.size" #size="ngModel"
                                                        (ngModelChange)="searchanimauxSize()"class="hero-inputtext3">
                                                </form>
                                                        
                                                <div class="hero-labeltext3">
                                                    <span class="hero-text12 MontserratRegular14px">
                                                        <span>Size</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="hero-trailingicon3">
                                                <img alt="chevrondownI718"
                                                    src="./assets/public/playground_assets/chevrondowni718-1ik.svg"
                                                    class="hero-chevrondown2" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

<!-- *ngIf="showall" -->
                        <div class="hero-frame46" >
                            <button class="hero-button">
                                <div class="hero-stylelayer">
                                    <img alt="systemuiconsfilteringI725"
                                        src="./assets/public/playground_assets/systemuiconsfilteringi725-ogs.svg"
                                        class="hero-systemuiconsfiltering" />
                                    <span class="hero-text14 MontserratMedium14px">
                                        <span>More</span>
                                    </span>
                                </div>
                            </button>
                            <button class="hero-button1">
                                <div class="hero-stylelayer1">
                                    <img alt="SearchI111" src="./assets/public/playground_assets/searchi111-lgdf.svg"
                                        class="hero-search" />
                                    <span class="hero-text16 MontserratMedium14px">
                                        <span> Search</span>
                                    </span>
                                </div>
                            </button>
                        </div>


                    </div>
                    <div class="hero-frame2608753">
                        <div class="hero-frame2608752">
                            <span class="hero-text18"><span>Welcome to</span></span>
                            <span class="hero-text20">
                                <span>THE FUTURE OF ADOPTION</span>
                            </span>
                        </div>
                        <span class="hero-text22 MontserratSemibold20px">
                            <span>
                                Our platform is designed to make the process of finding your
                                perfect pet easier and more efficient. With advanced facial
                                recognition technology, you can quickly find the right pet for
                                you and match it with potential adopters.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="hero-header-default">
                    <div class="hero-frame22">
                        <div class="hero-frame20">
                            <img alt="ExploreI725" src="./assets/public/playground_assets/explorei725-1j2t.svg"
                                class="hero-explore" />
                            <span class="hero-text24 MontserratSemibold14px">
                                <span><a href="/listing/Lost-Pet">I’ve Lost Pets</a></span>
                            </span>
                        </div>
                        <div class="hero-frame21">
                            <img alt="materialsymbolssearchroundedI725"
                                src="./assets/public/playground_assets/materialsymbolssearchroundedi725-ycx.svg"
                                class="hero-materialsymbolssearchrounded" />
                            <span class="hero-text26 MontserratSemibold14px">
                                <span><a href="/listing/found-Pet">I’ve Found Pets</a></span>
                            </span>
                        </div>
                    </div>
                    <div class="hero-logo">
                        <div class="hero-group">
                            <img alt="TemporaryLogoI725" src="./assets/public/playground_assets/temporarylogoi725-zm7n-200h.png"
                                class="hero-temporary-logo" />
                        </div>
                        <img alt="LI725" src="./assets/public/playground_assets/li725-il3h.svg" class="hero-l" />
                        <img alt="GI725" src="./assets/public/playground_assets/gi725-kvxm.svg" class="hero-g" />
                        <img alt="OI725" src="./assets/public/playground_assets/oi725-0t9p.svg" class="hero-o" />
                    </div>
                    <div class="hero-frame24">
                <a style="text-decoration: none;" href="listing/Search">   <span class="hero-text28 MontserratSemibold14px">
                            <span>Breeds</span>
                        </span>
                        </a>
                        <span class="hero-text30 MontserratSemibold14px">
                        
                            <span> <a style="text-decoration: none;" href="listing/Search">Search Pets</a></span>
                        </span>


 
        <a href="/auth/login" style="text-decoration: none;"> 
                        <span   *ngIf="!isLoggedIn" class="hero-text32 MontserratSemibold14px">
                            <span>Login</span>
                        </span>
          </a>
        <a href="/auth/registre">
                        <button  style="
                         height: 48px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(38, 92, 98, 1); 
    color:white
    
    " class="btn btn" type="button" *ngIf="!isLoggedIn">
                        
                        
                            <span>Sign Up</span>
                        
                        
                        </button>
                        </a>
                        <a style="text-decoration: none;" (click)="logout()" href  > <span *ngIf="isLoggedIn" class="hero-text32 MontserratSemibold14px">
                            <span>Logout</span>
                        </span> 
                    </a>
<a style="text-decoration: none;"   href="Account">
                        <button style="color: rgb(78, 67, 67);" class="btn btn-outline-success" type="button"  *ngIf="isLoggedIn"  >
                            
                            
                                    <span>{{this.eee}}</span>
                         
                            
                        </button>
                    </a>
                     







                    </div>
                    <img alt="Rectangle5I725" src="./assets/public/playground_assets/rectangle5i725-df6d-200h.png"
                        class="hero-rectangle5" />
                </div>
            </div>
        </div>
    </div>
















    <!------------------ body ------------------------>



    <div>


        <div class="contents-container">

            <div class="contents-contents">

                <div class="contents-recently-uploaded-pets">








                    <div class="contents-heading">
                        <div class="contents-frame47">
                            <div class="contents-frame19">
                                <span class="contents-text MontserratSemiBoldH3">
                                    <span>Recently Upload Pets For Adoption</span>
                                </span>
                                <span class="contents-text002 MontserratRegularBody">
                                    <span>
                                        Find Your Next Furry Companion Today Among Recently
                                        Uploaded Adoptable Pets
                                    </span>
                                </span>
                            </div>
                            <button class="contents-button">
                                <div class="contents-frame2">
                                 <a style="text-decoration: none;" href="listing/Search">   <span class="contents-text004 MontserratMedium14px">
                                        <span>See More</span>
                                    </span>
                                    </a>
                                </div>
                            </button>
                        </div>
                    </div>

 
<div class="row">
                    <div class="col-sm" class="contents-pet-list" *ngFor="let anim of displayedItems" >
                        <!-- <img alt="Rectangle37I735" src="./assets/public/playground_assets/rectangle37i735-g0vq-400w.png"
                            class="contents-rectangle37" /> -->
                        <div class="contents-frame2608764">
                            
<img alt="PetImageI735" src="{{anim.image}} " class="contents-pet-image" />


                            <div>
                                <div>
                                    <span class="contents-text006 TradeGothicBoldH4">
                                        <span *ngIf="anim.name">{{anim.name}} </span>
                                        <span *ngIf="!anim.name">Pet Found </span>
                                     
                                    </span>
                                    <div>
                                        <span class="contents-text008 MontserratMedium14px">
                                            <span>
                                            {{anim.descri}}
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="contents-frame2608762">
                                    <div class="contents-frame2608759">
                                        <div class="contents-frame2608761">
                                            <span class="contents-text010 TradeGothicBold14px">
                                                <span>Breed: {{anim.bred}}</span>
                                            </span>
                                            <span class="contents-text012 MontserratMedium12px">
                                                <span>Gender: {{anim.gender}}</span>
                                            </span>
                                        </div>
                                        <div class="contents-organization-logoand-name">
                                            <img alt="arcticonspetrocanadaI735"
                                                src="./assets/public/playground_assets/arcticonspetrocanadai735-jjt.svg"
                                                class="contents-arcticonspetrocanada" />
                                            <span class="contents-text014 TradeGothicBold12px">
                                                <span>Petro</span>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="contents-text016 TradeGothicBold14px">
                                       <a href="Single-Page/Pet/{{anim.id}}">
                                        <span>See Detail</span>
                                       </a> 
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                
                    </div>
    <p class="contents-pet-list" *ngIf="nondata">No Data Found</p>

 
                 
                </div>




 


                <div class="contents-lost-pet">
                    <div class="contents-heading1">
                        <div class="contents-frame471">
                            <div class="contents-frame191">
                                <span class="contents-text042 MontserratSemiBoldH3">
                                    <span>Lost Pets</span>
                                </span>
                                <span class="contents-text044 MontserratRegularBody">
                                    <span>
                                        Find Your Next Furry Companion Today Among Recently
                                        Uploaded Adoptable Pets
                                    </span>
                                </span>
                            </div>
                            <button class="contents-button1">
                                <div class="contents-frame21">
                                   <a style="text-decoration: none;" href="listing/Lost-Pet"> <span class="contents-text046 MontserratMedium14px">
                                        <span>See More</span>
                                    </span>
                                    </a>
                                </div>
                            </button>
                        </div>
                    </div>


<div class="row">
                    <div class="col-sm" class="contents-vertical-lost-pet-card"   *ngFor="let animl of displayedItemslost">
                        <!-- <img alt="Rectangle37I736" src="./assets/public/playground_assets/rectangle37i736-pj99-400w.png"
                            class="contents-rectangle373" /> -->
                        <div class="contents-frame26087643">
                            <img alt="PetImageI736" src="{{animl.image}}" 
                                class="contents-pet-image3" />
                            <div class="contents-frame26087633">
                                <div class="contents-frame26087563">
                                    <span class="contents-text048 TradeGothicBoldH4">
                                        <span>  {{animl.name}} </span>
                                    </span>
                                    <div class="contents-frame26087573">
                                        <span class="contents-text050 MontserratMedium14px">
                                            <span>
                                            {{animl.descri}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="contents-frame26087623">
                                    <div class="contents-frame26087593">
                                        <div class="contents-frame26087613">
                                            <span class="contents-text052 TradeGothicBold14px">
                                                <span>Breed: {{animl.bred}}</span>
                                            </span>
                                            <span class="contents-text054 MontserratMedium12px">
                                                <span>Gender: {{animl.gender}}</span>
                                            </span>
                                        </div>
                                        <div class="contents-organization-logoand-name3">
                                            <span class="contents-text056 TradeGothicBold12px">
                                                <span>Date Lost : {{animl.datelost}}</span>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="Single-Page/Lost/{{animl.id}}">
                                    <span class="contents-text058 TradeGothicBold14px">
                                        <span>See Detail</span>
                                    </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

<p class="contents-vertical-lost-pet-card" *ngIf="nondatalost">No Data Found</p>

</div>
                </div>




                <div class="contents-howitwork">
                    <div class="contents-frame2608785">
                        <img alt="ImageBG2010" src="./assets/public/playground_assets/imagebg2010-tq2g-500h.png"
                            class="contents-image-bg" />
                        <img alt="Image2011" src="./assets/public/playground_assets/image2011-xgsb-500h.png"
                            class="contents-image" />
                        <img alt="materialsymbolsplaycircle2011"
                            src="./assets/public/playground_assets/materialsymbolsplaycircle2011-27np.svg"
                            class="contents-materialsymbolsplaycircle" />
                    </div>
                    <div class="contents-group1">
                        <span class="contents-text084 MontserratSemiBoldH3">
                            <span>
                                Helping Reunite Lost and Found Pets with Their Owners with AI
                                Technology
                            </span>
                        </span>
                        <span class="contents-text086 MontserratRegularBody">
                            <span>
                                <span>
                                    Lost and found pet posting: Post information about lost or
                                    found pets and search for matching reports
                                </span>
                                <br />
                                <span>
                                    Facial recognition for pets: Match your pet with potential
                                    adopters using cutting-edge technology
                                </span>
                                <br />
                                <span>
                                    Face recognition login: Log in securely and conveniently
                                    with face recognition technology
                                </span>
                            </span>
                        </span>
                        <button class="contents-button2">
                            <div class="contents-stylelayer">
                                <span class="contents-text093 MontserratMedium14px">
                                    <span>See More</span>
                                </span>
                            </div>
                        </button>
                    </div>
                </div>




                <div class="contents-found-pets">
                    <div class="contents-heading2">
                        <div class="contents-frame472">
                            <div class="contents-frame192">
                                <span class="contents-text095 MontserratSemiBoldH3">
                                    <span>Found Pets</span>
                                </span>
                                <span class="contents-text097 MontserratRegularBody">
                                    <span>Help them find their home</span>
                                </span>
                            </div>
                            <button class="contents-button3">
                                <div class="contents-frame22">
                                <a style="text-decoration: none;" href="listing/found-Pet">  
                                     <span class="contents-text099 MontserratMedium14px">
                                        <span>See More</span>
                                    </span>
                                    </a>
                                </div>
                            </button>
                        </div>
                    </div>


                <div class="row">
                    <div class="col-sm" *ngFor="let animf of displayedItemsfound" class="contents-vertical-found-pet-card">
                        
                        <div class="contents-frame26087646">
                            <img alt="PetImageI737" src="{{animf.image}}"
                                class="contents-pet-image6" />

                            <div class="contents-frame26087636">
                                <div class="contents-frame26087566">
                                    <span class="contents-text101 TradeGothicBoldH4">
                                        <span>Found</span>
                                    </span>
                                    <div class="contents-frame26087576">
                                        <span class="contents-text103 MontserratMedium14px">
                                            <span>
                                            {{animf.descri}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="contents-frame26087626">
                                    <div class="contents-frame26087596">
                                        <div class="contents-frame26087616">
                                            <span class="contents-text105 TradeGothicBold14px">
                                                <span>{{animf.bred}}</span>
                                            </span>
                                            <span class="contents-text107 MontserratMedium12px">
                                                <span>{{animf.gender}}</span>
                                            </span>
                                        </div>
                                        <div class="contents-organization-logoand-name6">
                                            <span class="contents-text109 TradeGothicBold12px">
                                                <span>Date Found : {{animf.datefound}}</span>
                                            </span>
                                        </div>
                                    </div>
                                  <a href="Single-Page/Found/{{animf.id}}">
                                      <span class="contents-text111 TradeGothicBold14px">
                                        <span>See Detail</span>
                                    </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>




<p class="contents-vertical-found-pet-card" *ngIf="nondatafound">No Data Found</p>



                    </div>
                </div>






                <div class="contents-frame2608784">
                    <div class="contents-frame2608783">


<div class="row">
    <div class="col" *ngFor="let animb of displayedItems" class="contents-small-card">
                            <div class="contents-frame74">
                                <img alt="Rectangle3I101" src="{{animb.image}}"
                                    class="contents-rectangle3" />
                            </div>
                            <div class="contents-frame196">
                                <span class="contents-text137 MontserratSemibold16px">
                                    <span>{{animb.bred}}</span>
                                </span>
                                <div class="contents-frame2608766">
                                    <span class="contents-text139 MontserratMedium14px">
                                        <span>{{animb.distmarkings}}</span>
                                    </span>
                                    <!-- <span class="contents-text141 MontserratMedium14px">•</span>
                                    <span class="contents-text142 MontserratMedium14px">
                                        <span>{{animb.distmarkings}}</span>
                                    </span>
                                    <span class="contents-text144 MontserratMedium14px">•</span>
                                    <span class="contents-text145 MontserratMedium14px">
                                        <span>{{animb.distmarkings}}</span>
                                    </span> -->
                                </div>
                            </div>
                        </div> 

    <p class="contents-vertical-found-pet-card" *ngIf="nondata">No Data Found</p>
                        </div>


 
   
                        
                    </div>
                    <div class="contents-lost-pet1">
                        <div class="contents-heading3">
                            <div class="contents-frame473">
                                <div class="contents-frame193">
                                    <span class="contents-text227 MontserratSemiBoldH3">
                                        <span>Breeds</span>
                                    </span>
                                    <span class="contents-text229 MontserratRegularBody">
                                        <span>Find Pets by Breeds</span>
                                    </span>
                                </div>
                                <button class="contents-button4">
                                    <div class="contents-frame23">
                                        <a style="text-decoration: none;" href="listing/Search"> <span class="contents-text231 MontserratMedium14px">
                                            <span>See More</span>
                                        </span>
                                        </a>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="contents-tabs">
                        <div class="contents-frame2608721">
                            <img alt="Dogs1312" src="./assets/public/playground_assets/dogs1312-k558.svg"
                                class="contents-dogs" />
                            <span class="contents-text233 MontserratSemibold16px">
                                <span>Dogs</span>
                            </span>
                        </div>
                        <img alt="Line11312" src="./assets/public/playground_assets/line11312-yx4o.svg" class="contents-line1" />
                        <div class="contents-frame2608722">
                            <div class="contents-ionbed">
                                <img alt="Cats1312" src="./assets/public/playground_assets/cats1312-6o0q.svg"
                                    class="contents-cats" />
                            </div>
                            <span class="contents-text235 MontserratSemibold16px">
                                <span>Cats</span>
                            </span>
                        </div>
                    </div>
                </div>






                <div class="contents-frame118">
                    <div class="contents-frame474">
                        <div class="contents-frame194">
                            <span class="contents-text237 MontserratSemibold32px">
                                <span>Trusted Pet Adoption Organizations</span>
                            </span>
                            <span class="contents-text239 MontserratRegular16px">
                                <span>
                                    Find Your Furry Friend at These Reliable and Caring Shelters
                                    and Rescues
                                </span>
                            </span>
                        </div>
                        <button class="contents-button5">
                            <div class="contents-frame24">
                                <span class="contents-text241 MontserratMedium14px">
                                    <span>See More</span>
                                </span>
                            </div>
                        </button>
                    </div>
                    <div class="contents-frame114">
                        <div class="contents-frame93">
                            <div class="contents-frame92">
                                <div class="contents-frame106">
                                    <span class="contents-text243 TradeGothicBold40px">
                                        <span>Pet Care Organizations</span>
                                    </span>
                                </div>
                                <span class="contents-text245 MontserratRegular14px">
                                    <span>
                                        Adopt a furry companion from one of these trusted
                                        organizations. These shelters and rescues are dedicated to
                                        finding loving homes for pets in need. With a variety of
                                        breeds and species to choose from, you're sure to find the
                                        perfect pet. Each organization offers a safe and caring
                                        environment for the animals in their care. Start your pet
                                        adoption journey today and give a deserving animal a
                                        second chance at a happy life.
                                    </span>
                                </span>
                            </div>
                            <button class="contents-button6">
                                <div class="contents-stylelayer1">
                                    <span class="contents-text247 MontserratMedium14px">
                                        <span>See All Organizations</span>
                                    </span>
                                </div>
                            </button>
                        </div>
                        <div class="contents-frame115">
                            <div class="contents-frame111">
                                <img alt="Rectangle37382" src="./assets/public/playground_assets/rectangle37382-h83e-200h.png"
                                    class="contents-rectangle309" />
                                <img alt="Rectangle37382" src="./assets/public/playground_assets/rectangle37382-qxw-200h.png"
                                    class="contents-rectangle310" />
                            </div>
                            <div class="contents-frame1111">
                                <img alt="Rectangle37383" src="./assets/public/playground_assets/rectangle37383-ggn-200h.png"
                                    class="contents-rectangle311" />
                                <img alt="Rectangle37383" src="./assets/public/playground_assets/rectangle37383-8m7k-200h.png"
                                    class="contents-rectangle312" />

                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br>









    <!------------------ footer ------------------------>

    <div>

        <div class="footer-container">
            <div class="footer-footer">
                <div class="footer-frame2608782">
                    <div class="footer-frame2608747">
                        <div class="footer-frame2608743">
                            <span class="footer-text TradeGothicBoldH1">
                                <span>Subscribe Newsletter</span>
                            </span>
                            <div class="footer-frame2608755">
                                <div class="footer-frame26087431">
                                    <span class="footer-text02 MontserratRegularH5">
                                        <span>Pets News</span>
                                    </span>
                                    <span class="footer-text04 MontserratRegularBody">
                                        <span>
                                            Subscribe to Our Newsletter Now for Exclusive Adoption
                                            Updates and Pet Care Tips!
                                        </span>
                                    </span>
                                </div>
                                <div class="footer-frame2608741">
                                    <div class="footer-textfield">
                                        <div class="footer-textfield1">
                                            <div class="footer-statelayer">
                                                <div class="footer-content">
                                                    <div class="footer-labeltext">
                                                        <span    class="footer-text06 MontserratRegularBody">
                                                            <!-- <span>Your email address</span> -->
                                                            <input type="text" placeholder="your email address"
                                                          >
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="footer-button">
                                        <div class="footer-stylelayer">
                                            <span class="footer-text08 MontserratMedium14px">
                                                <span>Subscribe</span>
                                            </span>
                                        </div>
                                    </button>
                                    <button class="footer-button1"></button>
                                </div>
                            </div>
                        </div>
                        <img alt="emojionev1openmailboxwithloweredflagI733"
                            src="./assets/public/playground_assets/emojionev1openmailboxwithloweredflagi733-yor.svg"
                            class="footer-emojionev1openmailboxwithloweredflag" />
                    </div>
                    <div class="footer-frame2608748">
                        <div class="footer-frame2608750">
                            <div class="footer-logo">
                                <div class="footer-group">
                                    <img alt="TemporaryLogoI733"
                                        src="./assets/public/playground_assets/temporarylogoi733-cjk-200h.png"
                                        class="footer-temporary-logo" />
                                </div>
                                <img alt="LI733" src="./assets/public/playground_assets/li733-aobc.svg" class="footer-l" />
                                <img alt="GI733" src="./assets/public/playground_assets/gi733-sxh.svg" class="footer-g" />
                                <img alt="OI733" src="./assets/public/playground_assets/oi733-az4o.svg" class="footer-o" />
                            </div>
                            <div class="footer-frame2608749">
                                <div class="footer-akariconsfacebookfill">
                                    <div class="footer-group1">
                                        <div class="footer-group2"></div>
                                    </div>
                                </div>
                                <div class="footer-akariconsyoutubefill">
                                    <div class="footer-group3">
                                        <div class="footer-group4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-frame26087481">
                            <div class="footer-frame2608742">
                                <span class="footer-text10 TradeGothicBoldH6">
                                    <span>Our Destinations</span>
                                </span>
                                <div class="footer-frame2608776">
                                    <span class="footer-text12 MontserratRegularSmallText">
                                        <span>Canada</span>
                                    </span>
                                    <span class="footer-text14 MontserratRegularSmallText">
                                        <span>Alaksa</span>
                                    </span>
                                    <span class="footer-text16 MontserratRegularSmallText">
                                        <span>France</span>
                                    </span>
                                    <span class="footer-text18 MontserratMedium14px">
                                        <span>Iceland</span>
                                    </span>
                                </div>
                            </div>
                            <div class="footer-frame2608744">
                                <span class="footer-text20 TradeGothicBoldH6">
                                    <span>Our Activities</span>
                                </span>
                                <div class="footer-frame2608777">
                                    <span class="footer-text22 MontserratRegularSmallText">
                                        <span>Northern Lights</span>
                                    </span>
                                    <span class="footer-text24 MontserratRegularSmallText">
                                        <span>Cruising &amp; sailing</span>
                                    </span>
                                    <span class="footer-text26 MontserratRegularSmallText">
                                        <span>Multi-activities</span>
                                    </span>
                                    <span class="footer-text28 MontserratRegularSmallText">
                                        <span>Kayaing</span>
                                    </span>
                                </div>
                            </div>
                            <div class="footer-frame26087471">
                                <span class="footer-text30 TradeGothicBoldH6">
                                    <span>Travel Blogs</span>
                                </span>
                                <div class="footer-frame2608778">
                                    <span class="footer-text32 MontserratRegularSmallText">
                                        <span>Bali Travel Guide</span>
                                    </span>
                                    <span class="footer-text34 MontserratRegularSmallText">
                                        <span>Sri Lanks Travel Guide</span>
                                    </span>
                                    <span class="footer-text36 MontserratRegularSmallText">
                                        <span>Peru Travel Guide</span>
                                    </span>
                                    <span class="footer-text38 MontserratRegularSmallText">
                                        <span>Bali Travel Guide</span>
                                    </span>
                                </div>
                            </div>
                            <div class="footer-frame2608745">
                                <span class="footer-text40 TradeGothicBoldH6">
                                    <span>About Us</span>
                                </span>
                                <div class="footer-frame2608779">
                                    <span class="footer-text42 MontserratRegularSmallText">
                                        <span>Our Story</span>
                                    </span>
                                    <span class="footer-text44 MontserratRegularSmallText">
                                        <span>Work with us</span>
                                    </span>
                                </div>
                            </div>
                            <div class="footer-frame2608746">
                                <span class="footer-text46 TradeGothicBoldH6">
                                    <span>Contact Us</span>
                                </span>
                                <div class="footer-frame2608780">
                                    <span class="footer-text48 MontserratRegularSmallText">
                                        <span>Our Story</span>
                                    </span>
                                    <span class="footer-text50 MontserratRegularSmallText">
                                        <span>Work with us</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-copyrightfootnote">
                    <span class="footer-text52 MontserratRegularSmallerText">
                        <span>
                            Copyright © 2023 All Rights Reserved. In association with
                            IamThehackerman.com
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>